<extend name="Public/base" />

<block name="body">       
	<div class="main-title cf">
		<h2>插件配置 [ 图片轮播 ]</h2>
	</div>
	<form action="__URL__/upload" enctype="multipart/form-data" method="post" target-form="form-horizontal">
		<div class="form-item cf">
					<label class="item-label">
						轮播间隔时间（单位 毫秒）:											</label>
						<div class="controls">
								<input name="config[second]" class="text input-large" value="3000" type="text">
							</div>
					</div><div class="form-item cf">
					<label class="item-label">
						图片滚动方向:											</label>
						<div class="controls">
								<label class="radio">
										<input name="config[direction]" value="horizontal" checked="" type="radio">横向滚动									</label><label class="radio">
										<input name="config[direction]" value="vertical" type="radio">纵向滚动									</label>							</div>
					</div><div class="form-item cf">
					<label class="item-label">
						容器宽度（单位　像素）											</label>
						<div class="controls">
								<input name="config[imgWidth]" class="text input-large" value="400" type="text">
							</div>
					</div><div class="form-item cf">
					<label class="item-label">
						容器高度（单位　像素）											</label>
						<div class="controls">
								<input name="config[imgHeight]" class="text input-large" value="300" type="text">
							</div>
					</div><div class="form-item cf">
					<label class="item-label">
						图片链接（一行对应一个图片）											</label>
						<div class="controls">
								<label class="textarea input-large">
									<textarea name="config[url]"></textarea>
								</label>
							</div>
					</div>
		<div class="form-item cf">
					<label class="item-label">
						轮播图片（双击可移除）											</label>
						<div class="controls">
								<input type="file" name="filename"/>
								<input name="config[images]" id="cover_id_images" value="" type="hidden">
								<div class="upload-img-box">
								</div>
						</div>		
					</div>
		<button type="submit" class="btn submit-btn" target-form="form-horizontal" >确 定</button>
	</form>
	<!-- 数据列表 -->
    <div class="data-table table-striped">
	<table class="">
    <thead>
        <tr>
		<th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
		<th class="">ID</th>
		<th class="">广告标题</th>
		<th class="">图片链接</th>
		<th class="">缩略图</th>
		<th class="">显示/隐藏</th>
		<th class="">群号</th>
		<th class="">状态</th>
		<th class="">操作</th>
		</tr>
    </thead>
    <tbody>
		<notempty name="img">
		<volist name="img" id="vo">
		<tr>
            <td><input class="ids" type="checkbox" name="id[]" value="{$vo.uid}" /></td>
			<td>{$vo.uid} </td>
			<td>{$vo.title}</td>
			<td>Uploads/{$vo.content}</td>
			<td><span><img src="Uploads/{$vo.content}" width="40" height="20" /></span></td>
			<td><span>显示</span></td>
			<td>{$vo.add_time}</td>
			<td>{$vo.status_text}</td>
			<td>
				<a href="javascript:void(0);" class="authorize">修改</a>
                <a href="#" class="confirm ajax-get">删除</a>
                </td>
		</tr>
		</volist>
		<else/>
		<td colspan="9" class="text-center"> 没有内容! </td>
		</notempty>
	</tbody>
    </table>
	</div>
</block>

<block name="script">
<script type="text/javascript">
	</script>
</block>
