<extend name="Public/base" />

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>通知消息模板</h2>
	</div>
	<div class="form-item">
            <label class="item-label">注册激活邮箱模板<span class="check-tips">（）</span></label>
            <div class="controls" >
                <textarea name="config[{$config.name}]" style="width: 400px;height: 100px;">{$config.value}</textarea>
            </div>
    </div>
    <div class="form-item">
            <label class="item-label">找回密码邮箱模板<span class="check-tips">（）</span></label>
            <div class="controls">
                <textarea name="config[{$config.name}]" style="width: 400px;height: 100px;">{$config.value}</textarea>
            </div>
    </div>
    <div class="form-item">
            <label class="item-label">注册手机短信验证模板<span class="check-tips">（）</span></label>
            <div class="controls">
                <textarea name="config[{$config.name}]" style="width: 400px;height: 100px;">{$config.value}</textarea>
            </div>
    </div>
    <div class="form-item">
            <label class="item-label">投资短信模板<span class="check-tips">（）</span></label>
            <div class="controls">
                <textarea name="config[{$config.name}]" style="width: 400px;height: 100px;">{$config.value}</textarea>
            </div>
    </div>
    <div class="form-item">
            <label class="item-label">充值成功短信模板<span class="check-tips">（）</span></label>
            <div class="controls">
                <textarea name="config[{$config.name}]" style="width: 400px;height: 100px;">{$config.value}</textarea>
            </div>
    </div>
    <div class="form-item">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
    </div>
</block>

<block name="script">
	<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>

	<script type="text/javascript">
	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
        var query  = $('.search-form').find('input').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
		window.location.href = url;
	});
	//回车搜索
	$(".search-input").keyup(function(e){
		if(e.keyCode === 13){
			$("#search").click();
			return false;
		}
	});
    //导航高亮
    highlight_subnav('{:U('User/index')}');
	</script>
</block>
