<extend name="Public/base" />

<block name="body"><form action="{:U('msgtemplet_add')}" method="post" class="form-horizontal">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>通知消息模板</h2>
	</div>

	<div class="form-item">
            <label class="item-label">注册激活邮箱模板<span class="check-tips">（）</span></label>
            <div class="controls" >
                <textarea name="jihuo" style="width: 400px;height: 100px;">{$jihuo}</textarea>
            </div>
    </div>
    <div class="form-item">
            <label class="item-label">找回密码邮箱模板<span class="check-tips">（）</span></label>
            <div class="controls">
                <textarea name="zhaohui" style="width: 400px;height: 100px;">{$zhaohui}</textarea>
            </div>
    </div>
    <div class="form-item">
            <label class="item-label">注册手机短信验证模板<span class="check-tips">（）</span></label>
            <div class="controls">
                <textarea name="zhuce" style="width: 400px;height: 100px;">{$zhuce}</textarea>
            </div>
    </div>
    <div class="form-item">
            <label class="item-label">投资短信模板<span class="check-tips">（）</span></label>
            <div class="controls">
                <textarea name="config[{$config.name}]" style="width: 400px;height: 100px;">{$config.value}</textarea>
            </div>
    </div>
    <div class="form-item">
            <label class="item-label">充值成功短信模板<span class="check-tips">（）</span></label>
            <div class="controls">
                <textarea name="config[{$config.name}]" style="width: 400px;height: 100px;">{$config.value}</textarea>
            </div>
    </div>
    <div class="form-item">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
    </div>
    </form>
</block>

<block name="script">
</block>
