<extend name="Public/base" />

<block name="body">
  <script type="text/javascript" src="/Public/static/uploadify/jquery.uploadify.min.js"></script>
  <div class="main-title cf">
    <h2>360防注/查杀</h2>
  </div>
  <form action="/admin.php?s=/Addons/saveConfig.html" class="form-horizontal" method="post">
    <div class="form-item cf">
          <label class="item-label">
                                  </label>
            <ul class="tab-nav nav">
                  <li class="current"  id="ttab1"><a href="javascript:void(0);">木马查杀</a></li><li  id="ttab2"><a href="javascript:void(0);">查杀报告</a></li>               </ul>
                <div class="tab-content">
                <div id="tab1" class="tab-pane tab1 in">
                    <label class="item-label">
                      是否启用采集插件:                     <span class="check-tips">必须在这里开启以后才能使用此功能</span>                    </label>
                    <div class="controls">
                      <label class="radio">
                              <input name="config[codelogin]" value="1" checked="" type="radio">开启                            </label><label class="radio">
                              <input name="config[codelogin]" value="0" type="radio">关闭                           </label>                      </div>
                              <div class="form2">
      <form method="post" action="__URL__/updateConfig">
    <dl class="lineD" >
      <dt>查杀目录：</dt>
      <dd>
        <ul class="dirBox">
          <volist name='dirs' id='vo'>
          <li>
              <input type="checkbox" name="dir[]" value="{$vo.dir}" <if condition="$vo.selected eq 1">checked="checked"</if> >
                <if condition="$vo.type eq 'dir'">
              <img src="__ROOT__/Style/A/images/ico/dir.png">
                <else />
                <img src="__ROOT__/Style/A/images/ico/php.png">
                </if>
                {$vo.file}
            </li>
            </volist>
        </ul>
      </dd>
    </dl>
    <dl class="lineD" >
      <dt>文件类型：</dt>
      <dd>
        <input type="text" name="info[type]" id="type" value="{$info.type}" size="100">
      </dd>
    </dl>
    <dl class="lineD" >
      <dt>特征函数：</dt>
      <dd>
        <input type="text" name="info[func]" id="func" value="{$info.func}" size="100">
      </dd>
    </dl>
    <dl class="lineD" >
      <dt>特征代码：</dt>
      <dd>
        <input type="text" name="info[code]" id="code" value="{$info.code}" size="100">
      </dd>
    </dl>


    <div class="page_btm">
      <input type="submit" class="btn_b" value="提交" />
    </div>
    </form>
    
  </div>                  </div>
                <div id="tab2" class="tab-pane  tab2">
                    <label class="item-label">
                      关键词:                      <span class="check-tips">关键词(要采集的文章所包含的关键词，多个关键词用“|”分割)</span>                    </label>
                    <div class="controls">
                      <label class="textarea input-large">
                            <textarea name="config[KEYWORDS]"></textarea>
                          </label>                      </div><label class="item-label">
                      目标地址:                     <span class="check-tips">所要采集的目标网址（多个网址词用数字加“@”分割，如：2@http://www.topthink.com/）</span>                    </label>
                    <div class="controls">
                      <label class="textarea input-large">
                            <textarea name="config[URL]"></textarea>
                          </label>                      </div><label class="item-label">
                      列表规则:                     <span class="check-tips">正则规则(采集列表页面规则，多个正则词用数字加“@”分割)</span>                   </label>
                    <div class="controls">
                      <label class="textarea input-large">
                            <textarea name="config[LIST]"></textarea>
                          </label>                      </div><label class="item-label">
                      标题规则:                     <span class="check-tips">正则规则(采集标题规则，多个正则词用数字加“@”分割)</span>                   </label>
                    <div class="controls">
                      <label class="textarea input-large">
                            <textarea name="config[TITLE]"></textarea>
                          </label>                      </div><label class="item-label">
                      终端规则:                     <span class="check-tips">正则规则(采集正文规则，多个正则词用数字加“@”分割)</span>                   </label>
                    <div class="controls">
                      <label class="textarea input-large">
                            <textarea name="config[CONTENT]"></textarea>
                          </label>                      </div>                  </div>                </div>
          </div>        <input name="id" value="39" readonly="" type="hidden">
    <button type="submit" class="btn submit-btn ajax-post" target-form="form-horizontal">确 定</button>
    <button style="display: none;" class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
  </form>
</block>

<block name="script">
	<script src="__STATIC__/jquery-2.0.3.js"></script>

	<script type="text/javascript">
  //选项卡切换
      $("#ttab1").click(function(){
              $(this).addClass("current");
              $("#ttab2").removeClass("current");
              $("#tab1").addClass("in");
              $("#tab2").removeClass("in");
              
       });
       $("#ttab2").click(function(){
              $(this).addClass("current");
              $("#ttab1").removeClass("current");
              $("#tab2").addClass("in");
              $("#tab1").removeClass("in");
              
       });

	</script>
</block>
