<!--zh_cont_l-->
<div class="zh_cont_l">
	<!--<ul>
		<li
			style="color: #ef681f; overflow: hidden; background: url(__PUBLIC__/Home/images/zh_cont_l_ul_li_bg.png) no-repeat left 15px; height: 72px;"
			class="head"><a class="current" href="{:U('Member/Index')}"
			style="color: #fff; display: block; width: 114px; height: 56px; line-height: 56px; border-top: 1px solid #ddd; padding-top: 15px; float: right;">个人中心</a></li>	
			
			<li><a href="{:U('Userinfo/userselfset')}">基本认证</a></li>
			
	</ul>

	<ul>
		<li class="head"><a href="{:U('Home/User/profile')}"
			style="color: #fff;">安全设置</a></li>
		<li><a href="{:U('Userinfo/userchagerwithdraw')}">充值提现</a></li>
		<li><a href="{:U('Invest/autoinvest')}">自动投标</a></li>
		<li><a href="{:U('Friends/friends')}">好友管理</a></li>
		<li><a href="{:U('System/usermailindex')}">通知管理</a></li>
	</ul>

	<ul>
		<li class="head" style="color: #fff;">借款管理</li>
		<li><a href="{:U('Borrow/myborrowmanager')}">我的借款</a></li>
		<li><a href="{:U('Borrow/borrowmanager')}">还款明细</a></li>
		<li><a href="{:U('Finance/borrowloanstatis')}">借款统计</a></li>
	</ul>
	<ul style="border-bottom: 0;">
		<li style="color: #fff;" class="head">投资管理</li>
		<li><a href="{:U('Invest/investindex')}">我的投资</a></li>
		<li><a href="{:U('Finance/financestatis')}">投标统计</a></li>
		<li class="tipshang">关注投标</li>
		
	</ul>-->

	<ul>
		<li
			style="color: #ef681f; overflow: hidden; background: url(__PUBLIC__/Home/images/zh_cont_l_ul_li_bg.png) no-repeat left 15px; height: 72px;"
			class="head"><a href="javascript:;"
			style="color: #fff; display: block; width: 114px; height: 56px; line-height: 50px; border-top: 1px solid #ddd; padding-top: 15px; float: right; cursor: auto;">个人中心</a></li>
		<li><a href="{:U('Member/Index')}">账户详情</a></li>
		<li><a href="{:U('Member/Userinfo/userselfset')}">基本认证</a></li>
		<li><a href="{:U('Home/User/profile')}">安全设置</a></li>
		<li><a href="{:U('System/usermailindex')}">消息中心</a></li>
	</ul>

	<ul>
		<li style="color: #fff; cursor: auto;" class="head">借款管理</li>
		<li><a href="{:U('Member/Borrow/myborrowapply')}">申请记录</a></li>
		<li><a href="{:U('Member/Borrow/myborrowmanager')}">借款记录</a></li>
		<li><a href="{:U('Member/Borrow/borrowmanager')}">还款记录</a></li>
		<li><a href="{:U('Member/Finance/borrowloanstatis')}">借款统计</a></li>
	</ul>

	<ul>
		<li style="color: #fff; cursor: auto;" class="head">投资管理</li>
		<li><a href="{:U('Member/Invest/investindex')}">投资记录</a></li>
		<li><a href="{:U('Member/Finance/financestatis')}">投标统计</a></li>
		<li class="tipshang"><a href="{:U('Member/Invest/autoinvest')}">自动投标</a></li>
	</ul>

	<ul>
		<li class="head" style="color: #fff; cursor: auto;">资金管理</li>
		<li><a href="{:U('Member/Userinfo/userchagerwithdraw')}">资金明细</a></li>
		<li><a href="{:U('Member/Userinfo/userbankset')}">银行卡设置</a></li>
		<li><a href="{:U('Member/System/recharge')}">充值提现</a></li>
	</ul>

	<ul style="border-bottom: 0;">
		<li class="head" style="color: #fff; cursor: auto;">推广管理</li>
		<li><a href="">友情推广</a></li>
		<li><a href="">推广管理</a></li>
	</ul>

</div>
<!--zh_cont_r-->
