<!--zh_cont_l-->
<div class="zh_cont_l">
	<ul style="padding-top: 16px;">
		<li class="head" style="background:#e9e9e9 url(__PUBLIC__/Home/images/icons_head.png) no-repeat 8px 14px;">账户管理</li>
		<li class="current" style="background:url(__PUBLIC__/Home/images/icons_aside.png) no-repeat 25px 20px;"><a href="{:U('Member/Index/Index')}">个人中心</a></li>
		<li style="background:url(__PUBLIC__/Home/images/icons_aside.png) no-repeat 25px -66px;"><a href="{:U('Home/User/profile')}">安全认证</a></li>
		<li style="background:url(__PUBLIC__/Home/images/icons_aside.png) no-repeat 25px -110px;"><a href="{:U('Member/System/usermailindex')}">消息中心</a></li>
	</ul>
	<ul>
		<li class="head" style="background:#e9e9e9 url(__PUBLIC__/Home/images/icons_head.png) no-repeat 8px -26px;">借款服务</li>
		<li style="background:url(__PUBLIC__/Home/images/icons_aside.png) no-repeat 25px -156px;"><a href="{:U('Member/Borrow/myborrowapply')}">借款申请</a></li>
		<li style="background:url(__PUBLIC__/Home/images/icons_aside.png) no-repeat 25px -200px;"><a href="{:U('Member/Borrow/myborrowmanager')}">我的借款</a></li>
		<li style="background:url(__PUBLIC__/Home/images/icons_aside.png) no-repeat 25px -245px;"><a href="{:U('Member/Borrow/borrowmanager')}">还款记录</a></li>
		<!-- <li style="background:url(__PUBLIC__/Home/images/icons_aside.png) no-repeat 25px -291px;"><a href="{:U('Member/Finance/borrowloanstatis')}">借款统计</a></li> -->
	</ul>
	<ul>
		<li class="head" style="background:#e9e9e9 url(__PUBLIC__/Home/images/icons_head.png) no-repeat 8px -63px;">投资理财</li>
		<li style="background:url(__PUBLIC__/Home/images/icons_aside.png) no-repeat 25px -336px;"><a href="{:U('Member/Invest/investindex')}">投资记录</a></li>
		<li style="background:url(__PUBLIC__/Home/images/icons_aside.png) no-repeat 25px -380px;"><a href="{:U('Member/Finance/financestatis')}">投标统计</a></li>
		<li style="background:url(__PUBLIC__/Home/images/icons_aside.png) no-repeat 25px -426px;"><a href="{:U('Member/Invest/autoinvest')}">自动投标</a></li>
	</ul>
	<ul>
		<li class="head" style="background:#e9e9e9 url(__PUBLIC__/Home/images/icons_head.png) no-repeat 8px -98px;">财务交易</li>
		<li style="background:url(__PUBLIC__/Home/images/icons_aside.png) no-repeat 25px -472px;"><a href="{:U('Member/Userinfo/userchagerwithdraw')}">交易记录</a></li>
		<li style="background:url(__PUBLIC__/Home/images/icons_aside.png) no-repeat 25px -517px;"><a href="{:U('Member/Userinfo/userbankset')}">银行卡</a></li>
		<li style="background:url(__PUBLIC__/Home/images/icons_aside.png) no-repeat 25px -562px;"><a href="{:U('Member/System/recharge')}">充值提现</a></li>
	</ul>

	<ul>
		<li class="head" style="background:#e9e9e9 url(__PUBLIC__/Home/images/icons_head.png) no-repeat 8px -134px;">推广管理</li>
		<li style="background:url(__PUBLIC__/Home/images/icons_aside.png) no-repeat 25px -608px;"><a href="{:U('Member/Friends/friends')}">会员邀请</a></li>
		
	</ul>

</div>
<!--zh_cont_r-->
<script type="text/javascript">
		var urlstring = location.href;
  		//alert((urlstr + '/').indexOf($(this).attr('href')));
  		var urlstatus=false;
 		$(".zh_cont_l ul li a").each(function (index,element) {
    		if ((urlstring + '/').indexOf($(this).attr('href')) > -1 && $(this).attr('href')!='') {
      			$(element).parent().addClass('current'); 
      			urlstatus = true;

    		} 
    		else {
      			$(element).parent().removeClass('current');
    		}
  		});
  		if (!urlstatus) {$(".zh_cont_l ul li").eq(0).addClass('current'); }
</script>