<!--zh_cont_l-->
<div class="zh_cont_l">
	<ul style="">
		<li
			style="color: #ef681f; overflow: hidden; background: url(__PUBLIC__/Home/images/zh_cont_l_ul_li_bg.png) no-repeat left 15px; height: 72px;"
			class="head"><a class="current" href="{:U('Member/Index')}"
			style="color: #fff; display: block; width: 114px; height: 56px; line-height: 56px; border-top: 1px solid #ddd; padding-top: 15px; float: right;">个人中心</a></li>
		<li><a href="{:U('Userinfo/userselfset')}">基本认证</a></li>
		<!--  <li>融资认证</li> -->
	</ul>

	<ul>
		<li class="head"><a href="{:U('Home/User/profile')}"
			style="color: #fff;">安全设置</a></li>
		<li><a href="{:U('Userinfo/userchagerwithdraw')}">充值提现</a></li>
		<li><a href="{:U('Friends/friends')}">好友管理</a></li>
		<li><a href="{:U('System/usermailindex')}">通知管理</a></li>
	</ul>

	<ul>
		<li class="head" style="color: #fff;">借款管理</li>
		<li><a href="{:U('Borrow/myborrowmanager')}">我的借款</a></li>
		<li><a href="{:U('Borrow/borrowmanager')}">还款明细</a></li>
		<li><a href="{:U('Finance/borrowloanstatis')}">借款统计</a></li>
	</ul>
	<ul style="border-bottom: 0;">
		<li style="color: #fff;" class="head">投资管理</li>
		<li><a href="{:U('Invest/investindex')}">我的投资</a></li>
		<li><a href="{:U('Finance/financestatis')}">投标统计</a></li>
		<li class="tipshang">关注投标</li>
		<!-- <li>自动投标</li> -->
	</ul>
	<!--                 <ul class="ul_last">
                    <li>债权管理</li>
                    <li>我的债权</li>
                </ul>  -->
</div>
<!--zh_cont_r-->
