<block name="body"> <extend name="Base/common" /> <block
	name="body"> <!--content start-->
<div class="zh_cont_out">
	<div class="zh_cont">

		<include file="Public/left" />
		<div class="zh_cont_r">
			<h3>当前位置 > <span>申请记录</span> > <span style="color: #D41010;">审核中的申请</span></h3>
			<div class="r_main">
				<div class="mes_con">
									<div class="tabtil">
					<ul>
						<li id="lab_1" ><a
							href="{:U('Member/Borrow/myborrowapply')}">全部申请</a></li>
						<li id="lab_2" class="on"><a href="{:U('Member/Borrow/checkingapply')}">审核中的申请</a></li>
						<li id="lab_3" ><a href="{:U('Member/Borrow/passapply')}">
							已通过的申请</a></li>
						<li id="lab_3" ><a href="{:U('Member/Borrow/overapply')}">
							已完成的申请</a></li>
						
					</ul>
				</div>
				<div class="box">
					<div class="boxmain2">
						<!-- <div class="srh">
								<form action="homeBorrowInvestList.htm" id="searchForm">
									<input type="hidden" name="type" value="${paramMap.type}" />
									<input type="hidden" name="curPage" id="pageNum" />
									发布时间：
									<input type="text" id="publishTimeStart"
										name="publishTimeStart" value="${paramMap.publishTimeStart }"
										class="inp90 Wdate"
										onclick="WdatePicker({dateFmt:'yyyy-MM-dd',readOnly:'readOnly'})" />
									到
									<input type="text" id="publishTimeEnd" name="publishTimeEnd"
										value="${paramMap.publishTimeEnd }" class="inp90 Wdate"
										onclick=WdatePicker( {
		dateFmt : 'yyyy-MM-dd',
		readOnly : 'readOnly'
	});
/>
									<span style="margin-left: 20px;">关键字：</span>
									<input id="titles" name="title" value="${paramMap.title }"
										type="text" maxlength="200" class="inp90" />
									<a href="javascript:void(0);" id="search" class="scbtn"> 搜索</a>
								</form>
							</div> -->
						<div class="biaoge">
							<table width="98%" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<th>编号</th>
									<th>借款金额</th>
									<th>借款期限</th>
									<th>借款类型</th>
									<th>借款说明</th>
									<th>申请时间</th>
									<th>借款状态</th>
								</tr>
								<volist name="list" id="chkdata" key="i">
								<tr>
									<td align="center" class="b0">{$i}</td>
									<td align="center" class="b1">{$chkdata.borrow_money}</td>
									<td align="center" class="b2">
										<if condition="$chkdata.time_type eq '1'">{$chkdata.year_time}年 
										<elseif condition="$chkdata.time_type eq 2"/>{$chkdata.month_time}个月 
										<elseif condition="$chkdata.time_type eq 3"/>{$chkdata.day_time}天
										</if>
									</td>
									<td align="center" class="b3">
										<if condition="$chkdata.borrow_type eq '1'">信用标 
										<elseif condition="$chkdata.borrow_type eq 2" /> 净值标 
										<elseif condition="$chkdata.borrow_type eq 3" /> 秒还标 
										<elseif condition="$chkdata.borrow_type eq 4" /> 担保标 
										<elseif condition="$chkdata.borrow_type eq 5" /> 抵押标
										<else/>
										实地考察标 
										</if>
									</td>
									<td class="b4">{$chkdata.borrow_info}</td>
									<td align="center" class="b5">{$chkdata.apply_time}</td>
									<td align="center" style="width:10%;">审核中</td>
								</volist>
								</tr>
								<tr>
								<if condition="$i eq null">
									<td align="center" colspan="10">亲！你还没成功借过款哦。</td>
								</if>
								</tr>
							</table>
							<div class="page">{$page}</div>
						</div>
					</div>
				</div>
				</div>

			</div>
		</div>
	</div>
</div>
</div>
<!--content end--> </block>