<block name="body"> <extend name="Base/common" /> <block
	name="body"> <!--content start-->
<div class="zh_cont_out">
	<div class="zh_cont">

		<include file="Public/left" />
		<div class="zh_cont_r">
			<h3 style="border-bottom: 1px solid #ddd;">
				当前位置 > <span style="color: #D41010;">我的借款</span>
			</h3>
			<div class="r_main">
				<div class="tabtil">
					<ul>
						<li id="lab_1" class="on"><a
							href="{:U('Member/Borrow/myborrowmanager')}">全部的借款</a></li>
						<li id="lab_2"><a href="{:U('Member/Borrow/checkingborrow')}">审核中的借款</a></li>
						<li id="lab_3"><a href="{:U('Member/Borrow/issueborrow')}">招标中的借款</a></li>
						<!-- <li id="lab_4" onclick="jumpUrl('homeBorrowRecycledList.htm');">
							已回收的借款</li>
						<li id="lab_5" onclick="jumpUrl('homeBorrowBackAcountList.htm');">
							回账查询</li> -->
					</ul>
				</div>
				<div class="box">
					<div class="jkjl_search">
						<select class="search">
							<option value="0">按类型</option>
							<option value="1">按日期</option>
						</select>
						<div class="search_cont">
							<select class="search_type" >
								<option value="1">信用标</option>
								<option value="2">担保标</option>
								<option value="3">秒还标</option>
								<option value="4">新手体验标</option>
								<option value="5">信用标</option>
								<option value="6">信用标</option>
								<option value="7">信用标</option>
								<option value="8">信用标</option>
								<option value="9">信用标</option>
							</select>
							<div class="search_date" style="display: none;">
								<input type="text" class="search_date_txt" readonly="readonly" id="datechoose1"/>
								<span>—</span>
								<input type="text" class="search_date_txt" readonly="readonly"  id="datechoose2"/>
							</div>
						</div>
						<input type="button" class="search_btn" value="搜  索" />			
					</div>
					<div class="boxmain2">
						<!-- <div class="srh">
								<form action="homeBorrowInvestList.htm" id="searchForm">
									<input type="hidden" name="type" value="${paramMap.type}" />
									<input type="hidden" name="curPage" id="pageNum" />
									发布时间：
									<input type="text" id="publishTimeStart"
										name="publishTimeStart" value="${paramMap.publishTimeStart }"
										class="inp90 Wdate"
										onclick="WdatePicker({dateFmt:'yyyy-MM-dd',readOnly:'readOnly'})" />
									到
									<input type="text" id="publishTimeEnd" name="publishTimeEnd"
										value="${paramMap.publishTimeEnd }" class="inp90 Wdate"
										onclick=WdatePicker( {
		dateFmt : 'yyyy-MM-dd',
		readOnly : 'readOnly'
	});
/>
									<span style="margin-left: 20px;">关键字：</span>
									<input id="titles" name="title" value="${paramMap.title }"
										type="text" maxlength="200" class="inp90" />
									<a href="javascript:void(0);" id="search" class="scbtn"> 搜索</a>
								</form>
							</div> -->
						<div class="biaoge">
							<table width="100%" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<th>编号</th>
									<th>标题</th>
									<th>借款金额</th>
									<th>年化利率</th>
									<th>借款期数</th>
									<th>借款期限</th>
									<th>发布时间</th>
									<th>还款时间</th>
									<th>借款类型</th>
									<th>协议书</th>
								</tr>
								<volist name="list" id="vo" key="i">
								<tr>
									<td align="center">{$i}</td>
									<td align="center"><a
										href="{:U('Home/borrow/detail?id='.$vo['id'])}">{$vo.borrow_name}</a>
									</td>
									<td align="center">{$vo.borrow_money}</td>
									<td align="center">{$vo.borrow_interest_rate}%</td>
									<td align="center">{$vo.total}</td>
									<td align="center">{$vo.borrow_duration}个月</td>
									<td align="center">{$vo.add_time|date='Y-m-d',###}</td>
									<td align="center">{$vo.deadline|date='Y-m-d',###}</td>
									<td align="center">{$vo.borrow_type|get_borrow_type_name}</td>
									<td align="center"><a
										href="{:U('Invest/borrowprotocol?id='.$vo['id'])}"
										target="_blank">查看协议</a></td>
								</volist>
								</tr>
								<tr>
								<if condition="$i eq null">
									<td align="center" colspan="10">亲！你还没成功借过款哦。</td>
								</if>
								</tr>
							</table>
							<div class="page">
								<shove:page url="homeBorrowInvestList.htm"
									curPage="${pageBean.pageNum}" showPageCount="10"
									pageSize="${pageBean.pageSize }" theme="number"
									totalCount="${pageBean.totalNum}">
								</shove:page>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<!--content end-->
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">
<script type="text/javascript">
	$(function(){
		$('.box .jkjl_search .search').change(function(e){
			
			var txt=$(this).val();
			if(txt == 0)
			{
				//alert(1);width: 450px;height: 50px;padding-left: 475px;
				$('.box .jkjl_search').css({'width':'325px','padding-left':'600px'});
				$('.box .jkjl_search .search_cont .search_type').show().siblings().hide();
			}
			else
			{
				$('.box .jkjl_search').css({'width':'450px','padding-left':'475px'});
				$('.box .jkjl_search .search_cont .search_date').show().siblings().hide();
			}
		})
		
		$( "#datechoose1,#datechoose2" ).datepicker();
	})
	
    	
 
</script>
		

  













</block>