<block name="body"> <extend name="Base/common" /> <block
	name="body"> <!--content start-->
<div class="zh_cont_out">
	<div class="zh_cont">

		<include file="Public/left" />
		<div class="zh_cont_r">
			<h3>
				当前位置 > <span style="color: #D41010;">我的还款</span>
			</h3>
			<div class="r_main">
				<div class="mes_con">
									<div class="tabtil">
					<ul>
						<li id="lab_1" class="on"><a href="javascript:void(0);">我要还款</a></li>
						<li id="lab_1" ><a href="{:U('Member/Borrow/myborrowmanager')}">返回</a></li>
					</ul>
				</div>
				<div class="box">
					<div class="boxmain2">
						<div class="biaoge"><volist name="list1" id="vo">
						<h2 style="text-align: center;font-weight: normal;font-size: 18px;">【{$vo.borrow_name}】</h2>

          <div class="panel-body">
                <div class="text-item six-width clearfix">
               <ul>
                <li>借款金额</li>
                <li>借款利息</li>
                <li>借款年化率</li>
                <li>募集时间</li>
                <li>已还期数</li>
                <li>借款期限</li>
               </ul>
            </div>
          <div class="list-con-count clearfix">
               <ul>
                <li>￥<span class="cn_borrow_count countfont-2">{$vo.borrow_money}</span></li>
                <li><span class="countfont-2">{$vo.borrow_interest}</span></li>
                <li><span class="cn_recycle_count countfont-2">{$vo.borrow_interest_rate}%</span></li>
                <li><span class="countfont-2">{$vo.total}天</span></li>
                <li><span class="cn_wait_count countfont-2">{$vo.has_pay}/{$vo.total}</span></li>
                <li><span class="countfont-2">{$vo.borrow_duration}个月</span></li>
               </ul>
            </div>
             <div class="text-item six-width clearfix">
               <ul>
                <li>借款类型</li>
                <li>还款方式</li>
                <li>投资人数</li>
               </ul>
            </div>
          <div class="list-con-count clearfix">
               <ul>
                <li><span class="cn_borrow_count countfont-2">{$vo.borrow_type|get_borrow_type_name}</span></li>
                <li><span class="countfont-2">{$vo.repayment_type|get_repayment_type}</span></li>
                <li><span class="cn_recycle_count countfont-2">{$vo.repayment_type}人</span></li>
               </ul>
            </div>
            <p style="padding-top: 20px;color: red;">* 被叫停的项目不在统计范围内</p>
          </div>
           

						</volist>
							<table width="98%" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<th>期号</th>
									<th>还款时间</th>
									<th>应还金额</th>
									<th>实还金额</th>
									<th>状态</th>
									<th>操作</th>

								</tr>
                <form>
								<volist name="list" id="ho" key="i">
								<tr>
									<td align="center"><input  id="h_{$i}" value="{$ho[0]['id']}" style="display: none;" />{$i}</td>
									<td align="center">{$ho[0]['repayment_time']|date='Y-m-d',###}</td>
									<td align="center"><input  id="h2_{$i}" value="{$ho[0]['capital']}" style="display: none;" />{$ho[0]['capital']}</td>
									<td align="center"><span id="checktip_{$i}">{$ho[0]['receive_capital']}</span></td>
									<td align="center"><if condition="$ho[0]['deadline'] eq '0' "><a id="deadline_{$i}">待还</a><else/>已还</if></td>
									<td align="center">
									<!-- <a href="{:U('Member/Borrow/reimbursement_del?id='.$bid.'&m='.$ho['lixi'])}">立即还款</a> -->
									 <if condition="$borrow_status eq '6' "><if condition="$ho[0]['deadline'] eq '0' "><a href="javascript:void(0);" id="hbtn_{$i}" class="hbtn_{$i}">立即还款</a></if><else/>标未满</if></td>
								
								</tr></volist></form>
								<tr>
								<if condition="$i eq null">
									<td align="center" colspan="10">亲！你还没成功借过款哦。</td>
								</if>
								</tr>
							</table>
							<div class="page">
								<shove:page url="homeBorrowInvestList.htm"
									curPage="${pageBean.pageNum}" showPageCount="10"
									pageSize="${pageBean.pageSize }" theme="number"
									totalCount="${pageBean.totalNum}">
								</shove:page>
							</div>
						</div>
					</div>
				</div>
				</div>

			</div>
		</div>
	</div>
</div>
</div>
<!--content end-->

<script type="text/javascript">

$('.hbtn_1').click(function(){
               var bid = document.getElementById("h_1").value;
               var bid2 = document.getElementById("h2_1").value;
               $.post('__URL__/reimbursement_del',{bid:bid,bid2:bid2},function success(data){

              document.getElementById('checktip_1').innerHTML ='<a href="">手动刷新</a>';
              if(data.borrow_status==6){

              	if(data.deadline != 0){
                document.getElementById('deadline_1').innerHTML ='已还';
                document.getElementById('hbtn_1').innerHTML ='';
                }

              }else{

              	document.getElementById('hbtn_1').innerHTML ='';

              }




               
              
             	alert(data.cs);
             });
         });
$('.hbtn_2').click(function(){
               var bid = document.getElementById("h_2").value;
               var bid2 = document.getElementById("h2_2").value;
               $.post('__URL__/reimbursement_del',{bid:bid,bid2:bid2},function success(data){

               document.getElementById('checktip_2').innerHTML ='<a href="">手动刷新</a>';
               if(data.deadline != 0){
                document.getElementById('deadline_2').innerHTML ='已还';
                document.getElementById('hbtn_2').innerHTML ='';
              }
             	// alert(data.money);
             });
         });
$('.hbtn_3').click(function(){
               var bid = document.getElementById("h_3").value;
               var bid2 = document.getElementById("h2_3").value;
               $.post('__URL__/reimbursement_del',{bid:bid,bid2:bid2},function success(data){

               document.getElementById('checktip_3').innerHTML ='<a href="">手动刷新</a>';
               if(data.deadline != 0){
                document.getElementById('deadline_3').innerHTML ='已还';
                document.getElementById('hbtn_3').innerHTML ='';
              }
             	// alert(data.money);
             });
         });
$('.hbtn_4').click(function(){
               var bid = document.getElementById("h_4").value;
               var bid2 = document.getElementById("h2_4").value;
               $.post('__URL__/reimbursement_del',{bid:bid,bid2:bid2},function success(data){

               document.getElementById('checktip_4').innerHTML ='<a href="">手动刷新</a>';
               if(data.deadline != 0){
                document.getElementById('deadline_4').innerHTML ='已还';
                document.getElementById('hbtn_4').innerHTML ='';
              }
             	// alert(data.money);
             });
         });
$('.hbtn_5').click(function(){
               var bid = document.getElementById("h_5").value;
               var bid2 = document.getElementById("h2_5").value;
               $.post('__URL__/reimbursement_del',{bid:bid,bid2:bid2},function success(data){

               document.getElementById('checktip_5').innerHTML ='<a href="">手动刷新</a>';
               if(data.deadline != 0){
                document.getElementById('deadline_5').innerHTML ='已还';
                document.getElementById('hbtn_5').innerHTML ='';
              }
             	// alert(data.money);
             });
         });
$('.hbtn_6').click(function(){
               var bid = document.getElementById("h_6").value;
               var bid2 = document.getElementById("h2_6").value;
               $.post('__URL__/reimbursement_del',{bid:bid,bid2:bid2},function success(data){

               document.getElementById('checktip_6').innerHTML ='<a href="">手动刷新</a>';
               if(data.deadline != 0){
                document.getElementById('deadline_6').innerHTML ='已还';
                document.getElementById('hbtn_6').innerHTML ='';
              }
             	// alert(data.money);
             });
         });
$('.hbtn_7').click(function(){
               var bid = document.getElementById("h_7").value;
               var bid2 = document.getElementById("h2_7").value;
               $.post('__URL__/reimbursement_del',{bid:bid,bid2:bid2},function success(data){

               document.getElementById('checktip_7').innerHTML ='<a href="">手动刷新</a>';
               if(data.deadline != 0){
                document.getElementById('deadline_7').innerHTML ='已还';
                document.getElementById('hbtn_7').innerHTML ='';
              }
             	// alert(data.money);
             });
         });
$('.hbtn_8').click(function(){
               var bid = document.getElementById("h_8").value;
               var bid2 = document.getElementById("h2_8").value;
               $.post('__URL__/reimbursement_del',{bid:bid,bid2:bid2},function success(data){

               document.getElementById('checktip_8').innerHTML ='<a href="">手动刷新</a>';
               if(data.deadline != 0){
                document.getElementById('deadline_8').innerHTML ='已还';
                document.getElementById('hbtn_8').innerHTML ='';
              }
             	// alert(data.money);
             });
         });
$('.hbtn_9').click(function(){
               var bid = document.getElementById("h_9").value;
               var bid2 = document.getElementById("h2_9").value;
               $.post('__URL__/reimbursement_del',{bid:bid,bid2:bid2},function success(data){

               document.getElementById('checktip_9').innerHTML ='<a href="">手动刷新</a>';
               if(data.deadline != 0){
                document.getElementById('deadline_9').innerHTML ='已还';
                document.getElementById('hbtn_9').innerHTML ='';
              }
             	// alert(data.money);
             });
         });
$('.hbtn_10').click(function(){
               var bid = document.getElementById("h_10").value;
               var bid2 = document.getElementById("h2_10").value;
               $.post('__URL__/reimbursement_del',{bid:bid,bid2:bid2},function success(data){

               document.getElementById('checktip_10').innerHTML ='<a href="">手动刷新</a>';
               if(data.deadline != 0){
                document.getElementById('deadline_10').innerHTML ='已还';
                document.getElementById('hbtn_10').innerHTML ='';
              }
             	// alert(data.money);
             });
         });
$('.hbtn_11').click(function(){
               var bid = document.getElementById("h_11").value;
               var bid2 = document.getElementById("h2_11").value;
               $.post('__URL__/reimbursement_del',{bid:bid,bid2:bid2},function success(data){

               document.getElementById('checktip_11').innerHTML ='<a href="">手动刷新</a>';
               if(data.deadline != 0){
                document.getElementById('deadline_11').innerHTML ='已还';
                document.getElementById('hbtn_11').innerHTML ='';
              }
             	// alert(data.money);
             });
         });
$('.hbtn_12').click(function(){
               var bid = document.getElementById("h_12").value;
               var bid2 = document.getElementById("h2_12").value;
               $.post('__URL__/reimbursement_del',{bid:bid,bid2:bid2},function success(data){

               document.getElementById('checktip_12').innerHTML ='<a href="">手动刷新</a>';
               if(data.deadline != 0){
                document.getElementById('deadline_12').innerHTML ='已还';
                document.getElementById('hbtn_12').innerHTML ='';
              }
             	// alert(data.money);
             });
         });
</script>

</block>