<block name="body"> <extend name="Base/common" /> <block
	name="body"> <!--content start-->
<div class="zh_cont_out">
	<div class="zh_cont">

		<include file="Public/left" />
		<div class="zh_cont_r">
			<h3 style="border-bottom: 1px solid #ddd;">
				当前位置 > <span style="color: #D41010;">我的还款</span>
			</h3>
			<div class="r_main">
				<div class="tabtil">
					<ul>
						<li id="lab_1" class="on"><a href="javascript:void(0);">我要还款</a></li>
						<li id="lab_1" ><a href="{:U('Member/Borrow/myborrowmanager')}">返回</a></li>
					</ul>
				</div>
				<div class="box">
					<div class="boxmain2">
						<!-- <div class="srh">
								<form action="homeBorrowInvestList.htm" id="searchForm">
									<input type="hidden" name="type" value="${paramMap.type}" />
									<input type="hidden" name="curPage" id="pageNum" />
									发布时间：
									<input type="text" id="publishTimeStart"
										name="publishTimeStart" value="${paramMap.publishTimeStart }"
										class="inp90 Wdate"
										onclick="WdatePicker({dateFmt:'yyyy-MM-dd',readOnly:'readOnly'})" />
									到
									<input type="text" id="publishTimeEnd" name="publishTimeEnd"
										value="${paramMap.publishTimeEnd }" class="inp90 Wdate"
										onclick=WdatePicker( {
		dateFmt : 'yyyy-MM-dd',
		readOnly : 'readOnly'
	});
/>
									<span style="margin-left: 20px;">关键字：</span>
									<input id="titles" name="title" value="${paramMap.title }"
										type="text" maxlength="200" class="inp90" />
									<a href="javascript:void(0);" id="search" class="scbtn"> 搜索</a>
								</form>
							</div> -->
						<div class="biaoge"><volist name="list" id="vo" key="i">
						<h2 style="text-align: center;">【{$vo.borrow_name}】</h2>
						</volist>
							<table width="100%" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<th>期号</th>
									<th>还款时间</th>
									<th>应还金额</th>
									<th>实还金额</th>
									<th>状态</th>
									<th>操作</th>

								</tr>
								<volist name="huan" id="vo" key="i">
								<tr>
									<td align="center">{$i}</td>
									<td align="center">{$vo.time|date='Y-m-d',###}</td>
									<td align="center">{$vo.lixi}</td>
									<td align="center"></td>
									<td align="center">待还</td>
									<td align="center"><a href="{:U('Member/Borrow/reimbursement_del?id='.$vo['id'])}">立即还款</a></td>
								</volist>
								</tr>
								<tr>
								<if condition="$i eq null">
									<td align="center" colspan="10">亲！你还没成功借过款哦。</td>
								</if>
								</tr>
							</table>
							<div class="page">
								<shove:page url="homeBorrowInvestList.htm"
									curPage="${pageBean.pageNum}" showPageCount="10"
									pageSize="${pageBean.pageSize }" theme="number"
									totalCount="${pageBean.totalNum}">
								</shove:page>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<!--content end-->
</block>