<block name="body"> <extend name="Base/common" /> <block
	name="body"> <!--content start-->
<div class="zh_cont_out">
	<div class="zh_cont">

		<include file="Public/left" />
		<div class="zh_cont_r">
			<h3 style="border-bottom: 1px solid #ddd;">
				当前位置 > <span style="color: #D41010;">我的借款</span>
			</h3>
			<div class="r_main">
				<div class="tabtil">
					<ul>
						<li id="lab_1" class="on"><a
							href="{:U('Member/Borrow/borrowmanager')}">成功的借款</a></li>
						<li id="lab_2"><a href="{:U('Member/Borrow/repaymentborrow')}">还款中的借款</a></li>
						<!-- <li id="lab_3"><a href="{:U('Member/Borrow/issueborrow')}">
								还款明细</a></li>
						<li id="lab_4" onclick="jumpUrl('homeBorrowRecycledList.htm');">
							借款明细</li>
						<li id="lab_5" onclick="jumpUrl('homeBorrowBackAcountList.htm');">
							已还的借款</li> -->
					</ul>
				</div>
				<div class="box">
					<div class="boxmain2">
						<!-- <div class="srh">
								<form action="homeBorrowInvestList.htm" id="searchForm">
									<input type="hidden" name="type" value="${paramMap.type}" />
									<input type="hidden" name="curPage" id="pageNum" />
									发布时间：
									<input type="text" id="publishTimeStart"
										name="publishTimeStart" value="${paramMap.publishTimeStart }"
										class="inp90 Wdate"
										onclick="WdatePicker({dateFmt:'yyyy-MM-dd',readOnly:'readOnly'})" />
									到
									<input type="text" id="publishTimeEnd" name="publishTimeEnd"
										value="${paramMap.publishTimeEnd }" class="inp90 Wdate"
										onclick=WdatePicker( {
		dateFmt : 'yyyy-MM-dd',
		readOnly : 'readOnly'
	});
/>
									<span style="margin-left: 20px;">关键字：</span>
									<input id="titles" name="title" value="${paramMap.title }"
										type="text" maxlength="200" class="inp90" />
									<a href="javascript:void(0);" id="search" class="scbtn"> 搜索</a>
								</form>
							</div> -->
						<div class="biaoge">
							<table width="100%" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<th>编号</th>
									<th>标题</th>
									<th>借款金额</th>
									<th>年化利率</th>
									<th>借款利息</th>
									<th>借款期限</th>
									<th>发布时间</th>
									<th>还款时间</th>
									<th>借款类型</th>
									<th>协议书</th>
								</tr>
								<volist name="list" id="vo" key="i">
								<tr>
									<td align="center">{$i}</td>
									<td align="center"><a
										href="{:U('Home/borrow/detail?id='.$vo['id'])}">{$vo.borrow_name}</a>
									</td>
									<td align="center">{$vo.borrow_money}</td>
									<td align="center">{$vo.borrow_interest_rate}%</td>
									<td align="center">{$vo.borrow_interest}</td>
									<td align="center">{$vo.borrow_duration}个月</td>
									<td align="center">{$vo.add_time|date='Y-m-d',###}</td>
									<td align="center">{$vo.deadline|date='Y-m-d',###}</td>
									<td align="center"><if condition="$vo.borrow_type eq '1'">
										净值 <elseif condition="$vo.borrow_type eq 2" /> 秒还 <elseif
											condition="$vo.borrow_type eq 4" /> 普通 <elseif
											condition="$vo.borrow_type eq 5" /> 实地 <elseif
											condition="$vo.borrow_type eq 6" /> 担保 </if></td>
									<td align="center"><a
										href="{:U('Invest/borrowprotocol?id='.$vo['id'])}"
										target="_blank">查看协议</a></td>
								</volist>
								</tr>
							</table>
							<div class="page">
								<shove:page url="homeBorrowInvestList.htm"
									curPage="${pageBean.pageNum}" showPageCount="10"
									pageSize="${pageBean.pageSize }" theme="number"
									totalCount="${pageBean.totalNum}">
								</shove:page>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<!--content end--> </block>