<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- TemplateBeginEditable name="doctitle" -->
<title>登录</title>
<link rel="stylesheet" type="text/css"
	href="__PUBLIC__/Admin/css/style.css" />
<!-- TemplateEndEditable -->
<!-- TemplateBeginEditable name="head" -->
<!-- TemplateEndEditable -->
<script type="text/javascript" src="__PUBLIC__/Admin/js/jquery-1.7.2.min.js"></script>
</head>

<body>
	<!--
        	作者：1339070342@qq.com
        	时间：2015-01-05
        	描述：登录框
        -->
	<div class="frame">
		<div class="logo"></div>
		<form action="{:U('login')}" method="post" class="login-form">
			<ul class="frame_r">
				<li>
					<div class="head01"></div> <input type="text" name="username"
					class="txt" placeholder="请填写用户名" autocomplete="off" />
				</li>
				<li>
					<div class="head02"></div> <input type="password" class="txt"
					 name="password" placeholder="请填写密码" autocomplete="off" />

				</li>
				<li>
					<div class="head03"></div> <input type="text" class="yzm_txt"
					value="" name="verify" placeholder="请填写验证码" autocomplete="off" />
					<div class="yzm_img">
						<img class="verifyimg reloadverify" src="{:U('verify')}" width="101" height="44" alt="点击切换" style="cursor: pointer;width:90px;float: right;">
					</div>
				</li>
				<li><input type="submit" name="" class="btn"
					value="登&nbsp;&nbsp;录" /></li>
			</ul>
		</form>
	</div>
	<!-- 引用底部公共部分 -->
	<script type="text/javascript">
//验证码刷新
    	$(document)
	    	.ajaxStart(function(){
	    		$("button:submit").addClass("log-in").attr("disabled", true);
	    	})
	    	.ajaxStop(function(){
	    		$("button:submit").removeClass("log-in").attr("disabled", false);
	    	});


    	$("form").submit(function(){
    		var self = $(this);
    		$.post(self.attr("action"), self.serialize(), success, "json");
    		return false;

    		function success(data){
    			if(data.status){
    				window.location.href = data.url;
    			} else {
    				self.find(".Validform_checktip").text(data.info);
    				// layer.alert(data.info);

    				//刷新验证码
    				$(".reloadverify").click();
    			}
    		}
    	});

		$(function(){
			var verifyimg = $(".verifyimg").attr("src");
            $(".reloadverify").click(function(){
                if( verifyimg.indexOf('?')>0){
                    $(".verifyimg").attr("src", verifyimg+'&random='+Math.random());
                }else{
                    $(".verifyimg").attr("src", verifyimg.replace(/\?.*$/,'')+'?'+Math.random());
                }
            });
		});
</script>
	<div class="frame_shadow"></div>
</body>
</html>
