<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>首页</title>
<!-- 添加基金版面         -->
<link rel="stylesheet" href="__PUBLIC__/RichFunds/css/jijinStyle.css"
	type="text/css" />
<script type="text/javascript"
	src="__PUBLIC__/RichFunds/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript"
	src="__PUBLIC__/RichFunds/js/index_con_bot_l_tab.js"></script>
<script type="text/javascript"
	src="__PUBLIC__/RichFunds/js/jiJin_banner.js"></script>
<script type="text/javascript">
	$(function(){
		//alert(1);	
		$('.flo_aside').hover(function(){
			//alert(2);
			$('.flo_aside .flo_l li').each(function(index,element){
				$(element).hover(function(){
					$('.flo_aside .flo_r').show('normal');
					$('.flo_aside .flo_r ul').eq($(this).index()).show('slow').siblings().hide('slow');
				});
			})	
		},function(){
			$('.flo_aside .flo_r').hide();	
		});
	})
</script>
</head>

<body>

	<!--头部  bar start-->
	<div class="bar_out">
		<div class="bar">
			<ul>
				<li><div style="background:url(__PUBLIC__/Home/images/top_icons.png) no-repeat 0 6px;width:30px;height:36px;float:left;"></div><a
					href="javascript:;">官方微博</a></li>
				<li><div style="background:url(__PUBLIC__/Home/images/top_icons.png) no-repeat 0 -39px;width:30px;height:36px;float:left;"></div><a href="javascript:;">官方微信</a></li>
                <li class="phone"><div style="background:url(__PUBLIC__/Home/images/top_icons.png) no-repeat 0 -84px;width:30px;height:36px;float:left;"></div><div style="width:70px;">客户热线：</div><span>400-123-4567</span></li>
			</ul>
            <ul class="bar_aside">
                <li><input type="button" class="bar_aside_btn"
                    style="color:#ef681f;" value="登录"/></li>
                <li><input type="button" class="bar_aside_btn"
                    style="color:#65bae1;" value="注册" /></li>
			</ul>
		</div>
	</div>
	<!--头部  bar end-->


	<!--导航栏 nav start-->
	<div class="nav_out">
		<h1>
			<a href="{:u('Home/RichFunds/index')}"><img
				src="__PUBLIC__/RichFunds/images/biaozhi.png" width="57" height="48"
				class="logo" /><img
				src="__PUBLIC__/RichFunds/images/gonghejijin.png" width="123"
				height="40" class="logo_wz" /></a>
		</h1>
		<ul class="nav">
        	<li><a href="{:u('Home/RichFunds/index')}" class="nav_cur">首页</a></li>
			<li><a href="{:U('Member/Index/index')}">基金产品</a></li>
			<li><a href="{:U('Home/Index/index')}">工合财富</a></li>
			<li><a href="{:U('Home/Borrow/index')}">工合众筹</a></li>
			<li><a href="{:U('Home/Newhelp/borrowhelp')}">关于我们</a></li>
		</ul>
		
	</div>
	<!--导航栏 nav end-->


	<!--焦点图 banner start-->
	<div class="banner">
		<ul class="ban">
			<li style="z-index: 1;"><img
				src="__PUBLIC__/RichFunds/images/banner_pic1.png" width="1600"
				height="338" /></li>
			<li><img src="__PUBLIC__/RichFunds/images/banner_pic2.jpg"
				width="1600" height="338" /></li>
			<li><img src="__PUBLIC__/RichFunds/images/banner_pic3.jpg"
				width="1600" height="338" /></li>
            <li><img src="__PUBLIC__/Home/images/jiJinBanner.jpg" width="1600" height="339" /></li>
		</ul>
		<ol>
			<li class="current">1</li>
			<li>2</li>
			<li>3</li>
            <li>4</li>
		</ol>
	</div>
	<!--焦点图 banner end-->


	<!--内容 con start-->
	<div class="con">
		<!--con_top start-->
		<div class="con_top">
			<dl style="margin-right: 56px;">
				<dt>
					<p style="font-size: 24px; color: #ce3f45; line-height: 30px;">￥6,862,980,025,35</p>
					<p style="font-size: 14px; line-height: 20px;">用户总收益</p>
					<p style="font-size: 18px; line-height: 25px;">用户总收益</p>
				</dt>
				<dd>成为理财人，通过主动或者加入优先理财计划将资金进行出借投资，获得预期12%-14%的稳定年化收益。</dd>
			</dl>

			<dl style="margin-right: 56px;">
				<dt
					style="line-height: 52px; background:url(../../../../../Public/RichFunds/images/tubiao.png)  no-repeat left top; padding-left: 65px; width: 215px;">
					<a href="javascript:;">我的资金安全吗？</a>
				</dt>
				<dd>成为理财人，通过主动或者加入优先理财计划将资金进行出借投资，获得预期12%-14%的稳定年化收益。</dd>
			</dl>

			<dl>
				<dt
					style="line-height: 52px; background: url(../../../../../Public/RichFunds/images/tubiao2.png) no-repeat left top; padding-left: 65px; width: 215px;">
					<a href="javascript:;">我该怎么开始？</a>
				</dt>
				<dd>成为理财人，通过主动或者加入优先理财计划将资金进行出借投资，获得预期12%-14%的稳定年化收益。</dd>
			</dl>
		</div>
		<!--con_top end-->

		<!--con_bot start-->
		<div class="con_bot">
			<!--con_bot_l start-->
			<div class="con_bot_l">
				<!--con_bot_l_tab start-->
				<div class="con_bot_l_tab">
					<ul class="con_bot_l_tab_head">
						<li class="con_bot_l_tab_ul_cur">工合财富</li>
						<li>工合众筹</li>
						<li>基金产品</li>
					</ul>
					<!--tab切换部分-->
					<div class="con_bot_l_tab_conOut">
						<!--切换 start-->
						<div class="con_bot_l_tab_con">
							<p>1000元起投 3个月滚动投资</p>
							<p>以3个月为周期，本金收益可自动滚投，享受复利，可随时设置终止复投。</p>
							<ul class="con_bot_l_tab_con_ul">
								<li>
									<p>起投金额</p>
									<h2>￥1000元</h2>
								</li>
								<li>
									<p>年化利率</p>
									<h2 style="color: #f07240;">8.50%</h2>
								</li>
								<li>
									<p>复投周期</p>
									<h2>3个月</h2>
								</li>
							</ul>
						</div>
						<!--切换 end-->

						<!--切换 start-->
						<div class="con_bot_l_tab_con" style="display: none">
							<p>1000元起投 3个月滚动投资</p>
							<p>以3个月为周期，本金收益可自动滚投，享受复利，可随时设置终止复投。</p>
							<ul class="con_bot_l_tab_con_ul">
								<li>
									<p>起投金额</p>
									<h2>￥1000元</h2>
								</li>
								<li>
									<p>年化利率</p>
									<h2 style="color: #f07240;">8.50%</h2>
								</li>
								<li>
									<p>复投周期</p>
									<h2>3个月</h2>
								</li>
							</ul>
						</div>
						<!--切换 end-->

						<!--切换 start-->
						<div class="con_bot_l_tab_con" style="display: none">
							<p>1000元起投 3个月滚动投资</p>
							<p>以3个月为周期，本金收益可自动滚投，享受复利，可随时设置终止复投。</p>
							<ul class="con_bot_l_tab_con_ul">
								<li>
									<p>起投金额</p>
									<h2>￥1000元</h2>
								</li>
								<li>
									<p>年化利率</p>
									<h2 style="color: #f07240;">8.50%</h2>
								</li>
								<li>
									<p>复投周期</p>
									<h2>3个月</h2>
								</li>
							</ul>
						</div>
						<!--切换 end-->
					</div>
				</div>
				<!--con_bot_l_tab end-->

				<!--con_bot_l_con2 start-->
				<div class="con_bot_l_con2">
					<dl class="con_bot_l_con2_dl">
						<dt>
							<h3>基金定投</h3>
							<p>保本保息，轻松理财</p>
						</dt>
						<dd>
							<p style="font-size: 18px; color: #d76543; font-weight: bold;">8%~10%</p>
							<p>预计年化收益</p>
							<p>50000起投</p>
							<p>投资周期：1-5年</p>
						</dd>
					</dl>
					<dl class="con_bot_l_con2_dl">
						<dt>
							<h3
								style="background: url(__PUBLIC__/RichFunds/images/tubiao5.png) no-repeat 20px center;">资产抵押系列</h3>
							<p>期限固定，工和担保</p>
						</dt>
						<dd>
							<p style="font-size: 18px; color: #d76543; font-weight: bold;">8%~10%</p>
							<p>预计年化收益</p>
							<p>50000起投</p>
							<p>投资周期：1-5年</p>
						</dd>
					</dl>
					<dl class="con_bot_l_con2_dl">
						<dt>
							<h3
								style="background: url(__PUBLIC__/RichFunds/images/tubiao6.png) no-repeat 20px center;">信用系列</h3>
							<p>信誉企业，较高收益</p>
						</dt>
						<dd>
							<p style="font-size: 18px; color: #d76543; font-weight: bold;">8%~10%</p>
							<p>预计年化收益</p>
							<p>50000起投</p>
							<p>投资周期：1-5年</p>
						</dd>
					</dl>
					<dl class="con_bot_l_con2_dl" style="margin-right: 0;">
						<dt>
							<h3
								style="background: url(__PUBLIC__/RichFunds/images/tubiao7.png) no-repeat 20px center;">股权系列</h3>
							<p>股权质押，保本回购</p>
						</dt>
						<dd>
							<p style="font-size: 18px; color: #d76543; font-weight: bold;">8%~10%</p>
							<p>预计年化收益</p>
							<p>50000起投</p>
							<p>投资周期：1-5年</p>
						</dd>
					</dl>
				</div>
				<!--con_bot_l_con2 end-->

				<!--con_bot_l_con3 start-->
				<div class="con_bot_l_con3">
					<h3>推荐产品</h3>
					<div class="con_bot_l_con3_01">
						<dl>
							<dt></dt>
							<dd style="color: #d64f3b; font-weight: bold; font-size: 16px;">阳江龙湖别墅</dd>
							<dd>
								项目规模：<span>$4000000</span>
							</dd>
							<dd>
								年化收益：<b>18%</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;期限：<b>1个月</b>
							</dd>
							<dd>
								已融资金：<span>$256656</span>
							</dd>
							<dd>担保机构：广东工合基金</dd>
							<dd>
								进度：<span class="out"><span class="in"></span></span>
							</dd>
						</dl>
						<input type="button" class="con_bot_l_con3_01_btn" value="购买" />
					</div>
					<div class="con_bot_l_con3_01">
						<dl>
							<dt
								style="background: url(__PUBLIC__/RichFunds/images/prince2.png) no-repeat;"></dt>
							<dd style="color: #d64f3b; font-weight: bold; font-size: 16px;">海景别墅</dd>
							<dd>
								项目规模：<span>$4000000</span>
							</dd>
							<dd>
								年化收益：<b>18%</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;期限：<b>1个月</b>
							</dd>
							<dd>
								已融资金：<span>$256656</span>
							</dd>
							<dd>担保机构：广东工合基金</dd>
							<dd>
								进度：<span class="out"><span class="in"></span></span>
							</dd>
						</dl>
						<input type="button" class="con_bot_l_con3_01_btn1" value="已完成" />
					</div>
					<div class="con_bot_l_con3_01" style="margin-right: 0;">
						<dl>
							<dt
								style="background: url(__PUBLIC__/RichFunds/images/prince3.png) no-repeat;"></dt>
							<dd style="color: #d64f3b; font-weight: bold; font-size: 16px;">智能环保洋房</dd>
							<dd>
								项目规模：<span>$4000000</span>
							</dd>
							<dd>
								年化收益：<b>18%</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;期限：<b>1个月</b>
							</dd>
							<dd>
								已融资金：<span>$256656</span>
							</dd>
							<dd>担保机构：广东工合基金</dd>
							<dd>
								进度：<span class="out"><span class="in"></span></span>
							</dd>
						</dl>
						<input type="button" class="con_bot_l_con3_01_btn" value="购买" />
					</div>
					<div class="con_bot_l_con3_01">
						<dl>
							<dt></dt>
							<dd style="color: #d64f3b; font-weight: bold; font-size: 16px;">翡翠山写字楼</dd>
							<dd>
								项目规模：<span>$4000000</span>
							</dd>
							<dd>
								年化收益：<b>18%</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;期限：<b>1个月</b>
							</dd>
							<dd>
								已融资金：<span>$256656</span>
							</dd>
							<dd>担保机构：广东工合基金</dd>
							<dd>
								进度：<span class="out"><span class="in"></span></span>
							</dd>
						</dl>
						<input type="button" class="con_bot_l_con3_01_btn" value="购买" />
					</div>
					<div class="con_bot_l_con3_01">
						<dl>
							<dt
								style="background: url(__PUBLIC__/RichFunds/images/prince2.png) no-repeat;"></dt>
							<dd style="color: #d64f3b; font-weight: bold; font-size: 16px;">临海别墅独栋</dd>
							<dd>
								项目规模：<span>$4000000</span>
							</dd>
							<dd>
								年化收益：<b>18%</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;期限：<b>1个月</b>
							</dd>
							<dd>
								已融资金：<span>$256656</span>
							</dd>
							<dd>担保机构：广东工合基金</dd>
							<dd>
								进度：<span class="out"><span class="in"></span></span>
							</dd>
						</dl>
						<input type="button" class="con_bot_l_con3_01_btn1" value="已完成" />
					</div>
					<div class="con_bot_l_con3_01" style="margin-right: 0;">
						<dl>
							<dt
								style="background: url(__PUBLIC__/RichFunds/images/prince3.png) no-repeat;"></dt>
							<dd style="color: #d64f3b; font-weight: bold; font-size: 16px;">香山风景别墅</dd>
							<dd>
								项目规模：<span>$4000000</span>
							</dd>
							<dd>
								年化收益：<b>18%</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;期限：<b>1个月</b>
							</dd>
							<dd>
								已融资金：<span>$256656</span>
							</dd>
							<dd>担保机构：广东工合基金</dd>
							<dd>
								进度：<span class="out"><span class="in"></span></span>
							</dd>
						</dl>
						<input type="button" class="con_bot_l_con3_01_btn" value="购买" />
					</div>
				</div>
				<!--con_bot_l_con3 end-->
                
                
			</div>
			<!--con_bot_l end-->

			<!--con_bot_r start-->
			<div class="con_bot_r">
				<div class="con_bot_r_img"></div>
				<ul class="con_bot_r_ul">
					<li
						style="background: url(__PUBLIC__/RichFunds/images/tubiao8.png) no-repeat 9px center;"><a href="{:u('Home/Newhelp/compare_tools')}">收益计算器</a></li>
					<li
						style="background: url(__PUBLIC__/RichFunds/images/tubiao9.png) no-repeat 9px center; margin-right: 0;">新手指引</li>
					<li
						style="background: url(__PUBLIC__/RichFunds/images/tubiao10.png) no-repeat 9px center;">投资模拟器</li>
					<li
						style="background: url(__PUBLIC__/RichFunds/images/tubiao11.png) no-repeat 9px center; margin-right: 0;">资产配置</li>
				</ul>
				<div class="con_bot_r_tab_Out">
					<ul class="con_bot_r_tab_head">
						<li class="con_bot_r_tab_ul_cur"
							style="border-right: 1px solid #e0e0de;">平台公告 <a
							href="javascript:;">更多</a></li>
						<li>公司新闻 <a href="javascript:;">更多</a></li>
					</ul>
					<div class="con_bot_r_tab_con_out">
						<!--切换 start-->
						<div class="con_bot_r_tab_con">
							<p>
								<a href="javascript:;">网多维并举</a>
							</p>
							<p>
								<a href="javascript:;">网正式成为中国互联网金融行业</a>
							</p>
							<p>
								<a href="javascript:;">化服务进行到底</a>
							</p>
						</div>
						<!--切换 end-->

						<!--切换 start-->
						<div class="con_bot_r_tab_con" style="display: none;">
							<p>
								<a href="javascript:;">网多维并举</a>
							</p>
							<p>
								<a href="javascript:;">网正式成为中国互联网金融行业</a>
							</p>
							<p>
								<a href="javascript:;">化服务进行到底</a>
							</p>
						</div>
						<!--切换 end-->
					</div>
				</div>

				<div class="con_bot_r_img2"></div>
				<div class="con_bot_r_hyzx">
					<h3>
						行业资讯<a href="javascript:;">更多</a>
					</h3>
					<dl>
						<dt>
							<a href="javascript:;"><img
								src="__PUBLIC__/RichFunds/images/bananer3.png" width="228"
								height="100" /></a>
						</dt>
						<dd>
							<a href="javascript:;">【行业动态】中证百度广发强强联手</a>
						</dd>
						<dd>
							<a href="javascript:;">【并购实事】谷歌计划300亿美元海外</a>
						</dd>
						<dd>
							<a href="javascript:;">【政策】发改委公布首批鼓励社会资本</a>
						</dd>

					</dl>
				</div>
				<div class="con_bot_r_tab_Out">
					<ul class="con_bot_r_tab_head">
						<li class="con_bot_r_tab_ul_cur"
							style="border-right: 1px solid #e0e0de;">常见问题 <a
							href="javascript:;">更多</a></li>
						<li>理财知识 <a href="javascript:;">更多</a></li>
					</ul>
					<div class="con_bot_r_tab_con_out">
						<!--切换 start-->
						<div class="con_bot_r_tab_con">
							<p>
								<a href="javascript:;">上班族的投资之道，你晓得吗？</a>
							</p>
							<p>
								<a href="javascript:;">选择财富管理的一个秘诀公式</a>
							</p>
							<p>
								<a href="javascript:;">做好财富管理 冲抵计划外支出</a>
							</p>
						</div>
						<!--切换 end-->

						<!--切换 start-->
						<div class="con_bot_r_tab_con" style="display: none;">
							<p>
								<a href="javascript:;">上班族的投资之道，你晓得吗？</a>
							</p>
							<p>
								<a href="javascript:;">选择财富管理的一个秘诀公式</a>
							</p>
							<p>
								<a href="javascript:;">做好财富管理 冲抵计划外支出</a>
							</p>
						</div>
						<!--切换 end-->
					</div>
				</div>
			</div>
			<!--con_bot_r end-->
		</div>
		<!--con_bot end-->
	</div>
	<!--内容 con end-->


	<!--footer start-->
	<div class="footer">
		<div class="footer_in">
			<ul>
				<li><a href="guanyuwomen.html">关于我们</a></li>
				<li><a href="#">法律指引</a></li>
				<li><a href="#">新手指引</a></li>
				<li><a href="#">理财攻略</a></li>
			</ul>
			<ul>
				<li><a href="#">论坛</a></li>
				<li><a href="#">帮助中心</a></li>
				<li><a href="#">网站地图</a></li>
				<li><a href="#">友情链接</a></li>
			</ul>
			<dl>
				<dt>合作伙伴</dt>
				<dd>
					<ul>
						<li><a href="#"><img
								src="__PUBLIC__/RichFunds/images/footer_pic1.png" width="122"
								height="45" /></a></li>
						<li><a href="#"><img
								src="__PUBLIC__/RichFunds/images/footer_pic2.png" width="122"
								height="45" /></a></li>
						<li><a href="#"><img
								src="__PUBLIC__/RichFunds/images/footer_pic3.png" width="122"
								height="45" /></a></li>
						<li><a href="#"><img
								src="__PUBLIC__/RichFunds/images/footer_pic4.png" width="122"
								height="45" /></a></li>
						<li><a href="#"><img
								src="__PUBLIC__/RichFunds/images/footer_pic5.png" width="122"
								height="45" /></a></li>
						<li><a href="#"><img
								src="__PUBLIC__/RichFunds/images/footer_pic6.png" width="122"
								height="45" /></a></li>
					</ul>
				</dd>
			</dl>
			<div class="footer_r">
				<p style="font-size: 14px;">客服热线（工作时间8:00-22:00）</p>
				<p style="font-size: 30px;">400 123 4567</p>
				<p>客服邮箱 kefu@gog.com 在线服务</p>
			</div>
		</div>
	</div>
	<!--footer end-->

	<!--banQuan start-->
	<div class="banQuan">
		<div class="banQuan_in">
			<ul>
				<li><img src="__PUBLIC__/RichFunds/images/banQuan_pic1.png" /></li>
				<li><img src="__PUBLIC__/RichFunds/images/banQuan_pic2.png" /></li>
				<li><img src="__PUBLIC__/RichFunds/images/banQuan_pic3.png" /></li>
				<li><img src="__PUBLIC__/RichFunds/images/banQuan_pic4.png" /></li>
			</ul>
			<p>Copyrightc2011-2014工合财富 All rights reserved</p>
		</div>
	</div>
	<!--banQuan end-->

<!--浮动侧边栏  计算器  客服QQ-->
<!--联系我们-->
<div class="flo_aside">
	<!--浮动框标题-->
    <ul class="flo_l">
    	<li>收<br />益<br />计<br />算</li>
        <li>联<br />系<br />我<br />们</li>
    </ul>
    <div class="flo_r" style="display:none">
    	<!--计算器-->
    	<ul class="flo_jsq" style="display:none">
            	<li><a href="{:U('Home/Newhelp/compare_tools')}">收益计算器</a></li>
            	<li><a href="#">CPI计算器</a></li>
            	<li><a href="#">收益对比</a></li>
            	<li style="border:0;"><a href="#"></a></li>
        </ul>
        <!--联系方式-->
        <ul class="flo_lx" style="display:none">
            <li style="font-size:18px;line-height:30px">客服热线<br /><span>400-123-4567</span></li>
            <li><a href="javascript:;">客服QQ</a></li>
            <li>
                <dl>
                    <dt>官方微信</dt>
                    <dd>ghcf</dd>
                    <dd><img src="../../../../../Public/Home/images/code.png" width="100" height="100" /></dd>    
                </dl>
            </li>
            <li>
                <dl>
                    <dt>官方微博</dt>
                    <dd style="margin-bottom:0;"><a href="javascript:;">点击关注</a></dd>
                </dl>
            </li>
    	</ul>
        
    </div>
</div>
























</body>
</html>
