<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>首页</title>
<!-- 添加基金版面         -->
<link rel="stylesheet" href="__PUBLIC__/RichFunds/css/jijinStyle.css"
	type="text/css" />
<script type="text/javascript"
	src="__PUBLIC__/RichFunds/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript"
	src="__PUBLIC__/RichFunds/js/index_con_bot_l_tab.js"></script>
<script type="text/javascript"
	src="__PUBLIC__/RichFunds/js/jiJin_banner.js"></script>
<script type="text/javascript">
	$(function() {
		//alert(1);	
		$('.flo_aside').hover(
				function() {
					//alert(2);
					$('.flo_aside .flo_l li').each(
							function(index, element) {
								$(element).hover(
										function() {
											$('.flo_aside .flo_r').show();
											$('.flo_aside .flo_r ul').eq(
													$(this).index()).show()
													.siblings().hide();
										});
							})
				}, function() {
					$('.flo_aside .flo_r').hide();
				});

		$(document).scroll(function() {
			if ($(document).scrollTop() > $(window).height()) {
				$('.returnTop').show();
			} else {
				$('.returnTop').hide();
			}
		});
	})
</script>
</head>

<body>

	<!--头部  bar start-->
	<div class="bar_out">
		<div class="bar">
			<ul>
				<li><div
						style="background: url(__PUBLIC__/Home/images/top_icons.png) no-repeat 0 6px; width: 30px; height: 36px; float: left;"></div>
					<a href="javascript:;">官方微博</a></li>
				<li><div
						style="background: url(__PUBLIC__/Home/images/top_icons.png) no-repeat 0 -39px; width: 30px; height: 36px; float: left;"></div>
					<a href="javascript:;">官方微信</a></li>
				<li class="phone"><div
						style="background: url(__PUBLIC__/Home/images/top_icons.png) no-repeat 0 -84px; width: 30px; height: 36px; float: left;"></div>
					<div style="width: 70px;">客户热线：</div> <span>400-123-4567</span></li>
			</ul>
			<ul class="bar_aside">
				<li><a class="bar_aside_btn" style="color: #ef681f;"
					href="{:U('User/login')}">登录</a></li>
				<li><a class="bar_aside_btn" style="color: #65bae1;"
					href="{:U('User/register')}">注册</a></li>
			</ul>
		</div>
		<a name="returntop" id="returntop"></a>
	</div>
	<!--头部  bar end-->


	<!--导航栏 nav start-->
	<div class="nav_out">
		<h1>
			<a href="{:u('Home/RichFunds/index')}"><img
				src="__PUBLIC__/RichFunds/images/biaozhi.png" width="57" height="48"
				class="logo" /><img
				src="__PUBLIC__/RichFunds/images/gonghejijin.png" width="123"
				height="40" class="logo_wz" /></a>
		</h1>
		<ul class="nav">
			<li><a href="{:u('Home/RichFunds/index')}" class="nav_cur">首页</a></li>
			<li><a href="{:u('Home/RichFunds/jijinbuild')}">基金产品</a></li>
			<li><a href="{:U('Home/Index/index')}">工合财富</a></li>
			<li><a href="{:u('Home/RichFunds/jijinbuild')}">工合众筹</a></li>
			<li><a href="{:u('Home/RichFunds/jijinbuild')}">关于我们</a></li>
		</ul>

	</div>
	<!--导航栏 nav end-->


	<div>
		<center>
			<img src="__PUBLIC__/RichFunds/images/jijinbuild.jpg" alt="" />
		</center>
	</div>


	<!--footer start-->
	<div class="footer">
		<div class="footer_in">
			<ul>
				<li><a href="guanyuwomen.html">关于我们</a></li>
				<li><a href="#">法律指引</a></li>
				<li><a href="#">新手指引</a></li>
				<li><a href="#">理财攻略</a></li>
			</ul>
			<ul>
				<li><a href="#">论坛</a></li>
				<li><a href="#">帮助中心</a></li>
				<li><a href="#">网站地图</a></li>
				<li><a href="#">友情链接</a></li>
			</ul>
			<dl>
				<dt>合作伙伴</dt>
				<dd>
					<ul>
						<li><a href="#"><img
								src="__PUBLIC__/RichFunds/images/footer_pic1.png" width="122"
								height="45" /></a></li>
						<li><a href="#"><img
								src="__PUBLIC__/RichFunds/images/footer_pic2.png" width="122"
								height="45" /></a></li>
						<li><a href="#"><img
								src="__PUBLIC__/RichFunds/images/footer_pic3.png" width="122"
								height="45" /></a></li>
						<li><a href="#"><img
								src="__PUBLIC__/RichFunds/images/footer_pic4.png" width="122"
								height="45" /></a></li>
						<li><a href="#"><img
								src="__PUBLIC__/RichFunds/images/footer_pic5.png" width="122"
								height="45" /></a></li>
						<li><a href="#"><img
								src="__PUBLIC__/RichFunds/images/footer_pic6.png" width="122"
								height="45" /></a></li>
					</ul>
				</dd>
			</dl>
			<div class="footer_r">
				<p style="font-size: 14px;">客服热线（工作时间8:00-22:00）</p>
				<p style="font-size: 30px;">400 123 4567</p>
				<p>客服邮箱 kefu@gog.com 在线服务</p>
			</div>
		</div>
	</div>
	<!--footer end-->

	<!--banQuan start-->
	<div class="banQuan">
		<div class="banQuan_in">
			<ul>
				<li><img src="__PUBLIC__/RichFunds/images/banQuan_pic1.png" /></li>
				<li><img src="__PUBLIC__/RichFunds/images/banQuan_pic2.png" /></li>
				<li><img src="__PUBLIC__/RichFunds/images/banQuan_pic3.png" /></li>
				<li><img src="__PUBLIC__/RichFunds/images/banQuan_pic4.png" /></li>
			</ul>
			<p>Copyrightc2011-2014工合财富 All rights reserved</p>
		</div>
	</div>
	<!--banQuan end-->

	<!--浮动侧边栏  计算器  客服QQ-->
	<!--联系我们-->
	<div class="flo_aside">
		<!--浮动框标题-->
		<ul class="flo_l">
			<li style="padding-top: 30px;">计<br />算<br />器
			</li>
			<li>联<br />系<br />我<br />们
			</li>
			<li class="returnTop" style="display: none; height: 130px;"><a
				href="#returntop" style="color: #fff;">返<br />回<br />顶<br />部<br />top
			</a></li>
		</ul>
		<div class="flo_r" style="display: none">
			<!--计算器-->
			<ul class="flo_jsq" style="display: none">
				<li><a href="{:U('Home/Newhelp/compare_tools')}">收益计算器</a></li>
				<!--<li><a href="#">CPI计算器</a></li>
            	<li><a href="#">收益对比</a></li>
            	<li><a href="#">身价计算器</a></li>-->
			</ul>
			<!--联系方式-->
			<ul class="flo_lx" style="display: none">
				<li style="font-size: 18px; line-height: 30px">客服热线<br /> <span>400-123-4567</span></li>
				<li><a href="javascript:;">客服QQ</a></li>
				<li>
					<dl>
						<dt>官方微信</dt>
						<dd>微信号：ghcf</dd>
						<dd>
							<img src="__PUBLIC__/Home/images/code.png" width="100"
								height="100" />
						</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>官方微博</dt>
						<dd style="margin-bottom: 0;">
							<a href="javascript:;">点击关注</a>
						</dd>
					</dl>
				</li>
			</ul>

		</div>
	</div>



	<!--<div class="returnTop" style="display:none;position:fixed;bottom:300px;right:100px;"><a href="#returntop"><img src="__PUBLIC__/RichFunds/images/returntop.png" width="23" height="72" /></a></div>-->




















</body>
</html>
