<extend name="Base/common"/>
<block name="body">
<!-- 引用头部公共部分 -->
	
    
    
<!-- content start -->
<div class="tz_cont_out">	
  <div class="tz_cont" id="tz_cont">
      <!--tz_cont_head01-->
      <ul class="tz_cont_head01">
          <li ><a class="current" href="{:U('Finance/index?type=0#tz_cont')}">全部借款</a></li>
          <li><a href="{:U('Finance/index?order=add_time#tz_cont')}">最近借款</a></li>
          <li><a href="{:U('Finance/index?order=borrow_status#tz_cont')}">成功借款</a></li>
          <li class="tz_cont_head01_li_last">
          <div class="search-form fr cf">
             <div class="sleft">
                <input type="text" name="nickname" class="search-input" value="{:I('nickname')}" placeholder="请输入项目名称">
                <a class="sch-btn" href="javascript:;" id="search" url="{:U('index')}"><i class="btn-search"></i></a>
              </div>
          </div>
            </li>            
        </ul>

      <!--tz_cont_head02-->
        <ul class="tz_cont_head02">
          <li class="tz_cont_head02_li01">标的类型:</li>
            <li class="current"><a href="{:U('Finance/index?type=1#tz_cont')}">信用标</a></li>
            <li><a href="{:U('Finance/index?type=2#tz_cont')}">净值标</a></li>
            <li><a href="{:U('Finance/index?type=3#tz_cont')}">秒还标</a></li>
            <li><a href="{:U('Finance/index?type=4#tz_cont')}">担保标</a></li>
            <li><a href="{:U('Finance/index?type=5#tz_cont')}">抵押标</a></li>
        </ul>

      <!--tz_cont_head03-->       
        <ul class="tz_cont_head03">
          <li class="tz_cont_head03_title">项目</li>
          <li class="li02">借款金额</li>
          <li>年利率</li>
          <li>期限</li>
          <li>保障方式</li>
          <li class="li_jd">进度</li>
          <li>发布时间</li>
          <li>立即投标</li>
          
        </ul>
        <div id="top-alert" class="alert alert-error" style="display: none;">
            <button class="close fixed" style="margin-top: 4px;">&times;</button>
            <div class="alert-content">这是内容</div>
        </div>
        <volist name="list2" id="vo" key="k">
        <!--tz_cont_head04-->  
            <ul class="tz_cont_head04">
                <li class="tz_cont_head03_title"><a href="{:U('Borrow/detail?id='.$vo['id'])}">{$vo.borrow_name}</a></li>
                <li class="li02"><span>￥</span>{$vo.borrow_money}</li>
                <li>{$vo.borrow_interest_rate}%</li>
                <li>{$vo.borrow_duration}月</li>
                <li>本息保护</li>
                <li class="li_jd"><div id="jdbox_{$k}" class="jdbox">{$vo['has_borrow']/$vo['borrow_money']*100}</div></li>
                <li>{$vo.add_time|date='Y-m-d',###}</li>
                <li class="li_last">
                        <if condition="$vo.borrow_status eq 2">
                              <if condition="$login eq 1">
                                    <a  href="{:U('Finance/invest?id='.$vo['id'])}"><img  src="__PUBLIC__/Home/images/toubiao.png" style="width:80px;height:30px;" /></a>
                                  <elseif condition="$login eq 0"/>
                                    <a class="ajax-get"  href="{:U('Finance/invest?id='.$vo['id'])}"><img  src="__PUBLIC__/Home/images/toubiao.png" style="width:80px;height:30px;" />
                              </if>
                          <elseif condition="$vo.borrow_status eq 0"/>
                          <img alt="" src="__PUBLIC__/Home/images/shenhe.png" style="width:80px;height:30px;" />
                           <elseif condition="$vo.borrow_status eq 4"/>
                          <img alt="" src="__PUBLIC__/Home/images/fushen.png" style="width:80px;height:30px;" />
                          <elseif condition="$vo.borrow_status eq 6"/>
                          <img alt="" src="__PUBLIC__/Home/images/huankuan.png" style="width:80px;height:30px;" />
                           <elseif condition="$vo.borrow_status eq 7"/>
                           <img alt="" src="__PUBLIC__/Home/images/manbiao.png" style="width:80px;height:30px;" />
                          </if>
                      </li>

                
                    
                
            </ul>
        </volist>
                    <if condition="$k eq null">
                           <ul class="tz_cont_head04">
                                <li style="width: 100%;text-align: center;">亲！找不到与“{:I('nickname')}”信息相关的内容。╮(╯_╰)╭</li>
                            </ul>
                    </if>
        <!--tz_cont_bottom-->
        <!-- <ul class="tz_cont_bottom">
          <li>首页</li>
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li>5</li>
          <li>...</li>
          <li>尾页</li>
          <li><input type="text" value="1" class="txt"></li>
          <li><input type="button" class="btn" value="go"></li>
        </ul>  -->  
        <div class="page"> {$page}</div>
    </div>
  </div>
  <!--content end-->
    <script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>
  <script type="text/javascript">
  //搜索功能
  $("#search").click(function(){
    var url = $(this).attr('url');
        var query  = $('.search-form').find('input').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
    window.location.href = url;
  });
  //回车搜索
  $(".search-input").keyup(function(e){
    if(e.keyCode === 13){
      $("#search").click();
      return false;
    }
  });
    //导航高亮
    highlight_subnav('{:U('User/index')}');
  </script>
  <script type="text/javascript" src="__PUBLIC__/Admin/js/common.js"></script>
  <script type="text/javascript">
//验证码刷新
      // $(document)
      // $("#ajax1").click(function(){
      //   var self = $(this);
      //   $.post(self.attr("action"), self.serialize(), success, "json");
      //   return false;

      //   function success(data){
      //     if(data.status){
      //       window.location.href = data.url;
      //     } else {
      //       self.find(".Validform_checktip").text(data.info);
      //       // layer.alert(data.info);

      //     }
      //   }
      // });
</script>

<script type="text/javascript">
window.onload = function(){
  var object1 = document.getElementById('jdbox_1')
  var object2 = document.getElementById('jdbox_2')
  var object3 = document.getElementById('jdbox_3')
  var object4 = document.getElementById('jdbox_4')
  var object5 = document.getElementById('jdbox_5')
  var object6 = document.getElementById('jdbox_6')
  var object7 = document.getElementById('jdbox_7')
  var object8 = document.getElementById('jdbox_8')
  function loadImg1 (data){
      var i = 0;
      setInterval(function(){
        i++
        if(i>data){
          i=data
        }
        var imgLeft = -(i*44+(i*10))+'px'
        object1.style.backgroundPosition = imgLeft+'\t'+'0px'
        object1.innerHTML = i+'%';
      },50)
  }
  loadImg1(parseInt(document.getElementById('jdbox_1').innerHTML))
  
    function loadImg2 (data){
      var i = 0;
      setInterval(function(){
        i++
        if(i>data){
          i=data
        }
        var imgLeft = -(i*44+(i*10))+'px'
        object2.style.backgroundPosition = imgLeft+'\t'+'0px'
        object2.innerHTML = i+'%';
      },50)
  }
  loadImg2(parseInt(document.getElementById('jdbox_2').innerHTML))
  function loadImg3 (data){
      var i = 0;
      setInterval(function(){
        i++
        if(i>data){
          i=data
        }
        var imgLeft = -(i*44+(i*10))+'px'
        object3.style.backgroundPosition = imgLeft+'\t'+'0px'
        object3.innerHTML = i+'%';
      },50)
  }
  loadImg3(parseInt(document.getElementById('jdbox_3').innerHTML))
  function loadImg4 (data){
      var i = 0;
      setInterval(function(){
        i++
        if(i>data){
          i=data
        }
        var imgLeft = -(i*44+(i*10))+'px'
        object4.style.backgroundPosition = imgLeft+'\t'+'0px'
        object4.innerHTML = i+'%';
      },50)
  }
  loadImg4(parseInt(document.getElementById('jdbox_4').innerHTML))
  function loadImg5 (data){
      var i = 0;
      setInterval(function(){
        i++
        if(i>data){
          i=data
        }
        var imgLeft = -(i*44+(i*10))+'px'
        object5.style.backgroundPosition = imgLeft+'\t'+'0px'
        object5.innerHTML = i+'%';
      },50)
  }
  loadImg5(parseInt(document.getElementById('jdbox_5').innerHTML))
  function loadImg6 (data){
      var i = 0;
      setInterval(function(){
        i++
        if(i>data){
          i=data
        }
        var imgLeft = -(i*44+(i*10))+'px'
        object6.style.backgroundPosition = imgLeft+'\t'+'0px'
        object6.innerHTML = i+'%';
      },50)
  }
  loadImg6(parseInt(document.getElementById('jdbox_6').innerHTML))
  function loadImg7 (data){
      var i = 0;
      setInterval(function(){
        i++
        if(i>data){
          i=data
        }
        var imgLeft = -(i*44+(i*10))+'px'
        object7.style.backgroundPosition = imgLeft+'\t'+'0px'
        object7.innerHTML = i+'%';
      },50)
  }
  loadImg7(parseInt(document.getElementById('jdbox_7').innerHTML))
  function loadImg8 (data){
      var i = 0;
      setInterval(function(){
        i++
        if(i>data){
          i=data
        }
        var imgLeft = -(i*44+(i*10))+'px'
        object8.style.backgroundPosition = imgLeft+'\t'+'0px'
        object8.innerHTML = i+'%';
      },50)
  }
  loadImg8(parseInt(document.getElementById('jdbox_8').innerHTML))
}
</script>
</block>
