<block name="body">
<extend name="Base/common"/>
<block name="body">
<!-- 引用头部公共部分 -->
<!--woyaotouzi_banner start--->
    <div class="tz_banner">
    	<div class="tz_banner_in"></div>
    </div>
	<!--woyaotouzi_banner end--->
    
    
<!--content start-->
  <div class="tz_cont">
      <!--tz_cont_head01-->
      <ul class="tz_cont_head01">
          <li class="current">全部借款</li>
          <li>最近借款</li>
          <li>成功借款</li>
          <li class="tz_cont_head01_li_last">
              <span>标题</span>
                <input type="text" value="" class="text"/>
                <input type="button" value="" class="button"/>
            </li>            
        </ul>

      <!--tz_cont_head02-->
        <ul class="tz_cont_head02">
          <li class="tz_cont_head02_li01">标的类型:</li>
            <li class="current">信用标</li>
            <li>净值标</li>
            <li>秒还标</li>
            <li>担保标</li>
            <li>抵押标</li>
        </ul>

      <!--tz_cont_head03-->       
        <ul class="tz_cont_head03">
          <li>项目</li>
          <li>借款金额</li>
          <li>年利率</li>
          <li class="li_s">期限</li>
          <li class="li_s">保障方式</li>
          <li class="li_jd">进度</li>
          <li class="li_s">发布时间</li>
        </ul>
        
        <volist name="list2" id="vo">
        <!--tz_cont_head04-->  
            <ul class="tz_cont_head04">
                <li>{$vo.borrow_name}</li>
                <li><span>￥:</span>{$vo.borrow_money|money_upper=###}</li>
                <li>{$vo.borrow_interest_rate}%</li>
                <li class="li_s">{$vo.borrow_duration}月</li>
                <li class="li_s">本息保护</li>
                <li class="li_jd">{$vo['has_borrow']/$vo['borrow_money']*100}%</li>
                <li class="li_s">{$vo.add_time|date='Y-m-d',###}</li>
                <li class="li_s"><input type="button"></li>
            </ul>
        </volist>
        
      
        
        <!--tz_cont_bottom-->
        <!-- <ul class="tz_cont_bottom">
          <li>首页</li>
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li>5</li>
          <li>...</li>
          <li>尾页</li>
          <li><input type="text" value="1" class="txt"></li>
          <li><input type="button" class="btn" value="go"></li>
        </ul>  -->  
        <div class="page"> {$page}</div>
    </div>
  <!--content end-->
   <script type="text/javascript" src="script/jquery.shove-1.0.js"></script>
 <script type="text/javascript" src="script/jbox/jquery.jBox-2.3.min.js"></script>
 <script type="text/javascript" src="script/jbox/jquery.jBox-zh-CN.js"></script>
 <script type="text/javascript">
$(document).ready(function(){
      var ck_type = "${paramMap.type}";
      var no = ck_type.split(',');
      if(no != ''){
         for(var i=0;i<no.length;i++){
            $('#ck_mode_'+no[i]).attr('checked','checked');
         }
      } 
});
function  checkTou(id,type){
   var param = {};
   param["id"] = id;
     $.shovePost('financeInvestInit.htm',param,function(data){
     var callBack = data.msg;
     if(callBack !=undefined){
       alert(callBack);
     }else{
       if(type==2){
        var url = "subscribeinit.htm?borrowid="+id;
           $.jBox("iframe:"+url, {
              title: "我要购买",
              width: 450,
              height: 450,
              buttons: {  }
              });
      }else{
         window.location.href= 'financeInvestInit.htm?id='+id;
       }
     }
   });
}
function closeMthod(){
  window.jBox.close();
  window.location.reload();
}

function clearComponentVal(){
        param = {};
        $('#titles').val('');
        $('#paymentMode').get(0).selectedIndex=0;
        $('#purpose').get(0).selectedIndex=0;
        $('#deadline').get(0).selectedIndex=0;
        $('#reward').get(0).selectedIndex=0;
        $('#arStart').get(0).selectedIndex=0;
}
</script>
</block>
