<extend name="Base/common" />
<block name="header"> <header class="jumbotron subhead"
	id="overview">
	<div class="container">
		<h2>用户登录</h2>
		<p>
			<span><span class="pull-left"><span>还没有账号? <a
						href="{:U('User/register')}">立即注册</a></span> </span>
		</p>
	</div>
</header> </block>
<block name="body"> <!--content start-->

<div class="dl_cont_out">
	<form class="login-form" action="__SELF__" method="post" id="form">
		<div class="dl_cont" >
			<!--<p class="dl_top01" style="width: 800px;height: 40px;background: url(__PUBLIC__/Home/images/denglu_bg01.png) repeat-x left top;text-align: center;line-height: 40px;font-size: 20px;color: #fff;font-family: '黑体';">登 录</p>
            <h2 class="dl_top02" style="width: 800px;height: 87px;background: url(__PUBLIC__/Home/images/denglu_bg.png) no-repeat center top;"></h2>-->
			<div class="dl_cont_in" style="overflow: hidden;position: relative;min-height: 600px;">
				<!--左边-->
				<div class="dl_cont_l" style="width: auto; height: auto;float: right;border: 1px solid #ddd;background: rgba(255,255,255,0.3);padding: 40px 0 0;position: absolute;right: 130px;top: 40px;z-index: 10;box-shadow: 3px 3px 5px #ddd;">
					<dl style="width: 300px;padding-left: 31px;">
						<div>
							<img src="__PUBLIC__/Home/images/loginname.png"> <input
								type="text" value="" name="username" class="txt txt1 utip"
								id="username" placeholder="用户名/手机号/邮箱"
								ajaxurl="/member/checkUserNameUnique.html" errormsg="请填写1-16位用户名"
								datatype="*1-16" />
						</div>
					</dl>
					<dl style="width: 300px;padding-left: 31px;">
						<div>
							<img src="__PUBLIC__/Home/images/password.png"> <input
								type="password" value="" name="password" class="txt txt1 pwtip"
								id="password" placeholder="密 码" errormsg="密码为6-20位"
								nullmsg="请填写密码" datatype="*6-20" />
						</div>
					</dl>
					<dl style="width: 300px;padding-left: 31px; margin-bottom: 0px;">
						<div>
							<img src="__PUBLIC__/Home/images/yanzheng.png"> <input
								type="text" value="" name="verify" class="txt txt1 "
								style="width: 140px;" id="verifycode" placeholder="验证码"
								errormsg="" nullmsg="请填写验证码" datatype="*6-20" /> <img
								class="verifyimg reloadverify vtip" src="{:U('verify')}" width="101"
								height="44" alt="点击切换"
								style="cursor: pointer; width: 90px; float: right;">
						</div>
		
					</dl>
					<dl style="width: 300px;padding-left: 50px; height: 40px; margin-bottom: 0px;">
						<span style="color: red; line-height: 40px;" id="checkcode" class="formtips Validform_checktip "></span>
					</dl>
					<input type="button" value="登&nbsp;&nbsp;&nbsp;&nbsp;录" name="denglu" id="loginIn"
					<input type="large button blue" value="登&nbsp;&nbsp;&nbsp;&nbsp;录" name="denglu" id="loginIn"
						onclick="javascript:;" class="large button blue"  style=" border-radius:4px;margin-left: 53px;font-size: 18px;width: 250px;height: 50px;"/>
					<div class="dl_cont_bot" style="margin-left: 0px;">
						<span class="right"><a href="{:U('System/findpassword')}">忘记密码？</a><a
							href="{:U('User/register')}">|&nbsp;立即注册</a></span>
					</div>
					<div id="show"></div>
					
					<!--二维码-->
					<div class="ewm"></div>							
				</div>
				
				<div class="ewm_big"></div>
				
				<!--背景图部分-->
				<div class="dl_cont_bg">
					<ul>
						<li style="background: url(__PUBLIC__/Home/images/dl_cont_bg01.jpg) no-repeat 10px top;z-index: 1;"></li>
						<li style="background: url(__PUBLIC__/Home/images/dl_cont_bg02.jpg) no-repeat 80px top;display: none;"></li>
						<li style="background: url(__PUBLIC__/Home/images/dl_cont_bg03.jpg) no-repeat 100px top;display: none;"></li>
					</ul>
				</div>
				
				
				<!--中间-->
				<!--<div class="dl_cont_c" style="float: left;width:2px; min-height:325px;background: url(__PUBLIC__/Home/images/denglu_bg02.png) repeat-y;margin-left: 49px;"></div>-->
				
				<!--右边-->
				<!--<div class="dl_cont_r" style="width: 250px;height:auto;float: right;padding-right: 80px;">
            		<div style="height: 250px;"><img src="__PUBLIC__/Home/images/weixin_eweima.jpg" width="250" height="250"/></div>
            		<p style="text-align: center;line-height: 20px;">扫描上方二维码<br />关注工合财富官方微信<br />随时随地掌握最新财富资讯</p>
            	</div>-->
            </div>
				
		</div>
	</form>
</div>

<script type="text/javascript">
	//登录的背景图轮播及二维码的显示与隐藏
	$(function(){
		$('.dl_cont .dl_cont_l .ewm').click(function(){
			//alert(1);
			$('.dl_cont .dl_cont_in .ewm_big').toggle();
		})
		
		var num = 0;
		var timer =null;
		var myFn = function()
		{
			num++;
			if(num > $('.dl_cont_bg ul li').length -1){  num = 0;}
			$('.dl_cont_bg ul li').eq(num).stop().fadeIn().siblings().fadeOut();
		}
		timer =setInterval(myFn,3000);		
		$('.dl_cont_bg ul li').mouseover(function(e) {
            clearInterval(timer);
			timer =null;
        }).mouseout(function(e) {
			clearInterval(timer);
            timer = setInterval(myFn,3000);
        });
		
	})
</script>

<script type="text/javascript">
	//验证码刷新
	$(document).ajaxStart(function() {
		$("button:submit").addClass("log-in").attr("disabled", true);
	}).ajaxStop(function() {
		$("button:submit").removeClass("log-in").attr("disabled", false);
	});
	// 异步验证
	$(".utip").blur(function() {
	 var username = document.getElementById("username").value;
		  var bid =1;
		  var index = layer.load(1,{time: 7*1000});	
          $.post('__URL__/login_array',{bid:bid,username:username},function success(data){
    //       	if (data.nuser =='用户不存在')
    //       	 {
				// layer.tips(data.nuser, '.utip');
				// layer.closeAll('loading');
			 //    } 
			 //    else{
			    	layer.closeAll('loading');
			    // }
          		});
	});
	$("form").submit(function() {
		var index = layer.load(1);
		var self = $(this);
		$.post(self.attr("action"), self.serialize(), success, "json");
		return false;

		function success(data) {

			if (data.status) {
				window.location.href = data.url;
			} else {
				if (data.info =='验证码错误！') {
				layer.tips(data.info, '.vtip');
			    } 
			    else if(data.info =='密码错误！') {
				layer.tips(data.info, '.pwtip');
				}
				else{
					self.find(".Validform_checktip").text(data.info);
				}
				//刷新验证码
				$(".reloadverify").click();
				layer.closeAll('loading');
			}
		}
	});

	$(function() {
		var verifyimg = $(".verifyimg").attr("src");
		$(".reloadverify").click(
				function() {
					if (verifyimg.indexOf('?') > 0) {
						$(".verifyimg").attr("src",
								verifyimg + '&random=' + Math.random());
					} else {
						$(".verifyimg").attr(
								"src",
								verifyimg.replace(/\?.*$/, '') + '?'
										+ Math.random());
					}
				});
	});
</script> <script>
	$(function() {
		$(document).keydown(function(event) {
			if (event.keyCode == 13) {
				$("#loginIn").click();
			}
		});
	});

	$("#loginIn").click(function() {
		var username = $("#username").val();
		var password = $("#password").val();
		var verifycode = $("#verifycode").val();
		// if (username == "") {
		// 	$("#checkname").html(
		// 			"<span><font color='red'>请输入用户名！</font></span>");
		// 	return false;
		// }
		// if (password == "") {
		// 	if (username != null) {
		// 		$("#checkname").hide();
		// 	}
		// 	$("#checkpwd").html("请输入登录命名！");
		// 	return false;
		// }
		// if (verifycode == "") {
		// 	if (username != null) {
		// 		$("#checkname").hide();
		// 	}
		// 	if (password != null) {
		// 		$("#checkpwd").hide();
		// 	}
		// 	$("#checkcode").html("请输入验证码！");
		// 	return false;
		// }

		$("#form").submit();
	});
</script>

</block>