<block name="body"> <extend name="Base/common" /> <!--content start-->
<div class="zh_cont_out">
	<div class="zh_cont">


		<!--zh_cont_l-->
		<include file="Member@default/Public/left" />
		<!--zh_cont_r-->
		<div class="zh_cont_r">

			<!--安全设置-->
			<div class="tab">
				<h3>当前位置 > <span style="color: #D41010;">安全认证</span></h3>
				<div class="aqset_tab">
					<ul class="yhk_head">
						<li class="cur"><a href="{:U('Home/User/profile')}" >账户安全</a></li>
						<li><a href="{:U('Home/Borrow/papersinfo')}">信征认证</a></li>
						<li><a href="{:U('Member/Userinfo/usermailbanding')}">邮箱认证</a></li>
						<li><a href="{:U('Member/Userinfo/userfindpassbyphone')}">手机认证</a></li>
						<li style="border-right: none;"><a href="{:U('Member/Userinfo/userselfset')}">实名认证</a></li>
				</ul>
				<div class="aqset_tabC_out">
						<!--登录密码-->
						<div class="aqset_tabC" style="padding-top: 40px;">
							<!-- <form class="login-form" action="__SELF__" method="post"> -->
								<div class="list-person clearfix">
									<p class="list-one fl"><span class="icon"><img src="__PUBLIC__/Home/images/img/iconfont-suoding.png" style="border-radius: 100px;"width="32" height="32"></span><span class="list-text">登录密码</span></p>
									<div class="list-two fl">
										<p class="color-99">安全性高的密码可以使帐号更安全。建议您定期更换登录密码。</p>
										<button type="button" class="large button blue btn-primary   btn-type-to  " key="update-pwd">修改登录密码</button>
										<div class="p-hide update-pwd-c" style="display: none;">	
											<p><span class="person-span-1">原登录密码：</span><span><input type="password" class="dlmm_txt" placeholder="请输入密码" errormsg="密码为6-20位" nullmsg="请填写密码" datatype="*6-20" name="old" id="oldp"></span></p>
											<p><span class="person-span-1">新登录密码：</span><span><input type="password" class="dlmm_txt" placeholder="请输入密码" errormsg="密码为6-20位" nullmsg="请填写密码" datatype="*6-20" id="newp" name="password"></span></p>
											<p><span class="person-span-1">确认新密码：</span><span><input type="password" class="dlmm_txt" placeholder="请再次输入密码" recheck="password" errormsg="您两次输入的密码不一致" id="rep" nullmsg="请填确认密码" datatype="*" name="repassword"></span></p>
											
											 <button type="submit" class="large button blue btn-primary  pad-left " id="update-pwd">修改登录密码</button>
											 <button type="button" class="large button blue   btn-hid">隐藏</button>
										</div>
									</div>
								</div>
							<!-- </form> -->
							<!--支付密码-->
							
							<if condition="$pin_pass neq ''">
							
							<div class="list-person clearfix">
								<p class="list-one fl"><span class="icon"><img src="__PUBLIC__/Home/images/img/iconfont-suoding-zhi.png" style="border-radius: 100px;"width="32" height="32"></span><span class="list-text">支付密码</span></p>
								<div class="list-two fl">
									<p class="color-99">安全性高的密码可以使帐号更安全。建议您定期更换交易密码。</p>
									<button type="button" class="large button blue btn-primary   btn-type-to1  " key="update-pwd">修改支付密码</button>
									<button type="button" class="large button blue btn-primary   btn-type-to2  " key="update-pwd">忘记支付密码</button>
									<div class="p-hide1 update-pwd-c" style="display: none;">
											
										<p style="margin-top: 20px;"><span class="person-span-1">原支付密码：</span><span style="margin-left: 12px;"><input type="password" class="dlmm_txt"name="oldpassword" id="oldppass"></span></p>
										<p style="margin-top: 20px;"><span class="person-span-1">新支付密码：</span><span style="margin-left: 12px;"><input type="password" class="dlmm_txt"name="newpassword"id="newppass"></span></p>
										<p style="margin-top: 20px;"><span class="person-span-1">确认新支付密码：</span><span style="margin-left: 12px;"><input type="password" class="dlmm_txt"name="repassword" id="reppass"></span></p>
										<p class="show-message"></p>
										 <button type="submit" class="large button blue btn-primary  pad-left " id="change-pwd">确认修改</button>
										 <button type="button" class="large button blue  btn-hid1">隐藏</button>
										 
									</div>
									<div class="p-hide2 update-pwd-c" style="display: none;">	
										
										<div class="phone">
											<p style="margin-top: 20px;"><span class="person-span-1">手机验证码：</span></p>
											<dd><input id="mobile" type="text"value="{$mobile}" readonly  style="float: left;margin-left:0px;"/><input type="text" size="8" name="mobile_code" placeholder="手机验证码" class="inputBg" style="float: left;margin-bottom: 0px;margin:5px 5px 0 0;  width:130px;display:none;"id="checkcode"/>
											<input id="zphone" type="button" value="获取验证码 " onClick="get_mobile_code();" class="large button blue" /> </dd>
										</div>
										
										<p style="margin-top: 20px;"><span class="person-span-1">新支付密码：</span><span style=" margin-left: 12px;"><input type="password" class="dlmm_txt" name="newpassword" id="new_ppass"></span></p>
										<p style="margin-top: 20px;"><span class="person-span-1">确认新支付密码：</span><span style=" margin-left: 12px;"><input type="password" class="dlmm_txt" name="repassword" id="re_ppass"></span></p>
										<p class="show-message"></p>
										 <button type="submit" class="large button blue btn-primary  pad-left " id="find-pwd">确认修改</button>
										 <button type="button" class="large button blue   btn-hid2">隐藏</button>
										
									</div>
								</div>
							</div>
							
							</if>
						</div>
				</div>
				</div>
				

			</div>
		</div>
	</div>
</div>

<!--content end--> 
<script type="text/javascript">
	$(document).ready(function(){
	  $(".btn-type-to").click(function(){
	  $(".p-hide").show();
	  $(".btn-type-to").hide();
	  });
	  $(".btn-hid").click(function(){
	  $(".p-hide").hide();
	  $(".btn-type-to").show();
	  });
	  $(".btn-type-to1").click(function(){
	  $(".p-hide1").show();
	  $('.p-hide2').hide();
	  });

	  $(".btn-type-to2").click(function(){
	  $(".p-hide2").show();
	  $(".p-hide1").hide();
	  $("#zphone").click(function(){
	  	$("#mobile").hide();
	  	$(".inputBg").show();
	  });
	  });
	  $(".btn-hid1").click(function(){
	  $(".p-hide1").hide();
	  });
	  $(".btn-hid2").click(function(){
	  $(".p-hide2").hide();

	  });

	});
</script>
<?php
//短信验证码存值
function random($length = 6 , $numeric = 0) {
	PHP_VERSION < '4.2.0' && mt_srand((double)microtime() * 1000000);
	if($numeric) {
		$hash = sprintf('%0'.$length.'d', mt_rand(0, pow(10, $length) - 1));
	} else {
		$hash = '';
		$chars = 'ABCDEFGHJKLMNPQRSTUVWXYZ23456789abcdefghjkmnpqrstuvwxyz';
		$max = strlen($chars) - 1;
		for($i = 0; $i < $length; $i++) {
			$hash .= $chars[mt_rand(0, $max)];
		}
	}
	return $hash;
}
$_SESSION['send_code'] = random(6,1);
?>
<script language="javascript">
	function get_mobile_code(){
        $.post('/Addons/Smsphp/sms.php', {mobile:jQuery.trim($('#mobile').val()),send_code:<?php echo $_SESSION['send_code'];?>}, function(msg) {
            alert(jQuery.trim(unescape(msg)));
			if(msg=='已发送'){
				RemainTime();
			}
        });
	};
	var iTime = 59;
	var Account;
	function RemainTime(){
		document.getElementById('zphone').disabled = true;
		var iSecond,sSecond="",sTime="";
		if (iTime >= 0){
			iSecond = parseInt(iTime%60);
			iMinute = parseInt(iTime/60)
			if (iSecond >= 0){
				if(iMinute>0){
					sSecond = iMinute + "分" + iSecond + "秒";
				}else{
					sSecond = iSecond + "秒";
				}
			}
			sTime=sSecond;
			if(iTime==0){
				clearTimeout(Account);
				sTime='获取手机验证码';
				iTime = 59;
				document.getElementById('zphone').disabled = false;
			}else{
				Account = setTimeout("RemainTime()",1000);
				iTime=iTime-1;
			}
		}else{
			sTime='没有倒计时';
		}
		document.getElementById('zphone').value = sTime;
	}	
</script>

<script type="text/javascript"
	src="__PUBLIC__/Admin/js/common.js"></script> <script>
		$('#update-pwd').click(function(){
			var oldp =$('#oldp').val();
			var newp =$('#newp').val();
			var rep =$('#rep').val();
			
			var index = layer.load(1,{time: 7*1000});	
	        $.post('__SELF__',{oldpass:oldp,password:newp,repassword:rep},function success(data){
	        if (data.status) {
				layer.msg(data.info);
				$("#form").submit();
				layer.closeAll('loading');
				$(".btn-hid").click();
				layer.alert('登录密码修改成功');
			    } 
			    else{	
		    	layer.msg(data.info);
		    	layer.closeAll('loading');
			    }
	         });
		});
</script>

<script type="text/javascript">
		$('#change-pwd').click(function(){
			var oldppass=$('#oldppass').val();
			var newppass=$('#newppass').val();
			var reppass=$('#reppass').val();
			if (oldppass!==''){
				if (newppass!==''){
					if (reppass!==''){
						if (newppass==reppass){
							var index = layer.load(1,{time: 7*1000});
							$.post('__ROOT__/Member/Userinfo/changepaypassword_save',{oldpassword:oldppass,newpassword:newppass,repassword:reppass},function success(data){
								if (data.status){
									layer.msg(data.info);
									layer.closeAll('loading');
									$(".btn-hid1").click();
									layer.alert('新支付密码修改成功');
									
									 	
									
								}else{
									layer.msg(data.info);
									
									layer.closeAll('loading');
								}
							});
							
						}else{
							layer.msg('两次输入新密码不一致');
						}
						
					}else{
						layer.msg('确认密码不能为空！');
					}
				}else{
					layer.msg('新支付密码不能为空！');
				}
			}else{
				layer.msg('原支付密码不能为空！');
			}
		});
	</script>

<script type="text/javascript">
		$('#find-pwd').click(function(){
			var mobile_code=$('#checkcode').val();
			var new_ppass=$('#new_ppass').val();
			var re_ppass=$('#re_ppass').val();
			if (mobile_code!==''){
				if (new_ppass!==''){
					if (re_ppass!==''){
						if (new_ppass==re_ppass){
							var index = layer.load(1,{time: 7*1000});
							$.post('__ROOT__/Member/Userinfo/findpaypassword_save',{mobile_code:mobile_code,new_ppass:new_ppass,re_ppass:re_ppass},function success(data){
								if (data.status){
									layer.msg(data.info);
									layer.closeAll('loading');
									$(".btn-hid2").click();
									layer.alert('新支付密码修改成功');
									
									 	
									
								}else{
									layer.msg(data.info);
									
									layer.closeAll('loading');
								}
							});
							
						}else{
							layer.msg('两次输入新密码不一致');
						}
						
					}else{
						layer.msg('确认密码不能为空！');
					}
				}else{
					layer.msg('新支付密码不能为空！');
				}
			}else{
				layer.msg('手机验证码不能为空！');
			}
		});
	</script>

 </block>
