<extend name="Base/common" />
<block name="header"> <header class="jumbotron subhead"
	id="overview">
	<div class="container">
		<h2>用户注册</h2>
		<p>
			<span><span class="pull-left"><span>已经有账号? <a href="{:U('User/login')}">点此登录</a>
				</span> </span>
		</p>
	</div>
</header> </block>

<block name="body"> 
<div class="zc_cont_out">
	<div class="zc_cont">
		<div class="top2">
			<ul>
				<li class="zc_cont_top2_ul_li01">创建账户</li>
				<li class="zc_cont_top2_ul_li02">（同步验证账户信息）</li>
				<li class="zc_cont_top2_ul_li03">注册成功</li>
			</ul>			
		</div>		
		<div class="zc_cont_bot">		
			<div class="zc_cont_bot_ok">
				<dl>
					<dt>邮箱验证成功!</dt>
					<dd>恭喜<span>{$_SESSION['username']}</span>注册成为工合财富会员！</dd>
					<dd>设置自动投标，省时！省心！又省力！</dd>
				</dl>
				<ul>
					<li class="zc_cont_bot_ok_ul_li01"><a href="javascript:;">自动投标</a></li>
					<li class="zc_cont_bot_ok_ul_li02"><a href="{:U('Home/User/login')}">进入我的账户</a></li>
				</ul>
				
			</div>		
		</div>
	</div>
</div>	
</block>
