<block name="body"> <extend name="Base/common" /> 
<block	name="body"> <!--content start-->
<div class="zh_cont_out">
	<div class="zh_cont">
		<include file="Public/left" />
		<div class="zh_cont_r">
			<h3>当前位置 > <span style="color: #D41010;">账户详情</span></h3>
			<dl style="padding-bottom: 10px;">
				<dt>
					<div class="img">
						<volist name="list3" id="vo"> 
							<if condition="$vo.logo_url eq ''"> 
								<img src="__PUBLIC__/Home/images/default-img.jpg" style="border-radius: 100px;"width="200" height="200"> 
							<elseif condition="$vo.logo_url  neq ''" />
								<img src="/Uploads/User/{$vo.logo_url}" style="border-radius: 100px;height: 180px;" width="200" height="200" />
							</if> </volist>
						<p>
							<a id="test2">更换图像</a>
						</p>
					</div>
				</dt>
				<dd>
					<p>
						用户名称：<span style="color: #66ccfb;">{:get_username()}<if condition="$vo.user_leve eq 1">
						<a href="{:U('Userinfo/userrenewalvip')}"> <img src="__PUBLIC__/Home/images/img/ltxx.png" title="VIP已认证" /> </a>
					<else/>
						<a href="{:U('Userinfo/userrenewalvip')}"> <img src="__PUBLIC__/Home/images/img/ltxx_h.png" title="VIP未认证" /></a>
					</if><if condition="$member_level eq 0">
							<img src="__PUBLIC__/Home/images/level_p.png" title="普通会员" />
						<elseif condition="$member_level eq 1"/>
							<img src="__PUBLIC__/Home/images/level_a.png" title="A级会员" />
						<elseif condition="$member_level eq 2"/>
							<img src="__PUBLIC__/Home/images/level_b.png" title="B级会员" />
						<elseif condition="$member_level eq 3"/>
							<img src="__PUBLIC__/Home/images/level_c.png" title="C级会员" />
						</if>	
						
						
						
						
					</span>
					</p>
					<p>
						会员积分：<span><volist name="list" id="vo">{$vo.score}分</volist></span>
					</p>
					<if condition="$vo.user_leve eq 1">
					<p>
						VIP到期时间：<span>{$vo.time_limit|date='Y-m-d',###}</span>
					</p>
					</if>
					<p>
						注册时间：<span>{$vo.reg_time|date='Y-m-d',###}</span>
					</p>
					<p>
						专属客服：<span><if condition="$vo.user_leve eq 1"><a href="{:U('Member/Userinfo/kf_index')}" >{$qqtitle}<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin={$qqnum}&amp;site=qq&amp;menu=yes"><img style="border:0;" src="http://wpa.qq.com/pa?p=2:{$qqnum}:51" alt="点击这里给我发消息" title="点击这里给我发消息"></a></a><else/>无</if></span>
					</p>
					<p>
						登录时间：<span>{$vo.last_login_time|date='Y-m-d H:i:s',###}</span>
					</p>
					<p>
						站内信：<span>（<a href="{:U('System/usermailindex')}" style="text-decoration: none;"><font
								color="#66ccfb;">{:is_sysmsg()}</font></a>）
						</span>条
					</p>
					<p>登录IP:<span>{:get_client_ip()}</span></p>
					<p><a style="width: 40px; height: 30px; background-color:#60afff;color: white;" href="{:U('Member/System/recharge')}">充值</a><a style="width: 40px; height: 30px; background-color:#ef7203;color: white; margin-left: 4px;" href="{:U('Member/System/withdrawdeposit')}">提现</a><!-- <a href="javascript:;">增值服务</a> --></p>
					
					
				</dd>
			</dl>
			
			<ul class="ul01">

				<volist name="mstatus" id="ms">
				<li>认证管理：</li>
				<li >
					<if condition="$ms.email_status eq 1"> 
						<a href="{:U('Userinfo/usermailbanding')}" style="color:#fff;background: #0388e6;padding:0 5px;border-radius: 5px; font-size: 14px;"title="已认证">邮箱</a> 
					<else/> 
						<a href="{:U('Userinfo/usermailbanding')}"  style="background: #E6E6E6; padding:0 5px ;border-radius: 5px; font-size: 14px;"title="未认证">邮箱</a> 
					</if>
				</li>
				<li>
					<if condition="$ms.phone_status eq 1"> 
						<a href="{:U('/Member/Userinfo/userfindpassbyphone')}" style="color:#fff;background: #0388e6;padding:0 5px;border-radius: 5px; font-size: 14px;"title="已认证">手机</a>

					<else/>
						<a href="{:U('/Member/Userinfo/userfindpassbyphone')}" style="background: #E6E6E6; padding:0 5px ;border-radius: 5px; font-size: 14px;"title="未认证">手机</a>
					</if>

				</li>
				<li>
					<if condition="$ms.id_status eq 1">
						<a href="{:U('Userinfo/userselfset')}" style="color:#fff;background: #0388e6;padding:0 5px;border-radius: 5px; font-size: 14px;"title="已认证">实名</a> 
					<else/>
						 <a href="{:U('Userinfo/userselfset')}" style="background: #E6E6E6; padding:0 5px ;border-radius: 5px; font-size: 14px;"title="未认证">实名</a>
					</if>
				</li>
				<li>
					<if condition="$ms.credit_status eq 1">
						<a href="{:U('Userinfo/userbankset')}"style="color:#fff;background: #0388e6;padding:0 5px;border-radius: 5px; font-size: 14px;"title="已认证">银行卡</a> 
					<else/> 
						<a href="{:U('Userinfo/userbankset')}"style="background: #E6E6E6; padding:0 5px ;border-radius: 5px; font-size: 14px;"title="未认证">银行卡</a>
					</if>
				</li>
				<li><if condition="$ms.video_status eq 1">
						<a href="{:U('Home/Borrow/papersinfo')}"style="color:#fff; background: #0388e6;padding:0 5px;border-radius: 5px; font-size: 14px;"title="已认证">信征</a>
					<else/>
						<a href="{:U('Home/Borrow/papersinfo')}"style="background: #E6E6E6; padding:0 5px ;border-radius: 5px; font-size: 14px;"title="未认证">信证</a>
					</if>
				</li>
			</volist>
			</ul>
			<!--<ul class="ul02">
				<li class="ul02_li01"><a href="javascript:;">会员续费</a></li>
				<li><a href="{:U('Home/Borrow/index')}">我要借款</a></li>
				<li><a href="{:U('System/recharge')}">我要充值</a></li>
				<li><a href="javascript:;">我要还款</a></li>
				<li><a href="{:U('System/withdrawdeposit')}">我要提现</a></li>
				<li><a href="javascript:;">待收金额</a></li>
			</ul>-->

			<!-- 账户详情 -->
			<div class="zh_cont_r_con_bot">
				<h4>账户详情：</h4>
				<div class="zh_cont_r_bot">
					<volist name="list" id="vo">
					<ul>
						<li>账户总额（元）：{$vo['account_money']+$vo['money_freeze']}</li>
						<li>可用余额（元）：{$vo.account_money|default="0.00"}</li>
						<li>冻结金额（元）：{$vo.money_freeze|default="0.00"}</li>
					</ul>
					</volist>
				</div>
				<!-- 投资总汇 -->
				<!-- 借款总汇 -->
				<h4>收益统计：</h4>
				<div class="zh_cont_r_bot">
					<ul>
						<li>已收总收益（元）：{$bm['interest']+$bm['reward']+$bm['oter_reward']}</li>
						<li>已收投资收益（元）：{$bm.interest|default="0.00"}</li>
						<li>已收奖励（元）：{$bm.reward|default="0.00"}</li>
						<li>其他收益（元）：{$bm.oter_reward|default="0.00"}</li>
						<li>推广提成收益（元）：{$bm.borrow_money|default="0.00"}</li>
					</ul>
				</div>
				<h4>待收统计：</h4>
				<div class="zh_cont_r_bot">
				    <volist name="list" id="vo">
						<ul>
							<li>待收本息（元）：{$vo['money_collect']+$interest}</li>
							<li>待收本金（元）：{$vo['money_collect']|default="0.00"}</li>
							<li>待收利息（元）：{$interest|default="0.00"}</li>
						</ul>
					</volist>
				</div>
				<h4>充值提现：</h4>
				<div class="zh_cont_r_bot">
				<volist name="paymoney" id="vo" empty="暂时没有数据">
					<ul>
						<li>充值总金额（元）：{$vo.money|default="0.00"}</li>
						<li>提现总金额（元）：{$bm.borrow_money|default="0.00"}</li>
					</ul>
				</volist>
				</div>
			</div>
			
			
		</div>
	</div>
</div>
<!--content end--> 
<script>
	$('#test2')
			.on(
					'click',
					function() {
						// layer.msg('正在施工，无法更换')
						layer.open({
									type : 1,
									title : [ '头像上传',
											'background:#2B2E37; height:40px; color:#fff; border:none;' //自定义标题样式
									], //不显示默认标题栏
									offset : [ '270px', '40%' ],
									area : [ '320px', '238px' ],
									content: '<form action="__URL__/upload" enctype="multipart/form-data" method="post"><div style="width:94%;height:32px;position:relative;top:45px;left:18px;"><input class="file" type="file" name="filename" value="" style="position:absolute;filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity: 0;opacity:0;width:100%;height:30px;border:0;cursor:pointer;"><div style="overflow:hidden;"><input class="filename" type="text" value="" style="float:left;width:220px;height:20px;border-radius:0;border-right:0;border-color:#66ccfb;"><input type="button" value="浏 览" style="float:left;width:60px;height:30px;border-left:0;border-color:#66ccfb;background-color:#66ccfb;color:#fff;"></div><input  type="submit"  value="上 传" style="width:75px;height:25px;background-color:#66ccfb;border:0;color:#fff;margin-left:75px;"></div></from>'
								});
								
								$(".file").change(function(){
									$(this).parents().find(".filename").val($(this).val());
			
								});		
					});
					
	
		
	
</script> </block>