<block name="body"> <extend name="Base/common" /> <block
	name="body"> <!--content start-->
<div class="zh_cont_out">
	<div class="zh_cont">

		<include file="Public/left" />
		<div class="zh_cont_r">
			<h3 style="border-bottom: 1px solid #ddd;">
				当前位置 > <span style="color: #D41010;">充值提现</span>
			</h3>
			<div class="r_main">
				<form id="form" action="{:U('recharge_save')}" method="post">
					<!--tabtil start-->
					<div class="tabtil">
						<ul>
							<!-- <li><a href="{:U('Userinfo/userchagerwithdraw')}">资金记录</a></li> -->
							<li class="on"><a href="{:U('System/recharge')}">充值</a></li>
							<li><a href="{:U('System/withdrawdeposit')}">提现</a></li>
						</ul>
					</div>
					<!--tabtil end-->
					<div class="box">
						<div class="boxmain2">
							<p class="tips">
								温馨提示：<br /> 1、充值手续费全免！<br />
								2、充值成功后，禁止当天提现，15天以内提现收取本金的0.3%，15天以后提现免费。<br />
								3、工合财富网贷禁止信用卡套现、虚假交易等行为，一经发现将予以处罚。<br />
								处罚包括但不限于以下几种方式：限制收款、冻结账户、永久停止服务，并对相关信用记录有影响。
							</p>
							<!--biaoge2 end-->
							<div class="biaoge2">
								<table width="100%" border="0" cellspacing="0" cellpadding="0">
									<tr>
										<td width="11%">真实姓名：</td>
										<td width="89%">{$userinfo[0]['real_name']}</td>
									</tr>
									<tr>
										<td>平台账号：</td>
										<td>{$userinfo[0]['bank_num']}</td>
									</tr>
									<tr>
										<td>充值金额：</td>
										<td><input id="money" type="text" class="inp140"
											name="account_money" /> <span
											style="color: red; float: none;" id="money_tip"
											class="formtips"></span></td>
									</tr>
									<tr>
										<td>充值类型：</td>
										<td style="">
											<!--      <s:if test="#request.gopay==2">
                                                        <input id="gopay" type="radio" name="pay" value="2"
                                                            style="float: none;" />&nbsp;
           <img src="__PUBLIC__/Home/images/gopay.png" width="121px" height="33px" />&nbsp;&nbsp;&nbsp;&nbsp; 
           </s:if>
                                                    <s:if test="#request.IPS==2">
                                                        <input id="ipay" type="radio" name="pay" value="1"
                                                            style="float: none;" />&nbsp;&nbsp;
           <img src="__PUBLIC__/Home/images/ipay.png" width="121px" height="33px" />
                                                    </s:if> --> <input
											type="radio" name="pay" id="xxpay" value="3"
											style="float: none;" checked="checked" /> &nbsp;线下充值<strong>(提交金额后,请联系客服进行线下充值)</strong>
										</td>
									</tr>
									<tr>
										<td colspan="2">
											<div class="border_" id="div_gopay" style="display: none;">
												<table border="0" align="center" cellpadding="0"
													cellspacing="0">
													<tr>
														<td colspan="5"><strong>请选择支付方式：</strong></td>
													</tr>
													<tr valign="middle">
														<td><input type="radio" name="bankType" value="ICBC"
															id="rd_gopay_icbc" /> <img
															src="__STATIC__/rzg_images/banks/bank_01.png" width="128"
															height="33" /></td>
														<td><input type="radio" name="bankType" value="CMB" />
															<img src="__STATIC__/rzg_images/banks/bank_02.png"
															width="128" height="33" /></td>
														<td><input type="radio" name="bankType" value="CCB" />
															<img src="__STATIC__/rzg_images/banks/bank_03.png"
															width="128" height="33" /></td>
														<td><input type="radio" name="bankType" value="ABC" />
															<img src="__STATIC__/rzg_images/banks/bank_04.png"
															width="128" height="33" /></td>
														<td><input type="radio" name="bankType" value="BOC" />
															<img src="__STATIC__/rzg_images/banks/bank_05.png"
															width="128" height="33" /></td>
													</tr>
													<tr>
														<td><input type="radio" name="bankType" value="SPDB" />
															<img src="__STATIC__/rzg_images/banks/bank_06.png"
															width="128" height="33" /></td>
														<td><input type="radio" name="bankType" value="SDB" />
															<img src="__STATIC__/rzg_images/banks/bank_07.png"
															width="128" height="33" /></td>
														<td><input type="radio" name="bankType" value="CIB" />
															<img src="__STATIC__/rzg_images/banks/bank_08.png"
															width="128" height="33" /></td>
														<td><input type="radio" name="bankType" value="BOBJ" />
															<img src="__STATIC__/rzg_images/banks/bank_09.png"
															width="128" height="33" /></td>
														<td><input type="radio" name="bankType" value="CEB" />
															<img src="__STATIC__/rzg_images/banks/bank_10.png"
															width="128" height="33" /></td>
													</tr>
													<tr>
														<td><input type="radio" name="bankType" value="BOCOM" />
															<img src="__STATIC__/rzg_images/banks/bank_11.png"
															width="128" height="33" /></td>
														<td><input type="radio" name="bankType" value="CMBC" />
															<img src="__STATIC__/rzg_images/banks/bank_12.png"
															width="128" height="33" /></td>
														<td><input type="radio" name="bankType" value="CITIC" />
															<img src="__STATIC__/rzg_images/banks/bank_13.png"
															width="128" height="33" /></td>
														<td><input type="radio" name="bankType" value="GDB" />
															<img src="__STATIC__/rzg_images/banks/bank_14.png"
															width="128" height="33" /></td>
														<td><input type="radio" name="bankType" value="PAB" />
															<img src="__STATIC__/rzg_mages/banks/bank_15.png"
															width="128" height="33" /></td>
													</tr>
													<tr>
														<td><input type="radio" name="bankType" value="PSBC" />
															<img src="__STATIC__/rzg_images/banks/bank_16.png"
															width="128" height="33" /></td>

														<td><input type="radio" name="bankType" value="SRCB" />
															<img src="__STATIC__/rzg_images/banks/bank_18.png"
															width="128" height="33" /></td>
														<td><input type="radio" name="bankType" value="BOS" />
															<img src="__STATIC__/rzg_images/banks/bank_19.png"
															width="128" height="33" /></td>
														<td><input type="radio" name="bankType" value="HXBC" />
															<img src="__STATIC__/rzg_images/banks/bank_20.png"
															width="128" height="33" /></td>

														<!--         <td><input type="radio"   name="bankType"   value="TCCB" />
                    <img src="images/banks/bank_30.png" width="128" height="33" /></td> -->
														<td></td>


													</tr>
													<tr>
														<td height="10"></td>
														<td height="10"></td>
														<td height="10"></td>
														<td height="10"></td>
														<td height="10"></td>
													</tr>
													<tr>
														<td colspan="2"><input type="radio" name="bankType"
															value="DEFAULT" /> <span
															style="float: left; margin-left: 10px">使用国付宝支付<font
																color="#999999"></font>
														</span></td>
														<td></td>
														<td></td>
														<td></td>
													</tr>

													<!--         <tr>
          <td colspan="2">&nbsp;</td>
          <td><input name="下一步" type="submit" value="下一步" style="border:0px; color:#FFF; font-weight:bold; margin:10px; width:100px; background:#1064AC"/></td>
          <td></td>
          <td></td>
        </tr> -->
												</table>
											</div>
											<div class="border_" id="div_ipay" style="display: none;">
												<table border="0" align="center" cellpadding="0"
													cellspacing="0">
													<tr>
														<td colspan="5"><strong>请选择支付方式：</strong></td>
													</tr>
													<tr valign="middle">
														<td><input type="radio" name="bankType" value="01"
															id="rd_ipay_jieji" /> 人民币借记卡</td>
														<td><input type="radio" name="bankType" value="128" />
															信用卡支付</td>
														<td><input type="radio" name="bankType" value="04" />
															IPS账户支付</td>
														<td><input type="radio" name="bankType" value="16" />
															电话支付</td>
														<td><input type="radio" name="bankType" value="32" />
															手机支付</td>
													</tr>
													<tr>
														<td colspan="5"><input type="radio" name="bankType"
															value="1024" /> 手机语音支付</td>

													</tr>


													<tr>
														<td height="10"></td>
														<td height="10"></td>
														<td height="10"></td>
														<td height="10"></td>
														<td height="10"></td>
													</tr>

													<tr>

														<td></td>
														<td></td>
														<td></td>
													</tr>

													<!--         <tr>
                  <td colspan="2">&nbsp;</td>
                  <td><input name="下一步" type="submit" value="下一步" style="border:0px; color:#FFF; font-weight:bold; margin:10px; width:100px; background:#1064AC"/></td>
                  <td></td>
                  <td></td>
                </tr> -->
												</table>
											</div>
										</td>
									</tr>
									<tr>
										<td style="padding-top: 20px;" colspan="2">
											<div id="xxdiv" style="display: none;">
												<table style="line-height: 30px;">
													<tr align="center" height="30px">
														<td width="30px">&nbsp;</td>
														<td width="40px">银行</td>
														<td width="70px">账号</td>
														<td width="60px">开户人</td>
														<td width="70px">开户行</td>
													</tr>
													<s:iterator value="#request.banksList" var="bank"
														status="count">
														<tr align="center">
															<td><input type="radio" value="${bank.bankname }"
																name="paramMap.banks" style="float: none;"
															<s:if test="#count.count == 1"> checked="checked" </s:if>/></td>
															<td><image src="${bank.bankimage }"
																	style="width:130px;height:60px;" /></td>
															<td>${bank.Account }</td>
															<td>${bank.accountname }</td>
															<td>${bank.accountbank }</td>
														</tr>
													</s:iterator>
													<tr>
														<td align="right">交易编号：</td>
														<td align="center"><input type="text" class="inp140"
															style="margin-top: 2px; width: 180px; float: none;"
															id="rechargeNumber_text" /></td>
														<td colspan="3">填写网上交易流水号或ATM机汇款交易号或其他号码，只供查询用</td>
													</tr>
													<tr>
														<td align="right">线下充值备注：</td>
														<td align="center"><input type="text" class="inp140"
															style="margin-top: 2px; width: 180px; float: none;"
															id="remark_text" /></td>
														<td colspan="3">请注明您的用户名，转账银行卡和转账流水号，以及转账时间</td>
													</tr>
													<tr>
														<td colspan="5" align="center"><a id="saveii"
															class="bcbtn">提交充值</a></td>
													</tr>
												</table>
											</div>
										</td>
									</tr>
								</table>

							</div>
							<div id="btn_submit">
								<input type="button" class="btn" value="提交充值" id="addrecharge"
									style="text-align: center; padding-top: 15px; padding-bottom: 15px; margin: 15px 0 20px 120px;" />
								<!-- <input type="button" class="bcbtn" value="保存并继续"id="addrecharge" /> -->
								<!-- <a href="javascript:void(0);" class="bcbtn" onclick="addRechargeInfo();">保存并继续</a> -->
							</div>
							<p id="p_about" class="tips2" style="border: none;"></p>
							<div class="biaoge" style="margin-top: 25px;">
								<span id="rechargeInfo"></span>
							</div>
						</div>
					</div>
			</div>
			</from>
		</div>
	</div>
</div>
</div>
<!--content end--> <script type="text/javascript"
	src="/script/jquery-1.7.1.min.js"></script> <script>
		$('#addrecharge').click(function() {
			var money = $("#money").val();
			if (money < 100) {
				alert("温馨提示:充值金额不能小于100元！");
				return false;
			}
			$("form").submit();
		});
	</script> </block>