<block name="body">
<extend name="Base/common"/>
<block name="body">
		<!--content start-->
	<div class="zh_cont_out">
    	<div class="zh_cont">
            
            	<include file="Public/left"/>
            <div class="zh_cont_r">
            	<h3 style="border-bottom: 1px solid #ddd;">当前位置 > <span style="color:#D41010;">消息中心</span></h3>	
            	<div class="r_main">
            		<div class="mes_con">
            			<div class="tabtil">
							<ul>
								<li class="on" >
									通知方式
								</li>
								<li onclick=showSysMails();;>
									系统消息<if condition="$syscount eq 0">[0]<else/><span style="color:red;">[{$syscount}]</span></if>
								</li>
								<li onclick=showReceiveMails();;>
									收件箱<if condition="$counts eq 0">[0]<else/>[<span style="color:red;">{$counts}</span>]</if>
								</li>
								<li onclick=showSendMails();;>
									发件箱
								</li>
								<li>
									发信息
								</li>
							</ul>
						</div>
						<form action="{:U('systemsetup')}" method="post">
						<div class="box">
							
							<dl class="tongzhiWay">
								<dt style="background: url(__PUBLIC__/Home/images/message.png) no-repeat center left;">站内信通知：</dt>
								<dd>
									<ul>
										<li style="width: 100%;border-bottom: 1px solid #eee;"><label><input type="checkbox" id="selAll" onclick="selectAll();" />全选</label></li>
										<li><label><input type="checkbox" name="11" id="" value="1" {$check.receive_money.one}/>收到还款</label></li>
										<li><label><input type="checkbox" name="12" id="" value="1" {$check.rechar.one}/>充值成功</label></li>
										<li><label><input type="checkbox" name="13" id="" value="1" {$check.mention.one}/>提现成功</label></li>
										<li><label><input type="checkbox" name="14" id="" value="1" {$check.borrow.one}/>借款成功</label></li>
										<li><label><input type="checkbox" name="15" id="" value="1" {$check.overtime.one}/>还款逾期</label></li>
										<li><label><input type="checkbox" name="16" id="" value="1" {$check.loginchange.one}/>登录密码变更</label></li>
										<li><label><input type="checkbox" name="17" id="" value="1" {$check.phonechange.one}/>手机号码变更</label></li>
										<li><label><input type="checkbox" name="18" id="" value="1" {$check.emailchange.one}/>邮箱变更</label></li>
										<li><label><input type="checkbox" name="19" id="" value="1" {$check.tradechange.one}/>交易密码变更</label></li>

									</ul>
								</dd>
							</dl>
							<dl class="tongzhiWay">
								<dt style="background: url(__PUBLIC__/Home/images/emailWay.png) no-repeat center left;">邮件通知：</dt>
								<dd>
									<ul>
										<li style="width: 100%;border-bottom: 1px solid #eee;"><label><input type="checkbox" id="selAll" onclick="selectAll();" />全选</label></li>
										<li><label><input type="checkbox" name="21"  id="" value="1" {$check.receive_money.two}/>收到还款</label></li>
										<li><label><input type="checkbox" name="22"  id="" value="1" {$check.rechar.two}/>充值成功</label></li>
										<li><label><input type="checkbox" name="23"  id="" value="1" {$check.mention.two}/>提现成功</label></li>
										<li><label><input type="checkbox" name="24"  id="" value="1" {$check.borrow.two}/>借款成功</label></li>
										<li><label><input type="checkbox" name="25"  id="" value="1" {$check.overtime.two}/>还款逾期</label></li>
										<li><label><input type="checkbox" name="26"  id="" value="1" {$check.loginchange.two}/>登录密码变更</label></li>
										<li><label><input type="checkbox" name="27"  id="" value="1" {$check.phonechange.two}/>手机号码变更</label></li>
										<li><label><input type="checkbox" name="28"  id="" value="1" {$check.emailchange.two}/>邮箱变更</label></li>
										<li><label><input type="checkbox" name="29"  id="" value="1" {$check.tradechange.two}/>交易密码变更</label></li>
									</ul>
								</dd>
							</dl>
							<dl class="tongzhiWay">
								<dt style="background: url(__PUBLIC__/Home/images/emailWay.png) no-repeat center left;">短信通知：</dt>
								<dd>
									<ul>
										<li style="width: 100%;border-bottom: 1px solid #eee;"><label><input type="checkbox" id="selAll" onclick="selectAll();" />全选</label></li>
										<li><label><input type="checkbox" name="31"  id="" value="1" {$check.receive_money.three}/>收到还款</label></li>
										<li><label><input type="checkbox" name="32"  id="" value="1" {$check.rechar.three}/>充值成功</label></li>
										<li><label><input type="checkbox" name="33"  id="" value="1" {$check.mention.three}/>提现成功</label></li>
										<li><label><input type="checkbox" name="34"  id="" value="1" {$check.borrow.three}/>借款成功</label></li>
										<li><label><input type="checkbox" name="35"  id="" value="1" {$check.overtime.three}/>还款逾期</label></li>
										<li><label><input type="checkbox" name="36"  id="" value="1" {$check.loginchange.three}/>登录密码变更</label></li>
										<li><label><input type="checkbox" name="37"  id="" value="1" {$check.phonechange.three}/>手机号码变更</label></li>
										<li><label><input type="checkbox" name="38"  id="" value="1" {$check.emailchange.three}/>邮箱变更</label></li>
										<li><label><input type="checkbox" name="39"  id="" value="1" {$check.tradechange.three}/>交易密码变更</label></li>
									</ul>
								</dd>
							</dl>
							
							<input type="submit" name="" value="保&nbsp;&nbsp;&nbsp;&nbsp;存" class="tongzhiWay_btn"/>
							
						</div>
						</form>
						<div class="box" style="display: none;">
							<span id="sysInfo">
								<div class="boxmain2">
					            	<div class="srh" id="srh">
							        	<input class="scbtn" onclick="delSys();" value="删除" type="button" id="delSys">
							        	<input class="scbtn" onclick="readedSys();" value="标记为已读" type="button" id="readedSys">
							        	<input class="scbtn" onclick="unReadSys();" value="标记为未读" type="button" id="unReadSys">
							        	<a href="javascript:void(0);" class="scbtn" onclick="showUnReadSys();">未读邮件</a>
							        </div>
							        <span id="sys_mail_list">
							        	<div class="biaoge" id="biaoge">
							        		<input type="hidden" id="curPage" value="1">
							          		<table width="98%" border="0" cellspacing="0" cellpadding="0">
							  					<tbody>
													  <tr>
													    <th><input type="checkbox" name="checkbox" id="checkbox" onclick="checkAll_Sys(this)"></th>
													    <th>标记</th>
													    <th>发件人</th>
													    <th>标题</th>
													    <th>发送时间</th>
													    <th>操作</th>
													  </tr>
							  						<!--系统消息-->
							  						<if condition="$danger neq null">
							  							<foreach name="danger" item="danger" > 
														<tr>
															<th><input type="checkbox" name="checkbox" id="checkbox" onclick="checkAll_Sys(this)"></th>
															<th><if condition="$danger['status'] eq 0">未查看<else/>已查看</if></th>
															<th>系统消息</th>
															<th>尊敬的{$_SESSION[gica_home]['user_auth']['username']},您于<u>{$danger['add_time']}</u><b style="color:red;">{$danger['action']}</b></th>
															<th>{$danger['add_time']}</th>
															<th><a href="{:U('Home/Borrow/detail?add_time='.$danger['add_time'])}" title="点击查看详情">查看</a>|<a href="{:U('Member/System/usermailindex_danger_del?id='.$danger['id'])}" title="点击删除消息">删除</a></th>
														</tr>
							  							</foreach>
							  						<else/>
							  							<tr><td colspan="10" align="center">暂无信息</td></tr>
							  						</if>
												</tbody>
							          		</table>
											<div class="page">
												<p></p>
											</div> 
							          </div>
							        </span>
							        <span id="show_mail"></span> 
							    </div>
						</span>
					</div>
								
					<div class="box" style="display: none;">
						<span id="receiveInfo">
							<div class="boxmain2">
							      <div class="srh" id="re_srh">
							    <a href="javascript:void(0);" class="scbtn" onclick="delReceives();">删除</a> 
							    <a href="javascript:void(0);" class="scbtn" onclick="readedReceives();">标记为已读</a> 
							    <a href="javascript:void(0);" class="scbtn" onclick="unReadReceives();">标记为未读</a>
							    <a href="javascript:void(0);" class="scbtn" onclick="showUnReadReceives();">未读邮件</a>
							    </div>
							    <span id="receive_mail_list"><div class="biaoge" id="re_biaoge">
							      <table width="98%" border="0" cellspacing="0" cellpadding="0">
									  <tbody>
									  	<tr> 
										    <th><input type="checkbox" name="checkbox" id="checkbox" onclick="checkAll_Receive(this)"></th>
										    <th>标记</th>
										    <th>发件人</th>
										    <th>标题</th>
										    <th>发送时间</th>
										    <th>操 作</th>
									  	</tr>
									  <!--收件箱信息-->
									  <foreach name="receive" item="val" > 
										<tr>
										  	<th><input type="checkbox" name="checkbox" id="checkbox" onclick="checkAll_Receive(this)"></th>
										  	<th><if condition="$val['status'] eq 0">未查看<else/>已查看</if></th>
										  	<th>{$val['postname']}</th>
										  	<th>{$val['title']}</th>
										  	<th>{$val['send_time']}</th>
										  	<th><input name="button" type="button" id="button" value="查看" />|<a href="{:U('Member/System/usermailindex_email_del?id='.$val['id'])}">删除</a>
										 
									  	</tr>
										<tr id="table" style="display:none;">
										    <th colspan="6" >这是站内信详情</td>
									    </tr>
									  </foreach>
									 
									  
									  <tr><td colspan="11" align="center">暂无信息</td></tr>
									</tbody></table>
							  
							  <div class="page">
									<p align="center">分页</p>
								</div> 
							</div>


							</span>
							<span id="show_receive_mail"></span> 
							</div>
						</span>
					</div>
					<div class="box" style="display: none;">
						<span id="sendInfo"><div class="boxmain2">
							          <div class="srh" id="send_srh">
							        <a href="javascript:void(0);" class="scbtn" onclick="delSends();">删除</a> 
							        
							        </div>
							        <span id="send_mail_list"><div class="biaoge" id="send_biaoge">
							          <table width="98%" border="0" cellspacing="0" cellpadding="0">
							     	<tbody><tr> 
									    <th><input type="checkbox" name="checkbox" id="checkbox" onclick="checkAll_Send(this)"></th>
									    <th>收件人</th>
									    <th>标题</th>
									    <th>发送时间</th>
							  		</tr>
									
									<!--发件箱信息-->
									<foreach name="post" item="values">
								  		<tr>
								  			<th><input type="checkbox" name="checkbox" id="checkbox" onclick="checkAll_Send(this)"></th>
								  			<th>{$values['recvname']}</th>
								  			<th><a href="#">{$values['title']}</a></th>
								  			<th>{$values['send_time']}</th>
								  		</tr>
							  		</foreach>
							  		
							  		<tr><td colspan="9" align="center">暂无信息</td></tr>
									</tbody></table>

								<div class="page">
									<p>
									</p>
								</div> 
								
								</div>
							          </span>
							        
							          
							          <span id="show_send_mail"></span> 
							    </div>
							
						</span>
					</div>
					<div class="box" style="display: none;">
								        <div class="boxmain2">
								        <div class="biaoge2">
								    <form method="post" action="{:U('Member/System/usermailindex_add')}">
									  	<table width="98%" border="0" cellspacing="0" cellpadding="0">
											  <tbody>
												  <tr> 
												    <td width="11%">发件人：</td>
												    <td width="89%"><input type="text"value="{$sendname}" style="color:red" readonly/>
																	<input type="hidden" name="uid" value="{$uid}">
												   	</td>
												  </tr>
												  <tr>
												    <td>收件人：</td>
												    <td><input type="text" name="username" class="inp140" id="receiver" value="">
												    <span style="color: red; float: none;" id="s_receiver" class="formtips"></span>
												    </td>
												  </tr>
												  <tr>
												    <td>标题：</td>
												    <td><input type="text" name="title" class="inp280" id="title_s" maxlength="200">
												    <span style="color: red; float: none;" id="s_title" class="formtips"></span>
												    </td>
												  </tr>
												  <tr>
												    <td valign="top">内容：</td>
												    <td><textarea class="txt420" name="msg" id="content"></textarea>
												    <span style="color: red; float: none;" id="s_content" class="formtips"></span>
												    </td>
												  </tr>
												  <tr>
												    <td>&nbsp;</td>
												    <td style="padding-top:20px;">
												    <input type="submit" class="bcbtn " style='border-radius:1px;background:#66CCFB;width:35%;height:100%';onclick="addMail()" id="btnSave" value="提交发送" style="width:88px;"></td>
												  </tr>
												  <tr>
												    <td>&nbsp;</td>
												    <td class="txt">* 温馨提示：如果要给管理员发送信息，请输入收件人admin</td>
												  </tr>
											  </tbody>
									    </table>
								    </form>

								    </div>
								    </div>
								</div>
					<jsp:include page="usersendmail.jsp"></jsp:include>
            		</div>
					
            	
            	</div>
            </div>
        </div>
    </div>
	<!--content end-->		
		<script type="text/javascript">
		   $(document).ready(function(){
		         $("#table").hide();
		         $("#button").click(function(){
				   if($("#button").val()=="查看") {
				     $("#button").val("关闭");
				     $("#table").show();
				   }else {
				   	$("#button").val("查看");
				   	$("#table").hide();
				   }

				});
		   });

		</script>


		<script type="text/javascript"
			src="${path}/script/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="script/jquery.shove-1.0.js"></script>
		<script type="text/javascript" src="script/nav-zh.js"></script>
		<script type="text/javascript" src="css/popom.js"></script>
		<script>
	$(function() {
		//样式选中
		$("#zh_hover").attr('class', 'nav_first');
		$("#zh_hover div").removeClass('none');
		$('#li_4').addClass('on');
		$('.tabmain').find('li').click(function() {
			$('.tabmain').find('li').removeClass('on');
			$(this).addClass('on');
			$('.lcmain_l').children('div').hide();
			$('.lcmain_l').children('div').eq($(this).index()).show();
		})
	})
</script>

		<script>
	$(function() {

		$('.tabtil').find('li').click(function() {
			$('.tabtil').find('li').removeClass('on');
			$(this).addClass('on');
			$('.tabtil').nextAll('div').hide();
			$('.tabtil').nextAll('div').eq($(this).index()).show();
		});
		initListInfo();

	});

	function initListInfo() {
		$.shovePost("querySysMailsInit.htm", param, function(data) {
			$("#sysInfo").html(data);
		});
	}

	function switchCode() {
		var timenow = new Date();
		$("#codeNum").attr("src",
				"admin/imageCode.do?pageId=userlogin&d=" + timenow);
	}

	//收件人
	$("#receiver").blur(function() {
		if ($("#receiver").val() == "") {
			$("#s_receiver").html("*收件人不能为空");
		} else {
			checkRegister();
		}
	});
	//标题
	$("#title").blur(function() {
		if ($("#title").val() == "") {
			$("#s_title").html("*标题不能为空");
		} else {
			$("#s_title").html("");
		}
	});
	//验证码
	$("#code").blur(function() {
		if ($("#code").val() == "") {
			$("#s_code").html("*验证码不能为空");
		} else {
			$("#s_code").html("");
		}
	});

	//内容框
	$("#content").blur(function() {
		if ($("#content").val() == "") {
			$("#s_content").html("*内容不能为空");
		} else {
			$("#s_content").html("");
		}
	});
</script>
		<script>
	//检查用户名是否有效
	function checkRegister() {
		param["paramMap.receiver"] = $("#receiver").val();
		$.post("judgeUserName.htm", param, function(data) {
			if (data == 1) {
				$("#s_receiver").html("*收件人不存在或者还不是您的好友！");
			} else {
				$("#s_receiver").html("");
			}
		});
	}
	function returnToPage_(pNum, type) {
		if (type == 2) { //系统邮件
			returnToPage_s(pNum);
			return;
		} else if (type == 1) {//收件箱
			returnToPage_r(pNum);
			return;
		} else if (type == 100) {//发件箱
			returnToPage_ss(pNum);
			return;
		}
	}
	function addMail() {
		$("#btnSave").attr("disabled", true);
		param["paramMap.receiver"] = $("#receiver").val();
		param["paramMap.title"] = $("#title_s").val();
		param["paramMap.content"] = $("#content").val();
		param["paramMap.code"] = $("#code").val();
		param["paramMap.pageId"] = "userlogin";
		if ($("#receiver").val() == "") {
			$("#s_receiver").html("*收件人不能为空");
			$("#btnSave").attr("disabled", false);
			return;
		}
		if ($("#title_s").val() == "") {
			$("#s_title").html("*标题不能为空");
			$("#btnSave").attr("disabled", false);
			return;
		}
		if ($("#content").val() == "") {
			$("#s_content").html("*内容不能为空");
			$("#btnSave").attr("disabled", false);
			return;
		}
		if ($("#code").val() == "") {
			$("#s_code").html("*验证码不能为空");
			$("#btnSave").attr("disabled", false);
			return;
		}
		//有错误提示的时候不提交
		if ($("#s_receiver").text() != "" || $("#s_title").text() != ""
				|| $("#s_content").text() != "" || $("#s_code").text() != "") {
			return;
		}
		$.shovePost("addMail.htm", param, function(data) {
			if (data == 5) {
				$("#s_code").html("验证码错误");
				$("#btnSave").attr("disabled", false);
				return;
			} else if (data == 1) {
				alert("邮件发送失败，请重新发送");
				$("#btnSave").attr("disabled", false);
				return;
			} else if (data == 8) {
				alert("你是黑名单用户不能发生站内信");
				$("#btnSave").attr("disabled", false);
				return;
			} else {
				alert("邮件发送成功");
				$("#title_s").attr("value", "");
				$("#code").attr("value", "");
				$("#receiver").attr("value", "");
				$("#content").attr("value", "");
				$("#btnSave").attr("disabled", false);
			}
		});
	}

	function showReceiveMails() {
		param["pageBean.pageNum"] = 1;
		$.shovePost("queryReceiveMailsInit.htm", null, function(data) {
			$("#receiveInfo").html(data);
		});
	}

	function showSendMails() {
		param["pageBean.pageNum"] = 1;
		$.shovePost("querySendMailsInit.htm", null, function(data) {
			$("#sendInfo").html(data);
		});
	}
	//显示系统消息
	function showSysMails() {
		param["pageBean.pageNum"] = 1;
		$.shovePost("querySysMailsInit.htm", null, function(data) {
			$("#sysInfo").html(data);
		});
	}

	//收件箱全选
	function checkAll_Receive(e) {
		if (e.checked) {
			$(".re").attr("checked", "checked");
		} else {
			$(".re").removeAttr("checked");
		}
	}

	function checkAll_Send(e) {
		if (e.checked) {
			$(".se").attr("checked", "checked");
		} else {
			$(".se").removeAttr("checked");
		}
	}

	function checkAll_Sys(e) {
		if (e.checked) {
			$(".sys").attr("checked", "checked");
		} else {
			$(".sys").removeAttr("checked");
		}
	}

	//弹出窗口关闭
	function close() {
		ClosePop();
	}

	//设置邮件信息为已读
	/*function readedSends(){
		if(!window.confirm("确定要将所选邮件标记为已读吗?")){
			return;
		}
		var stIdArray = [];
		$("input[name='sendMail']:checked").each(function(){
			stIdArray.push($(this).val());
		});
		if(stIdArray.length == 0){
			alert("请选择要标记的内容");
			return ;
		}
		var ids = stIdArray.join(",");
		$.shovePost("updateSend2Readed.htm",{ids:ids},function(data){
	       $("#sendInfo").html(data);
	    });
	}*/

	//设置邮件信息为未读
	/*function unReadSends(){
		if(!window.confirm("确定要将所选邮件标记为未读吗?")){
			return;
		}
		var stIdArray = [];
		$("input[name='sendMail']:checked").each(function(){
			stIdArray.push($(this).val());
		});
		if(stIdArray.length == 0){
			alert("请选择要标记的内容");
			return ;
		}
		var ids = stIdArray.join(",");
		$.shovePost("updateSend2UNReaded.htm",{ids:ids},function(data){
	       $("#sendInfo").html(data);
	    });
	}*/
</script>

<script type="text/javascript">
	//全选事件
	//选中全选按钮，下面的checkbox全部选中
	var selAll = document.getElementById("selAll"); 
	function selectAll() 
	{ 
		  var obj = document.getElementsByName("checkAll");
		  var obj2 =  document.getElementsByName("checkAll2");
		  
		  if(document.getElementById("selAll").checked == false) 
		  { 
  				for(var i=0; i<obj.length; i++) 
  				{ 
    				obj[i].checked=false; 
  				} 
  			}else { 
  				for(var i=0; i<obj.length; i++) 
  				{	  
    				obj[i].checked=true; 
  				}	
 			 }
  			
  			if(document.getElementById("selAll2").checked == false) 
		  { 
  				for(var i=0; i<obj2.length; i++) 
  				{ 
    				obj2[i].checked=false; 
  				} 
  			}else { 
  				for(var i=0; i<obj2.length; i++) 
  				{	  
    				obj2[i].checked=true; 
  				}	
 			 }
  
	} 
	//当选中所有的时候，全选按钮会勾上 
	function setSelectAll() 
	{ 
		var obj=document.getElementsByName("checkAll"); 	
		var count = obj.length; 
		var selectCount = 0; 
	
		for(var i = 0; i < count; i++) 
		{ 
			if(obj[i].checked == true) 
			{ 
				selectCount++;	
			} 
		} 
		if(count == selectCount) 
		{	
			document.all.selAll.checked = true; 
		} 
		else 
		{ 
			document.all.selAll.checked = false; 
		} 
		
		
		
		var obj2=document.getElementsByName("checkAll2"); 	
		var count2 = obj2.length; 
		var selectCount2 = 0; 
	
		for(var i = 0; i < count2; i++) 
		{ 
			if(obj2[i].checked == true) 
			{ 
				selectCount2++;	
			} 
		} 
		if(count2 == selectCount2) 
		{	
			document.all.selAll2.checked = true; 
		} 
		else 
		{ 
			document.all.selAll2.checked = false; 
		} 
		
		
	} 
</script>


</block>
