<block name="body">
<extend name="Base/common"/>
<block name="body">
		<!--content start-->
	<div class="zh_cont_out">
    	<div class="zh_cont">
			<include file="Public/left"/>
            <div class="zh_cont_r">
            	<h3 style="border-bottom: 1px solid #ddd;">当前位置 > <span style="color:#D41010;">消息中心</span></h3>	
            	<div class="r_main">
            		<div class="mes_con">
            			<div class="tabtil">
							<ul>								
								<li onclick=showSysMails();; class="on" >
									系统消息<!-- [{$syscount|default="暂无"}] --></if>
								</li>
								<!-- <li onclick=showSendMails();;>
									发件箱
								</li> -->
								<!-- <li>
									发信息
								</li> -->
								<li style="border-right: none;">
									通知方式
								</li>
							</ul>
						</div>
						
						
						
						<div class="box">
							<span id="sysInfo">
								<div class="boxmain2">
							        <span id="sys_mail_list">
							        	<div class="biaoge" id="biaoge">
							        		<input type="hidden" id="curPage" value="1">
							          		<table width="98%" border="0" cellspacing="0" cellpadding="0">
							  					<tbody>
							  					      <!-- <tr>
							  					      	<td colspan="10">
								  					        <div class="srh" id="srh">
													        	<a href="javascript:void(0);"  onclick="delSys();">删除</a> 
															    <a href="javascript:void(0);"  onclick="readedSys();">标记为已读</a> 
															    <a href="javascript:void(0);"  onclick="unReadSys();">标记为未读</a>
													        	<a href="javascript:void(0);"  onclick="showUnReadSys();">未读邮件</a>
													        </div>
													    </td>
													  </tr> -->
													  <tr>
													    <!-- <th><input type="checkbox" name="checkbox" id="checkbox" onclick="checkAll_Sys(this)"></th> -->
													    <th>发件人</th>
													    <th>标题</th>
													    <th>发件时间</th>
													    <th>操作</th>
													  </tr>
							  						<!--系统消息-->
							  							<volist name="imsg" id="ms" empty="暂时没有数据">
														<tr>
															<!-- <th><input type="checkbox" name="checkbox" id="checkbox" onclick="checkAll_Sys(this)"></th> -->
															<th><if condition="$ms['uid'] eq 1">工合财富<else/>{$ms['uid']|get_uname}</if></th>
															<th ><if condition="$ms['status'] eq 0"><span class="on">[新]</span></if>{$ms['title']}：{$ms['msg']}</th>
															<th style="width:165px;">{$ms['send_time']|date='Y-m-d H:i:s',###}</th>
															<th  style="width:45px;"><a class="confirm" href="{:U('Member/System/usermailindex_danger_del?id='.$ms['id'])}" title="点击删除消息" >删除</a></th>
														</tr>
														</volist>
												</tbody>
							          		</table>
											<div class="page">
												{$page}
											</div> 
							          </div>
							        </span>
							        <span id="show_mail"></span> 
							    </div>
						</span>
					</div>
					<!-- <div class="box" style="display: none;">
						<span id="sendInfo"><div class="boxmain2">
							          
							        <span id="send_mail_list"><div class="biaoge" id="send_biaoge">
							          <table width="98%" border="0" cellspacing="0" cellpadding="0">
							     	<tbody>
								     	<tr>
								     		<td colspan="9" >
									     		<div class="srh" id="send_srh">
								        			<a href="javascript:void(0);"  onclick="delSends();">删除</a> 
									        	</div>
								        	</td>
								        </tr>
								     	<tr> 
										    <th><input type="checkbox" name="checkbox" id="checkbox" onclick="checkAll_Send(this)"></th>
										    <th>收件人</th>
										    <th>标题</th>
										    <th>发件时间</div></th>
								  		</tr>
									
	
									<foreach name="post" item="values">
								  		<tr>
								  			<th><input type="checkbox" name="checkbox" id="checkbox" onclick="checkAll_Send(this)"></th>
								  			<th>{$values['recvname']}</th>
								  			<th><a href="#">{$values['title']}</a></th>
								  			<th>{$values['send_time']}</th>
								  		</tr>
							  		</foreach>
							  		
							  		<tr><td colspan="9" align="center">暂无信息</td></tr>
									</tbody></table>

								<div class="page"></div>
								
								</div>
							          </span>
							        
							          
							          <span id="show_send_mail"></span> 
							    </div>
							
						</span>
					</div> -->
<!-- 					<div class="box" style="display: none;">
								        <div class="boxmain2">
								        <div class="biaoge2">
								    <form method="post" action="{:U('Member/System/usermailindex_add')}">
									  	<table width="98%" border="0" cellspacing="0" cellpadding="0">
											  <tbody>
												  <tr> 
												    <td width="11%">发件人：</td>
												    <td width="89%"><input type="text"value="{$sendname}" style="color:red" readonly/>
																	<input type="hidden" name="uid" value="{$uid}">
												   	</td>
												  </tr>
												  <tr>
												    <td>收件人：</td>
												    <td><input type="text" name="username" class="inp140" id="receiver" value="">
												    <span style="color: red; float: none;" id="s_receiver" class="formtips"></span>
												    </td>
												  </tr>
												  <tr>
												    <td>标题：</td>
												    <td><input type="text" name="title" class="inp280" id="title_s" maxlength="200">
												    <span style="color: red; float: none;" id="s_title" class="formtips"></span>
												    </td>
												  </tr>
												  <tr>
												    <td valign="top">内容：</td>
												    <td><textarea class="txt420" name="msg" id="content" style="max-width: 500px;max-height: 300px;"></textarea>
												    <span style="color: red; float: none;" id="s_content" class="formtips"></span>
												    </td>
												  </tr>
												  <tr>
												    <td>&nbsp;</td>
												    <td style="padding-top:20px;">
												    <input type="submit" class="bcbtn " style='border:none;font-size:14px;border-radius:1px;background:#66CCFB;width:10%;height:100%';onclick="addMail()" id="btnSave" value="提交发送" style="width:88px;"></td>
												  </tr>
												  <tr>
												    <td>&nbsp;</td>
												    <td class="txt">* 温馨提示：如果要给管理员发送信息，请输入收件人admin</td>
												  </tr>
											  </tbody>
									    </table>
								    </form>

								    </div>
								    </div>
								</div> -->
								<div class="box"  style="display: none;">
							<form action="{:U('systemsetup')}" method="post">
							<dl class="tongzhiWay">
								<dd>
									<ul class="ul1">
										<li style="width: 100%;border-bottom: 1px solid #eee;"><label><input type="checkbox" id="SelectAll" onclick="selectAll();" />全选</label></li>
										<li><label><input type="checkbox" name="sys_msg" value="1"  class="subcheck"{$check.sys_msg} onclick="setSelectAll();"/>站内信通知</label></li>
										<li><label><input type="checkbox" name="email_msg" value="1"  class="subcheck"{$check.email_msg} onclick="setSelectAll();"/>邮件通知</label></li>
										<li><label><input type="checkbox" name="short_msg" value="1"  class="subcheck"{$check.short_msg} onclick="setSelectAll();"/>短信通知 </label></li>
										
									
									</ul>
								</dd>
							</dl>
							
							
							<input type="submit" name=""  value="保&nbsp;&nbsp;&nbsp;&nbsp;存" class="tongzhiWay_btn" style="border: 0;"/>
							</form>
						</div>
								
					<jsp:include page="usersendmail.jsp"></jsp:include>
            		</div>
					
            	
            	</div>
            </div>
        </div>
    </div>
	<!--content end-->
	<script language=JavaScript>
	var content;
	function checkreceive(contents)
	{	
		content=contents;
		alert(content);
	}
	</script>


<script>
	$(function() {

		$('.tabtil').find('li').click(function() {
			$('.tabtil').find('li').removeClass('on');
			$(this).addClass('on');
			$('.tabtil').nextAll('div').hide();
			$('.tabtil').nextAll('div').eq($(this).index()).show();
		});
		initListInfo();

	});

	function initListInfo() {
		$.shovePost("querySysMailsInit.htm", param, function(data) {
			$("#sysInfo").html(data);
		});
	}

	function switchCode() {
		var timenow = new Date();
		$("#codeNum").attr("src",
				"admin/imageCode.do?pageId=userlogin&d=" + timenow);
	}

	//收件人
	$("#receiver").blur(function() {
		if ($("#receiver").val() == "") {
			$("#s_receiver").html("*收件人不能为空");
		} else {
			checkRegister();
		}
	});
	//标题
	$("#title").blur(function() {
		if ($("#title").val() == "") {
			$("#s_title").html("*标题不能为空");
		} else {
			$("#s_title").html("");
		}
	});
	//验证码
	$("#code").blur(function() {
		if ($("#code").val() == "") {
			$("#s_code").html("*验证码不能为空");
		} else {
			$("#s_code").html("");
		}
	});

	//内容框
	$("#content").blur(function() {
		if ($("#content").val() == "") {
			$("#s_content").html("*内容不能为空");
		} else {
			$("#s_content").html("");
		}
	});
</script>
		<script>
	//检查用户名是否有效
	function checkRegister() {
		param["paramMap.receiver"] = $("#receiver").val();
		$.post("judgeUserName.htm", param, function(data) {
			if (data == 1) {
				$("#s_receiver").html("*收件人不存在或者还不是您的好友！");
			} else {
				$("#s_receiver").html("");
			}
		});
	}
	function returnToPage_(pNum, type) {
		if (type == 2) { //系统邮件
			returnToPage_s(pNum);
			return;
		} else if (type == 1) {//收件箱
			returnToPage_r(pNum);
			return;
		} else if (type == 100) {//发件箱
			returnToPage_ss(pNum);
			return;
		}
	}
	function addMail() {
		$("#btnSave").attr("disabled", true);
		param["paramMap.receiver"] = $("#receiver").val();
		param["paramMap.title"] = $("#title_s").val();
		param["paramMap.content"] = $("#content").val();
		param["paramMap.code"] = $("#code").val();
		param["paramMap.pageId"] = "userlogin";
		if ($("#receiver").val() == "") {
			$("#s_receiver").html("*收件人不能为空");
			$("#btnSave").attr("disabled", false);
			return;
		}
		if ($("#title_s").val() == "") {
			$("#s_title").html("*标题不能为空");
			$("#btnSave").attr("disabled", false);
			return;
		}
		if ($("#content").val() == "") {
			$("#s_content").html("*内容不能为空");
			$("#btnSave").attr("disabled", false);
			return;
		}
		if ($("#code").val() == "") {
			$("#s_code").html("*验证码不能为空");
			$("#btnSave").attr("disabled", false);
			return;
		}
</script>

<script type="text/javascript">         
			//全选、取消全选的事件
			//--1--
			function selectAll(){
				if ($(".zh_cont .zh_cont_r .box .tongzhiWay dd .ul1 li #SelectAll").prop("checked")) {
					$(".zh_cont .zh_cont_r .box .tongzhiWay dd .ul1 li label input[type=checkbox]").prop("checked", true);
				} else {
					$(".zh_cont .zh_cont_r .box .tongzhiWay dd .ul1 li label input[type=checkbox]").prop("checked", false);
				}
			}
			//子复选框的事件
			function setSelectAll(){
				//当没有选中某个子复选框时，SelectAll取消选中
				if (!$(".zh_cont .zh_cont_r .box .tongzhiWay dd .ul1 li .subcheck").checked) {
					$(".zh_cont .zh_cont_r .box .tongzhiWay dd .ul1 li #SelectAll").prop("checked", false);
				}
				var chsub = $("input[type='checkbox'][class='subcheck']").length; //获取subcheck的个数
				var checkedsub = $("input[type='checkbox'][class='subcheck']:checked").length; //获取选中的subcheck的个数
				if (checkedsub == chsub) {
					$(".zh_cont .zh_cont_r .box .tongzhiWay dd .ul1 li #SelectAll").prop("checked", true);
				}
			}
			
			
			//--2--
			function selectAll2(){
				if ($(".zh_cont .zh_cont_r .box .tongzhiWay dd .ul2 li #SelectAll2").prop("checked")) {
					$(".zh_cont .zh_cont_r .box .tongzhiWay dd .ul2 li  label input[type=checkbox]").prop("checked", true);
				} else {
					$(".zh_cont .zh_cont_r .box .tongzhiWay dd .ul2 li  label input[type=checkbox]").prop("checked", false);
				}
			}
			//子复选框的事件
			function setSelectAll2(){
				//当没有选中某个子复选框时，SelectAll取消选中
				if (!$(".zh_cont .zh_cont_r .box .tongzhiWay dd .ul2 li .subcheck2").checked) {
					$(".zh_cont .zh_cont_r .box .tongzhiWay dd .ul2 li #SelectAll2").prop("checked", false);
				}
				var chsub2 = $("input[type='checkbox'][class='subcheck2']").length; //获取subcheck的个数
				var checkedsub2 = $("input[type='checkbox'][class='subcheck2']:checked").length; //获取选中的subcheck的个数
				if (checkedsub2 == chsub2) {
					$(".zh_cont .zh_cont_r .box .tongzhiWay dd .ul2 li #SelectAll2").prop("checked", true);
				}
			}
			
			
			//--3--
			function selectAll3(){
				if ($(".zh_cont .zh_cont_r .box .tongzhiWay dd .ul3 li #SelectAll3").prop("checked")) {
					$(".zh_cont .zh_cont_r .box .tongzhiWay dd .ul3 li label input[type=checkbox]").prop("checked", true);
				} else {
					$(".zh_cont .zh_cont_r .box .tongzhiWay dd .ul3 li label input[type=checkbox]").prop("checked", false);
				}
			}
			//子复选框的事件
			function setSelectAll3(){
				//当没有选中某个子复选框时，SelectAll取消选中
				if (!$(".zh_cont .zh_cont_r .box .tongzhiWay dd .ul3 li .subcheck3").checked) {
					$(".zh_cont .zh_cont_r .box .tongzhiWay dd .ul3 li #SelectAll3").prop("checked", false);
				}
				var chsub3 = $("input[type='checkbox'][class='subcheck3']").length; //获取subcheck的个数
				var checkedsub3 = $("input[type='checkbox'][class='subcheck3']:checked").length; //获取选中的subcheck的个数
				if (checkedsub3 == chsub3) {
					$(".zh_cont .zh_cont_r .box .tongzhiWay dd .ul3 li #SelectAll3").prop("checked", true);
				}
			}
			
        </script>


</block>
