<block name="body"> <extend name="Base/common" /> <block
	name="body"> <!--content start-->
<div class="zh_cont_out">
	<div class="zh_cont">
		<h2>
			<a href="{:U('Index')}">我的账户</a>
		</h2>
		<include file="Public/left" />
		<div class="zh_cont_r">
			<div class="r_main">
				<div class="tabtil">
					<ul>
						<li><a href="{:U('Userinfo/userchagerwithdraw')}">资金记录</a></li>
						<li><a href="{:U('System/recharge')}">充值</a></li>
						<li class="on"><a href="{:U('System/withdrawdeposit')}">提现</a>
						</li>
					</ul>
				</div>

				<div class="box" style="display: -none;">
					<div class="boxmain2">

						<p class="tips">
							凡是在工合财富网贷充值未投标的资金，15天以内提现收取本金0.3%，15天以后提现免费 <br />
							注：1、请输入您要取出金额,我们将在1至2个工作日(国家节假日除外)之内将钱转入您网站上填写的银行账号。 <br />
							2、如你急需要把钱转到你的账号或者24小时之内网站未将钱转入到你的银行账号,请联系客服中心。 <br />
							3、确保您的银行账号的姓名和您的网站上的真实姓名一致。 <br /> 4、在钱打到您账号时会发一封站内信通知你。 <br />
							5、每笔提现金额至少为100元以上（备注：如101、632等） <br />
							6、每笔提现金额最高不能超过${max_withdraw}元。 <br /> 7、您目前能提取的最高额度是
							<s:property value="#request.usableSum" default="---"></s:property>
							元。
						</p>
						<div class="biaoge2">
							<form id="form" action="{:U('withdrawdeposit_add')}" method="post">
								<volist name="list" id="vo">
								<table width="100%" border="0" cellspacing="0" cellpadding="0">
									<tr>
										<td width="11%">真实姓名：</td>
										<td width="89%">{$userinfo[0]['real_name']}</td>
									</tr>
									<tr>
										<td>电话号码：</td>
										<td>{$userinfo[0]['cell_phone']} <br />
										</td>
									</tr>
									<tr>
										<td>账户余额：</td>
										<td><strong>{$vo.account_money}元 </strong></td>
									</tr>
									<tr>
										<td>可用余额：</td>
										<td><strong>{$vo.account_money}元 </strong></td>
									</tr>
									<tr>
										<td>冻结总额：</td>
										<td><strong>{$vo.money_freeze}元 </strong></td>
									</tr>
									<tr>
										<td>提现的银行：</td>
										<td><span style="float: none;"
											class="formtips"> * 以下是绑定的银行卡信息，如果没有银行卡请先进行提现银行卡设置</span></td>
									</tr>
									<s:if test="#request.banks!=null && #request.banks.size>0">
										<s:iterator value="#request.banks" var="bean" status="sta">

											<!-- 并且银行卡的状态为绑定状态 -->
											<s:if test="#bean.cardStatus==1">
												<tr>
													<td></td>
													<td><input type="radio" name="wbank"
														value="{$userinfo[0]['bank_address']}" id="bankradio" />
														<!-- ${bean.bankName}&nbsp;&nbsp;${bean.branchBankName} -->&nbsp;{$userinfo[0]['bank_address']}
														<span style="color: red; float: none;" id="wbank_tip"
														class="formtips"></span></td>
												</tr>
											</s:if>
										</s:iterator>
									</s:if>
									<tr>
										<td>交易密码： <strong>*</strong>
										</td>
										<td><input type="password" class="inp140" id="dealpwd" />
											<span style="color: red;float: none;" id="pwd_tip"
											class="formtips"></span></td>
									</tr>
									<tr>
										<td>提现金额： <strong>*</strong>
										</td>
										<td><input type="text" class="inp140"
											name="withdraw_money" id="withdrawmoney" /> <span
											style="color: red; float: none;" id="money_tip"
											class="formtips"></span></td>
									</tr>
									<!-- 							<tr>
										<td>
											验证码：&nbsp;&nbsp;
											<strong>*</strong>
										</td>
										<td>
											<input type="text" class="inp100x" id="code" />
											<a id="clickCode" class="yzmbtn" href="javascript:void(0);">发送手机验证码</a>
											<input id="type" name="type" value="drawcash" type="hidden" />
											<span style="color: red; float: none;" id="code_tip"
												class="formtips"> <s:if test="#request.ISDEMO==1">* 不发送短信</s:if>
											</span>
										</td>
									</tr> -->
									<tr>
										<td>&nbsp;</td>
										<td style="padding-top: 20px;"><input id="btn_submit"
											type="button" class="btn" value="确认提交" /> <!-- <a  href="javascript:void(0);" id="btn_submit" class="bcbtn" onclick="addWithdraw();" >确认提交</a> -->
										</td>
									</tr>
									<tr>
										<td>&nbsp;</td>
										<td class="txt">* 温馨提示：禁止信用卡套现</td>
									</tr>
								</table>
							</form>
							</volist>

						</div>
						<div class="biaoge" style="margin-top: 25px;">
							<span id="withdraw"></span>

						</div>


					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<!--content end--> <script type="text/javascript"
	src="/script/jquery-1.7.1.min.js"></script> <script
	type="text/javascript" src="script/jquery.shove-1.0.js"></script> <script
	type="text/javascript" src="script/nav-zh.js"></script> <script
	language="javascript" type="text/javascript"
	src="My97DatePicker/WdatePicker.js"></script> <script>
		$("#btn_submit").click(function() {
			var bankradio = $("#bankradio:checked").val();
			var dealpwd = $("#dealpwd").val();
			var withdrawmoney = $("#withdrawmoney").val();
			if (bankradio == undefined) {
				$('#wbank_tip').html("请选择开发支行！");
				return false;
			}
			if (dealpwd == "") {
				$('#wbank_tip').hide();
				$('#pwd_tip').html("交易密码不能为空！");
				return false;
			}
			if (withdrawmoney == "" || withdrawmoney < 100) {
				$('#wbank_tip').hide();
				$('#pwd_tip').hide();
				$("#money_tip").html("提现金额不能空！");
				return false;
			}
			$("#form").submit();
		});
	</script> </block>