<extend name="Public/base" />

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>充值提现中心</h2>
	</div>
	
    <!-- 数据统计 -->
    <div class="container-span top-columns cf">
	<dl class="show-num-mod">
		<dt><i class="count-icon user-count-icon"></i></dt>
		<dd>
			<strong>{$info.user}</strong>
			<span>充值总额</span>
		</dd>
	</dl>
	<dl class="show-num-mod">
		<dt><i class="count-icon user-action-icon"></i></dt>
		<dd>
			<strong>{$info.action}</strong>
			<span>所有提现总额</span>
		</dd>
	</dl>
	<dl class="show-num-mod">
		<dt><i class="count-icon doc-count-icon"></i></dt>
		<dd>
			<strong>{$info.document}</strong>
			<span>待提现总额</span>
		</dd>
	</dl>
	<dl class="show-num-mod">
		<dt><i class="count-icon doc-modal-icon"></i></dt>
		<dd>
			<strong>{$info.model}</strong>
			<span>已提现总额</span>
		</dd>
	</dl>
</div>
</block>

<block name="script">
	<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>

	<script type="text/javascript">
	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
        var query  = $('.search-form').find('input').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
		window.location.href = url;
	});
	//回车搜索
	$(".search-input").keyup(function(e){
		if(e.keyCode === 13){
			$("#search").click();
			return false;
		}
	});
    //导航高亮
    highlight_subnav('{:U('User/index')}');
	</script>
</block>
