<block name="body"> <extend name="Base/common" /> <!--content start-->
<div class="zh_cont_out">
	<div class="zh_cont">


		<!--zh_cont_l-->
		<include file="Public/left" />
		<!--zh_cont_r-->
		<div class="zh_cont_r">

			<!--安全设置-->
			<div class="tab">
				<h3>当前位置 > <span style="color: #D41010;">专属客服</span></h3>
				<div class="aqset_tab">
					<ul class="yhk_head">
						<li><a href="{:U('Home/User/profile')}" >客服信息</a></li>
						<!-- <li class="cur"><a href="{:U('Member/Userinfo/paypassword')}">交易密码</a></li>
						<li><a href="{:U('Member/Userinfo/usermailbanding')}">邮箱认证</a></li>
						<li><a href="{:U('Member/Userinfo/userfindpassbyphone')}">手机认证</a></li>
						<li style="border-right: none;"><a href="{:U('Member/Userinfo/userselfset')}">实名认证</a></li> -->
					</ul>
				<div class="aqset_tabC_out">
					<form class="login-form" action="{:U('paypassword_save')}"
						method="post">
						<!--登录密码-->
						<div class="aqset_tabC">
							<!--   <p class="aqset_tabC_head2">上次登录时间：<span>2014-11-22</span></p> -->
							
							<dl class="dlmm">
								<dt>专属客服：</dt>
								<dd>
									璐璐
								</dd>
							</dl>
							
							<dl class="dlmm">
								<dt>服务时间：</dt>
								<dd>2015年4月3日10:14:47</dd>
							</dl>

							
							<dl class="dlmm">
								<dt>QQ号码：</dt>
								<dd>380003832
									<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=380003832&amp;site=qq&amp;menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:380003832:51" alt="点击这里给我发消息" title="点击这里给我发消息"></a>
								</dd>
							</dl>
							<dl class="dlmm">
								<dt>客服微信：</dt>
								<dd>
									saddasf
								</dd>
							</dl>
							<dl class="dlmm">
								<dt>客服电话：</dt>
								<dd>
									85161811
								</dd>
							</dl>
							<dl class="dlmm">
								<dt>服务寄语：</dt>
								<dd>
									为人民服务
								</dd>
							</dl>
							<input type="submit" class="yhk_btn" value="我要评价">
						</div>
					</form>
				</div>

				</div>
				
			</div>
		</div>
	</div>
</div>

<!--content end--> </block>
