<block name="body"> <extend name="Base/common" /> <!--content start-->
<div class="zh_cont_out">
	<div class="zh_cont">


		<!--zh_cont_l-->
		<include file="Public/left" />
		<!--zh_cont_r-->
		<div class="zh_cont_r">

			<!--安全设置-->
			<div class="tab">
				<h3>当前位置 > <span style="color: #D41010;">安全设置</span></h3>
				<div class="aqset_tab">
					<ul class="aqset_tabH">
					<li><a href="{:U('Home/User/profile')}">登录密码</a></li>
					<li><a href="{:U('Userinfo/paypassword')}" class="cur">交易密码</a></li>
					<li><a href="{:U('Userinfo/usermailbanding')}">邮箱设置</a></li>
					<li><a href="{:U('Userinfo/userfindpassbyphone')}">手机设置</a></li>
					<!--    
                        <li><a href="{:U('Userinfo/userbankset')}">银行卡</a></li> -->
					<li><a href="{:U('Member/Userinfo/userselfidcard')}">身份证</a></li>
				</ul>
				<div class="aqset_tabC_out">
					<form class="login-form" action="{:U('paypassword_save')}"
						method="post">
						<!--登录密码-->
						<div class="aqset_tabC">
							<!--   <p class="aqset_tabC_head2">上次登录时间：<span>2014-11-22</span></p> -->
							<if condition="$pin neq ''">
							<dl class="dlmm">
								<dt>原始支付密码：</dt>
								<dd>
									<input type="password" class="dlmm_txt" placeholder="请输入原始支付密码"
										errormsg="密码为6-20位" nullmsg="请填写原始支付密码" datatype="*6-20"
										name="old">
								</dd>
							</dl>
							<else />
							<dl class="dlmm">
								<dt></dt>
								<dd>*您还未有支付密码。保障账户资金安全，请新建支付密码。</dd>
							</dl>

							</if>
							<dl class="dlmm">
								<dt>新支付密码：</dt>
								<dd>
									<input type="password" class="dlmm_txt" placeholder="请输入支付密码"
										errormsg="密码为6-20位" nullmsg="请填写支付密码" datatype="*6-20"
										name="pin_pass">
								</dd>
							</dl>
							<dl class="dlmm">
								<dt>确认密码：</dt>
								<dd>
									<input type="password" class="dlmm_txt" placeholder="请再次输入密码"
										recheck="password" errormsg="您两次输入的密码不一致" nullmsg="请填确认密码"
										datatype="*" name="repassword">
								</dd>
							</dl>
							<input type="submit" class="yhk_btn" value="提交">
						</div>
					</form>
				</div>

				</div>
				
			</div>
		</div>
	</div>
</div>

<!--content end--> </block>
