<block name="body"> <extend name="Base/common" /> <block
	name="body"> <!--content start-->
<div class="zh_cont_out">
	<div class="zh_cont">

		<include file="Public/left" />
		<div class="zh_cont_r">
			<div class="tab">
				<h3>
					当前位置 > <span style="color: #D41010;">银行卡设置</span>
				</h3>
				<div class="aqset_tab">
					<!--<ul class="aqset_tabH">
						<li><a href="#" class="cur">银行卡</a></li>
					</ul>-->
					<ul class="yhk_head">
						<li class="cur">绑定银行卡</li>
						<li>已绑定银行卡</li>
					</ul>
				<div class="aqset_tabC_out">	
					<form action="{:U('userbankset_save')}" method="post" id="form">
						<!--银行卡验证-->
						<div class="aqset_tabC">
							<!-- <dl class="yhk">
								<dt>平台昵称：{:get_username()}</dt>
								<dd></dd>
							</dl> -->
							<dl class="yhk">
								<dt>开户行：</dt>
								<dd>
									<input type="text" class="yhk_txt" name="bankName"
										id="bankName" value=""><span color="red"
										id="sBankName">输入您的开户银行名称</span>
								</dd>
							</dl>
							<dl class="yhk">
								<dt>支行：</dt>
								<dd>
									<input type="text" class="yhk_txt" name="subBankName"
										id="subBankName" value=""><span color="red"
										id="subBankNode">输入您的开户支行</span>
								</dd>
							</dl>
							<dl class="yhk">
								<dt>卡号：</dt>
								<dd>
									<input type="text" class="yhk_txt" name="bankCard"
										id="bankCard" value=""><span color="red"
										id="sBankCard">输入您的卡号 </span>
								</dd>
							</dl>
							<input type="button" class="yhk_btn" id="submitBank" value="提交">
						</div>
					</form>
				
					<!--已绑定银行卡-->					
						<div class="aqset_tabC" style="display: none;">
							<table border="0" cellspacing="0" cellpadding="0" class="ybd">
								<tr>
									<th style="width: 200px;">开户行</th>
									<th style="width: 200px;">支行</th>
									<th style="width: 200px;">卡号</th>
									<th style="width: 100px;">绑定时间</th>
									<th style="width: 80px;">状态</th>
								</tr>
								<volist name="list" id="vo">
								<tr>
									<td>{$vo.bank_name}</td>
									<td>{$vo.bank_address}</td>
									<td>{$vo.bank_num}</td>
									<td>{$vo.add_time|date='Y-m-d',###}</td>
									<td>
										<if condition="$vo['bank_status'] eq 0">
											审核中
										<else/>
											已绑定
										</if>
										
									</td>
								</tr>
								</volist>
							</table>
						</div>
				
				</div>
				</div>
				
			</div>
		</div>
	</div>
	<!--content end-->

	<script type="text/javascript" src="script/jquery-1.7.1.min.js"></script>
	<script type="text/javascript">
		$("#submitBank").click(function() {
			var bankName = $("#bankName").val();
			var subBankName = $("#subBankName").val();
			var bankCard = $("#bankCard").val();
			if (bankName == "") {
				$("#sBankName").html("<font color='red'>请输入开户银行名称</font>");
				return false;
			}
			if (subBankName == "") {
				$("#sBankName").hide();
				$("#subBankNode").html("<font color='red'>请输入开户支行名称</font>");
				return false;
			}
			if (bankCard == "") {
				$("#sBankName").hide();
				$("#subBankNode").hide();
				$("#sBankCard").html("<font color='red'>请输入开户银行名称</font>");
				return false;
			}
			$("#form").submit();
		});
	</script>
	
	<script type="text/javascript">
	//银行卡切换
		$(function(){
			$('.zh_cont .zh_cont_r .tab .aqset_tab .yhk_head li').each(function(index,element){
				$(element).click(function(){
					$(element).addClass('cur').siblings().removeClass('cur');
					$('.zh_cont .zh_cont_r .tab .aqset_tabC').eq($(element).index()).show().siblings().hide();
				})
			})
		})
	</script>
	
	
	
	
	
	
	
	
</block>