<block name="body"> <extend name="Base/common" /> <block
	name="body"> <!--content start-->
<div class="zh_cont_out">
	<div class="zh_cont">
		

		<!--zh_cont_l-->
		<include file="Member@default/Public/left" />
		<!--zh_cont_r-->
		<div class="zh_cont_r">

			<!--安全设置-->
			<div class="tab">
				<h3>当前位置 > <span style="color: #D41010;">安全设置</span></h3>
				<div class="aqset_tab">
					<ul class="aqset_tabH">
					<li><a href="{:U('Home/User/profile')}">登录密码</a></li>
					<li><a href="{:U('Userinfo/paypassword')}">交易密码</a></li>
					<li><a href="{:U('Userinfo/usermailbanding')}">邮箱设置</a></li>
					<li><a href="{:U('Userinfo/userfindpassbyphone')}">手机设置</a></li>
					<!-- <li><a href="{:U('Userinfo/userbankset')}">银行卡</a></li> -->
					<li class="cur"><a
						href="{:U('Member/Userinfo/userselfidcard')}">身份证</a></li>
				</ul>
				<div class="aqset_tabC_out">
					<!--身份证验证-->
					<div class="aqset_tabC">
						<!--身份证-->
						<div class="sfz">
							<dl>
								<dt>姓名</dt>
								<dd>
									<input type="text" class="text" value="{$realName}"
										placeholder="请输入您的姓名" disabled="disabled" />
								</dd>
							</dl>
							<dl style="padding-top: 0px;">
								<dt>身份证号</dt>
								<dd>
									<input type="text" class="text" value="{$idcard}"
										placeholder="请输入您的身份证号" disabled="disabled" />
								</dd>
							</dl>
							<p>！温馨提示：身份证绑定以后不可再修改。</p>
							<!-- 	<input type="button" class="btn" value="确定" /> -->
						</div>
						<!--身份证   结束-->
					</div>
				</div>
				</div>
				

			</div>
		</div>
	</div>
</div>

<!--content end--> </block></block>
