<block name="body">
<extend name="Base/common"/>
<block name="body">
		<!-- 引用头部公共部分 -->
		<div class="nymain" style="width: 850px;">
			<div class="bigbox"style="background-color: #fff; border:1px solid #ddd;">
				<div class="til" style="width: 95%;text-align: center;line-height: 50px;height: 50px;margin:0 auto;padding: 0;font-size: 18px;border-bottom: 1px solid #ddd;">
					会员续费
				</div>
				<div class="sqdk" style="background: none;">
					<div class="r-main"
						style="margin: 0 auto; float: none; border: none;">
						<div class="rmainbox">
							<div class="box01" style="display: -none;">
								<p class="tips" style="color: #ff0000;">
									投资者：
									<br />
									网站合作商提供投资担保，享受100%本金保障。对于担保标、推荐标，还能100%保利息。（普通用户仅保障本金）
									有专业客服跟踪服务，体验尊贵感受。 享有尊贵VIP身份标识。
									<br />
									<br />
									借款者：
									<br />
									享有借款资格，及时缓解资金压力。 参与网站举行的各种活动。
								</p>
								<div style="width: 55%;margin: auto;">
									<section class="demozone">
									<volist name="list" id="vo"> 
									    <form class="demo form-horizontal" id="demo1" action="{:U('userrenewalvip_post')}" method="post">
									        <div class="form-item" style="height: 35px;line-height: 35px;">
									            <label for="username" style="display: inline-block;"><strong style="font-weight: normal;">会员状态：{$vo.user_leve|user_leve}</strong></label><if condition="$vo.user_leve eq 1">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;【VIP到期时间：<span>{$vo.time_limit|date='Y-m-d',###}</span>】
					</if>
									        </div>
									        <div class="form-item" style="height: 35px;line-height: 35px;margin-bottom: 10px;">
									            <label for="username" style="display: inline-block;"><strong style="font-weight: normal;">用户名：{$vo.username}</strong></label>
									        </div>
									        <div class="form-item" style="height: 35px;line-height: 35px;margin-bottom: 10px;">
									        	<label style="display: inline-block;"><strong style="font-weight: normal;">开通周期({$mvip}元/月)：</strong></label>
									        	<div class="form-field"  style="display: inline-block;">
									        		<select name="viptime" id="momeyType" class="inp80">
														<option value="">--请选择--</option>
														<!-- <option value="{$banksdata['bank_num']}">{$banksdata['bank_num']}/{$memberdata['real_name']}/{$banksdata['bank_name']}</option> -->
														<option value="1">1个月</option>
														<option value="2">2个月</option>
														<option value="3">3个月</option>
														<option value="4">4个月</option>
														<option value="5">5个月</option>
														<option value="6">6个月</option>
														<option value="7">7个月</option>
														<option value="8">8个月</option>
														<option value="9">9个月</option>
														<option value="10">10个月</option>
														<option value="11">11个月</option>
														<option value="12">一年</option>
														<option value="24">二年</option>
														<option value="36">三年</option>
														<option value="222">免费试用2天</option>
													</select>
									        	</div>
									        </div>
									        <div class="form-item" style="height: auto;line-height: 35px;width: 100%;margin-bottom: 10px;">
									            <label for="username" style="display: inline-block;"><strong style="font-weight: normal;">验证码：</strong></label>
									            <div class="form-field" style="display: inline-block;width: 290px;"><input type="text" name="verify" class="form-text" placeholder="请输验证码" style="width: 175px;"><img class="yzBtn verifyimg reloadverify" alt="点击切换" src="{:U('verify')}"style="cursor: pointer; width: 100px;">
									                </div>
									                <p class="form-des" style="padding-left: 60px;box-sizing: border-box;">请确保有充足的余额。</p>
									        </div>
									        <div id="btn_submit" style="margin: auto;width: 270px;">
													<input type="submit" class="btn r_post" name="b1" value="<if condition='$vo.user_leve eq 1'>续费
					<else/>开通</if>"/>
											</div>
									    </form>
									    </volist> 
									</section>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
<script type="text/javascript">
//验证码刷新
    	$(document)
    	.ajaxStart(function(){
	    		$("button:submit").addClass("log-in").attr("disabled", true);
	    	})
	    	.ajaxStop(function(){
	    		$("button:submit").removeClass("log-in").attr("disabled", false);
	    	});
    	$("form").submit(function(){
    		var index = layer.load(1);
    		var self = $(this);
    		$.post(self.attr("action"), self.serialize(), success, "json");
    		return false;

    		function success(data){
    			if(data.status){
    				layer.msg(data.info, 3,1, function(){
							window.location.href = data.url;
					});	
					layer.closeAll('loading');
    			} else {
    				self.find(".Validform_checktip").text(data.info);
    				//刷新验证码
    				$(".reloadverify").click();
    				layer.closeAll('loading');
    			}
    		}

    	});
		$(function(){
			var verifyimg = $(".verifyimg").attr("src");
            $(".reloadverify").click(function(){
            	var index = layer.load(1);
                if( verifyimg.indexOf('?')>0){
                    $(".verifyimg").attr("src", verifyimg+'&random='+Math.random());
                }else{
                    $(".verifyimg").attr("src", verifyimg.replace(/\?.*$/,'')+'?'+Math.random());
                }
                layer.closeAll('loading');
            });
		});
	</script>
</block>