<block name="body">
<extend name="Base/common"/>
<block name="body">
		<!--content start-->
	<div class="zh_cont_out">
    	<div class="zh_cont">
            <h2>我的账户</h2>	
            
            <!--zh_cont_l-->
              <include file="Public/left"/>
            <!--zh_cont_r-->
            <div class="zh_cont_r">
            
            	<!--安全设置-->
           	  	<div class="tab">
                    <h3>当前位置>安全设置</h3>
                    <p style="background:#d3cbc7;width:947px;height:1px;"></p>
                    <ul class="aqset_tabH">
                    	<li><a href="{:U('Userinfo/usersaftyset')}" >登录密码</a></li>
                        <li>交易密码</li>
                        <li><a href="{:U('Userinfo/usermailbanding')}">邮箱设置</a></li>
                        <li><a href="{:U('Userinfo/userfindpassbyphone')}" class="cur">手机设置</a></li>
                        <li><a href="{:U('Userinfo/userbankset')}">银行卡</a></li>
                        <li><a href="{:U('Userinfo/userselfset')}">身份证</a></li>
                    </ul>
                    <div class="aqset_tabC_out"><form class="login-form" action="Home/__SELF__" method="post">
                    	<!--手机验证-->
                        <div class="aqset_tabC">
                            <dl class="phone">
                                <dt>手机绑定：</dt>
                                <dd><input type="text" class="phone_txt"></dd>
                            </dl>
                            <dl class="phone">
                                <dt>手机变更：</dt>
                                <dd><input type="text" class="phone_txt"><input type="button" class="phone_btn" value="验证码发送"></dd>
                            </dl>
                            <dl class="phone">
                                <dt>手机验证码：</dt>
                                <dd><input type="text" class="phone_txt" style="width:150px;height:36px;"><span>输入您的手机验证码 </span></dd>
                            </dl>
                            <input type="button" class="yhk_btn" value="提交">
                        </div>           
                    	</form>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

	<!--content end-->
</block>