<block name="body"> <extend name="Base/common" /> <block
	name="body"> <!--content start-->
<div class="zh_cont_out">
	<div class="zh_cont">

		<include file="Public/left" />
		<div class="zh_cont_r">
			<div class="tab">
				<h3>
					当前位置 > <span style="color: #D41010;">银行卡设置</span>
				</h3>
				<div class="aqset_tab">
					<!--<ul class="aqset_tabH">
						<li><a href="#" class="cur">银行卡</a></li>
					</ul>-->
					<ul class="yhk_head">
						<if condition="$list eq null">
							<li class="cur">绑定银行卡</li>
							<li>已绑定银行卡</li>
						<else/>
							<li >绑定银行卡</li>
							<li class="cur">已绑定银行卡</li>
						</if>
					</ul>
				<div class="aqset_tabC_out" >	
					<if condition="$list eq null">
						<!--银行卡验证-->
						<div class="aqset_tabC" id="add_banks">
							<form action="{:U('userbankset_save')}" method="post" id="form">
							<input type="hidden" id="pin_pass" value="{$pin_pass}">
							<!-- <dl class="yhk">
								<dt>平台昵称：{:get_username()}</dt>
								<dd></dd>
							</dl> -->
							<dl class="yhk">
								<dt>选择开户银行：</dt>
								<dd>
									<input type="text" name="bank_name" id="bank_name" value="" class="theme-login" style="float: left;height: 28px;"/><span color="red"
										id="sBankName">请输入开户银行</span>
								</dd>
								<div class="theme-popover">
									     <div class="theme-poptit">
									        <td colspan="5"><strong>请选择开户银行：</strong></td>
									     </div>
									     <div class="theme-popbod dform">
									           <table class="bordered">              
									              <tr>
									                <td>
									                	<label><input type="radio" name="bankType" value="中国工商银行" id="rd_gopay_icbc" /><img src="__PUBLIC__/Home/images/banks/bank_01.png" width="128" height="33" /></label>
									                
									                </td>
									                <td><label><input type="radio" name="bankType" value="招商银行" />
									                  <img src="__PUBLIC__/Home/images/banks/bank_02.png"
									                  width="128" height="33" /></label></td>
									                <td><label><input type="radio" name="bankType" value="中国建设银行" />
									                  <img src="__PUBLIC__/Home/images/banks/bank_03.png"
									                  width="128" height="33" /></label></td>
									                <td><label><input type="radio" name="bankType" value="中国农业银行" />
									                  <img src="__PUBLIC__/Home/images/banks/bank_04.png"
									                  width="128" height="33" /></label></td>									                
									              </tr>
									              <tr>
									                <td><label><input type="radio" name="bankType" value="浦发银行" />
									                  <img src="__PUBLIC__/Home/images/banks/bank_06.png"
									                  width="128" height="33" /></label></td>
									                <td><label><input type="radio" name="bankType" value="深圳发展银行" />
									                  <img src="__PUBLIC__/Home/images/banks/bank_07.png"
									                  width="128" height="33" /></label></td>
									                <td><label><input type="radio" name="bankType" value="兴业银行" />
									                  <img src="__PUBLIC__/Home/images/banks/bank_08.png"
									                  width="128" height="33" /></label></td>
									                <td><label><input type="radio" name="bankType" value="北京银行" />
									                  <img src="__PUBLIC__/Home/images/banks/bank_09.png"
									                  width="128" height="33" /></label></td>
									                
									              </tr>
									              <tr>
									                <td><label><input type="radio" name="bankType" value="交通银行" />
									                  <img src="__PUBLIC__/Home/images/banks/bank_11.png"
									                  width="128" height="33" /></label></td>
									                <td><label><input type="radio" name="bankType" value="中国民生银行" />
									                  <img src="__PUBLIC__/Home/images/banks/bank_12.png"
									                  width="128" height="33" /></label></td>
									                <td><label><input type="radio" name="bankType" value="中信银行" />
									                  <img src="__PUBLIC__/Home/images/banks/bank_13.png"
									                  width="128" height="33" /></label></td>
									                <td><label><input type="radio" name="bankType" value="广发银行" />
									                  <img src="__PUBLIC__/Home/images/banks/bank_14.png"
									                  width="128" height="33" /></label></td>
									                
									              </tr>
									              <tr>
									                <td><label><input type="radio" name="bankType" value="中国邮政储蓄银行" />
									                  <img src="__PUBLIC__/Home/images/banks/bank_16.png"
									                  width="128" height="33" /></label></td>

									                <td><label><input type="radio" name="bankType" value="上海农商银行" />
									                  <img src="__PUBLIC__/Home/images/banks/bank_18.png"
									                  width="128" height="33" /></label></td>
									                <td><label><input type="radio" name="bankType" value="上海银行" />
									                  <img src="__PUBLIC__/Home/images/banks/bank_19.png"
									                  width="128" height="33" /></label></td>
									                <td><label><input type="radio" name="bankType" value="华夏银行" />
									                  <img src="__PUBLIC__/Home/images/banks/bank_20.png"
									                  width="128" height="33" /></label></td>
									               
									              </tr>
									              <tr>
									              	<td><label><input type="radio" name="bankType" value="中国银行" />
									                  <img src="__PUBLIC__/Home/images/banks/bank_05.png"
									                  width="128" height="33" /></label></td>
									                  <td><label><input type="radio" name="bankType" value="中国光大银行" />
									                  <img src="__PUBLIC__/Home/images/banks/bank_10.png"
									                  width="128" height="33" /></label></td>
									                  <td><label><input type="radio" name="bankType" value="平安银行" />
									                  <img src="__PUBLIC__/Home/images/banks/bank_15.png"
									                  width="128" height="33" /></label></td>
									              </tr>
									             <tr>
									             	<td colspan="5" align="center">
										             	<span class="theme-poptit">
										        			<a href="javascript:;" title="确定" style="color:blue;" onclick="javascript:yhk_add()"class="close">确定</a>
										        		</span>
									        		</td>
									             	
									             </tr>
									             	
									             
									            </table>

										     </div>
										</div>
										<div class="theme-popover-mask"></div>	
								
							</dl>
							<dl class="yhk">
								<dt>开户行所在地：</dt>
								<dd>
									<select class="select" name="bank_province" id="s1" style="width:150px;">
	                                    <option></option>
	                                </select>
	                                <select class="select" name="bank_city" id="s2" style="width:150px;">
	                                    <option></option>
	                                </select>
                                	<select class="select" name="bank_area" id="s3" style="width:150px;">
                                    	<option></option>
                                </select>
								</dd>
							</dl>
							<dl class="yhk">
								<dt>开户支行：</dt>
								<dd>
									<input type="text" class="yhk_txt" name="subBankName"
										id="subBankName" value=""><span color="red"
										id="subBankNode">输入您的开户支行</span>
								<span style="display:none;color:red;" id="area_bank">如果您不确定开户行,可以打电话向银行咨询或上网查询。</span></dd>
							</dl>
							<dl class="yhk">
								<dt>银行卡号：</dt>
								<dd>
<input type="text" value="" class="yhk_txt"  size="25" onkeyup="formatBankNo(this)" onkeydown="formatBankNo(this)" name="bankCard" id="bankCard"><span color="red"
										id="sBankCard">输入您的卡号 </span>
								</dd>
							</dl>
							<input type="button" class="yhk_btn" id="submitBank" value="提交">
							</form>
						</div>
					
				
					<!--已绑定银行卡-->					
						<div class="aqset_tabC" style="display: none;" id="show_banks">
							<table class="bordered">
								<tr>
									<th style="width: 200px;">开户银行</th>
									<th style="width: 200px;">开户支行</th>
									<th style="width: 200px;">银行卡号</th>
									<th style="width: 100px;">绑定时间</th>
									<th style="width: 80px;">状态</th>
								</tr>
								<volist name="list" id="vo">
								<tr>
									<td>{$vo.bank_name}</td>
									<td>{$vo.bank_province}{$vo.bank_city}{$vo.bank_area}{$vo.bank_address}</td>
									<td>{$vo.bank_num}</td>
									<td>{$vo.add_time|date='Y-m-d',###}</td>
									<td>
										<if condition="$vo['bank_status'] eq 0">
											审核中
										<else/>
											已绑定
										</if>
										
									</td>
								</tr>
								</volist>
							</table>
							<input type="button" class="yhk_btn" onclick="javascript:add_bank(this)" value="添加银行卡">
						</div>

					<else/>
					<!--银行卡验证-->
						<div class="aqset_tabC" id="add_banks" style="display: none;">
							<form action="{:U('userbankset_save')}" method="post" id="form">
							<!-- <dl class="yhk">
								<dt>平台昵称：{:get_username()}</dt>
								<dd></dd>
							</dl> -->
							<dl class="yhk">
								<dt>选择开户银行：</dt>
								<dd>
									<input type="text" name="bank_name" value="" class="theme-login" style="float: left;height: 28px;"/><span color="red"
										id="sBankName">请输入开户银行</span>
								</dd>
								<div class="theme-popover">
									     <div class="theme-poptit">
									        <td colspan="5"><strong>请选择开户银行：</strong></td>
									     </div>
									     <div class="theme-popbod dform">
									           <table border="0" align="center" cellpadding="0"
									              cellspacing="0">              
									              <tr>
									                <td>
									                	<label><input type="radio" name="bankType" value="中国工商银行" id="rd_gopay_icbc" /><img src="__PUBLIC__/Home/images/banks/bank_01.png" width="128" height="33" /></label>
									                
									                </td>
									                <td><label><input type="radio" name="bankType" value="招商银行" />
									                  <img src="__PUBLIC__/Home/images/banks/bank_02.png"
									                  width="128" height="33" /></label></td>
									                <td><label><input type="radio" name="bankType" value="中国建设银行" />
									                  <img src="__PUBLIC__/Home/images/banks/bank_03.png"
									                  width="128" height="33" /></label></td>
									                <td><label><input type="radio" name="bankType" value="中国农业银行" />
									                  <img src="__PUBLIC__/Home/images/banks/bank_04.png"
									                  width="128" height="33" /></label></td>									                
									              </tr>
									              <tr>
									                <td><label><input type="radio" name="bankType" value="浦发银行" />
									                  <img src="__PUBLIC__/Home/images/banks/bank_06.png"
									                  width="128" height="33" /></label></td>
									                <td><label><input type="radio" name="bankType" value="深圳发展银行" />
									                  <img src="__PUBLIC__/Home/images/banks/bank_07.png"
									                  width="128" height="33" /></label></td>
									                <td><label><input type="radio" name="bankType" value="兴业银行" />
									                  <img src="__PUBLIC__/Home/images/banks/bank_08.png"
									                  width="128" height="33" /></label></td>
									                <td><label><input type="radio" name="bankType" value="北京银行" />
									                  <img src="__PUBLIC__/Home/images/banks/bank_09.png"
									                  width="128" height="33" /></label></td>
									                
									              </tr>
									              <tr>
									                <td><label><input type="radio" name="bankType" value="交通银行" />
									                  <img src="__PUBLIC__/Home/images/banks/bank_11.png"
									                  width="128" height="33" /></label></td>
									                <td><label><input type="radio" name="bankType" value="中国民生银行" />
									                  <img src="__PUBLIC__/Home/images/banks/bank_12.png"
									                  width="128" height="33" /></label></td>
									                <td><label><input type="radio" name="bankType" value="中信银行" />
									                  <img src="__PUBLIC__/Home/images/banks/bank_13.png"
									                  width="128" height="33" /></label></td>
									                <td><label><input type="radio" name="bankType" value="广发银行" />
									                  <img src="__PUBLIC__/Home/images/banks/bank_14.png"
									                  width="128" height="33" /></label></td>
									                
									              </tr>
									              <tr>
									                <td><label><input type="radio" name="bankType" value="中国邮政储蓄银行" />
									                  <img src="__PUBLIC__/Home/images/banks/bank_16.png"
									                  width="128" height="33" /></label></td>

									                <td><label><input type="radio" name="bankType" value="上海农商银行" />
									                  <img src="__PUBLIC__/Home/images/banks/bank_18.png"
									                  width="128" height="33" /></label></td>
									                <td><label><input type="radio" name="bankType" value="上海银行" />
									                  <img src="__PUBLIC__/Home/images/banks/bank_19.png"
									                  width="128" height="33" /></label></td>
									                <td><label><input type="radio" name="bankType" value="华夏银行" />
									                  <img src="__PUBLIC__/Home/images/banks/bank_20.png"
									                  width="128" height="33" /></label></td>
									               
									              </tr>
									              <tr>
									              	<td><label><input type="radio" name="bankType" value="中国银行" />
									                  <img src="__PUBLIC__/Home/images/banks/bank_05.png"
									                  width="128" height="33" /></label></td>
									                  <td><label><input type="radio" name="bankType" value="中国光大银行" />
									                  <img src="__PUBLIC__/Home/images/banks/bank_10.png"
									                  width="128" height="33" /></label></td>
									                  <td><label><input type="radio" name="bankType" value="平安银行" />
									                  <img src="__PUBLIC__/Home/images/banks/bank_15.png"
									                  width="128" height="33" /></label></td>
									              </tr>
									             <tr>
									             	<td colspan="5" align="center">
										             	<span class="theme-poptit">
										        			<a href="javascript:;" title="确定" style="color:blue;" onclick="javascript:yhk_add()"class="close">确定</a>
										        		</span>
									        		</td>
									             	
									             </tr>
									             	
									             
									            </table>

										     </div>
										</div>
										<div class="theme-popover-mask"></div>	
								
							</dl>
							<dl class="yhk">
								<dt>开户行所在地：</dt>
								<dd>
									<select class="select" name="bank_province" id="s1" style="width:150px;">
	                                    <option></option>
	                                </select>
	                                <select class="select" name="bank_city" id="s2" style="width:150px;">
	                                    <option></option>
	                                </select>
                                	<select class="select" name="bank_area" id="s3" style="width:150px;">
                                    	<option></option>
                                </select>
								</dd>
							</dl>
							<dl class="yhk">
								<dt>开户支行：</dt>
								<dd>
									<input type="text" class="yhk_txt" name="subBankName"
										id="subBankName" value=""><span color="red"
										id="subBankNode">输入您的开户支行</span>
								<span style="display:none;color:red;" id="area_bank">如果您不确定开户行,可以打电话向银行咨询或上网查询。</span></dd>
							</dl>
							<dl class="yhk">
								<dt>银行卡号：</dt>
								<dd>
<input type="text" value="" class="yhk_txt"  size="25" onkeyup="formatBankNo(this)" onkeydown="formatBankNo(this)" name="bankCard" id="bankCard"><span color="red"
										id="sBankCard">输入您的卡号 </span>
								</dd>
							</dl>
							<input type="button" class="yhk_btn" id="submitBank" value="提交">
							</form>
						</div>
					
				
					<!--已绑定银行卡-->					
						<div class="aqset_tabC" id="show_banks">
							<table class="bordered">
								<tr>
									<th style="width: 200px;">开户银行</th>
									<th style="width: 200px;">开户支行</th>
									<th style="width: 200px;">银行卡号</th>
									<th style="width: 100px;">绑定时间</th>
									<th style="width: 80px;">状态</th>
								</tr>
								<volist name="list" id="vo">
								<tr>
									<td>{$vo.bank_name}</td>
									<td>{$vo.bank_province}{$vo.bank_city}{$vo.bank_area}{$vo.bank_address}</td>
									<td>{$vo.bank_num}</td>
									<td>{$vo.add_time|date='Y-m-d',###}</td>
									<td>
										<if condition="$vo['bank_status'] eq 0">
											审核中
										<else/>
											已绑定
										</if>
										
									</td>
								</tr>
								</volist>
							</table>
							<div class="page">
								{$page}
							</div>
							<input type="button" class="large button blue" onclick="javascript:add_bank(this)" value="添加银行卡">
						</div>
					</if>
				</div>
				</div>
				
			</div>
		</div>
	</div>
	<!--content end-->
<script language="javascript" type="text/javascript">
function formatBankNo (BankNo){
    if (BankNo.value == "") return;
    var bankCard = new String (BankNo.value);
    bankCard = bankCard.substring(0,27); /*帐号的总数, 包括空格在内 */
    if (bankCard.match (".[0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{7}") == null){
        /* 对照格式 */
        if (bankCard.match (".[0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{7}|" + ".[0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{7}|" +
        ".[0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{7}|" + ".[0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{7}") == null){
            var bankCardNumeric = bankCardChar = "", i;
            for (i=0;i<bankCard.length;i++){
                bankCardChar = bankCard.substr (i,1);
                if (!isNaN (bankCardChar) && (bankCardChar != " ")) bankCardNumeric = bankCardNumeric + bankCardChar;
            }
            bankCard = "";
            for (i=0;i<bankCardNumeric.length;i++){    /* 可将以下空格改为-,效果也不错 */
                if (i == 4) bankCard = bankCard + "  "; /* 帐号第四位数后加空格 */
                if (i == 8) bankCard = bankCard + "  "; /* 帐号第八位数后加空格 */
                if (i == 12) bankCard = bankCard + "  ";/* 帐号第十二位后数后加空格 */
                if (i == 16) bankCard = bankCard + "  ";/* 帐号第十六位后数后加空格 */
                bankCard = bankCard + bankCardNumeric.substr (i,1)
            }
        }
    }
    else
    {
        bankCard = " " + bankCard.substring (1,5) + " " + bankCard.substring (6,10) + " " + bankCard.substring (14,18) + "-" + bankCard.substring(18,25);
    }
    if (bankCard != BankNo.value) BankNo.value = bankCard;
}
</script>
<script>
jQuery(document).ready(function($) {
	$('.theme-login').click(function(){
		$('.theme-popover-mask').fadeIn(100); 
		$('.theme-popover').slideDown(200);
	})
	$('.theme-poptit .close').click(function(){
		$('.theme-popover-mask').fadeOut(100);
		$('.theme-popover').slideUp(200);
	})

})
</script>
<script type="text/javascript">
	function add_bank(){
		add_banks.style.display="block";
		show_banks.style.display="none";
		$('.yhk_head li').removeClass('cur');
		$('.yhk_head li').first().addClass('cur');
	}
</script>
<script type="text/javascript">
	var bank;
	var name;
	function yhk_add(){
		
		bank=$("input[name='bankType']:checked").val();

		$("input[name='bank_name']").val(bank);
	}
</script>
	<script type="text/javascript" src="script/jquery-1.7.1.min.js"></script>
	<script type="text/javascript">
		$("#submitBank").click(function() {
			var bankName = $(".theme-login").val();
			var subBankName = $("#subBankName").val();
			var bankCard = $("#bankCard").val();
			if (bankName == "") {
				$("#sBankName").html("<font color='red'>请选择开户银行</font>");
				return false;
			}
			else if (subBankName == "") {
				$("#sBankName").hide();
				$("#subBankNode").html("<font color='red'>请输入开户支行名称</font>");
				$('#area_bank').show();
				return false;
			}
			else if (bankCard == "") {
				$("#sBankName").hide();
				$("#subBankNode").hide();
				$("#sBankCard").html("<font color='red'>请输入银行卡号</font>");
				return false;
			}
			else{
				var ppass = $("#pin_pass").val();

				if(ppass!=""){
					layer.prompt({title: '输入支付密码', formType: 1}, function(pass){
						var index = layer.load(1,{time: 7*1000});	
					        $.post('__URL__/userbankset_save_pw',{pin_pass:pass},function success(data){
					        if (data.status) {
								layer.msg(data.info);
								$("#form").submit();
								layer.closeAll('loading');
							    } 
							    else{	
						    	layer.msg(data.info);
						    	layer.closeAll('loading');
							    }
					         });
					    });

				}
				else{
					layer.prompt({
				title: '新建支付密码',
				formType: 1 //prompt风格，支持0-2
				}, function(pass){
				    layer.prompt({title: '再次输入支付密码', formType: 1}, function(cpass){

				    	if(pass==cpass){
				    		
					        var index = layer.load(1,{time: 7*1000});	
					        $.post('__URL__/paypassword_save',{pin_pass:pass},function success(data){
					        if (data.status) {
								layer.msg(data.info);
								$("#form").submit();
								layer.closeAll('loading');
							    } 
							    else{	
						    	layer.msg(data.info);
						    	layer.closeAll('loading');
							    }
					         });
				    	}
				    	else{
				    		layer.msg('您两次输入的密码不一致。');
				    	}
				        // $("#form").submit();
				    });
				});
				}
				
			}
			
		});
	</script>
	
	<script type="text/javascript">
	//银行卡切换
		$(function(){
			$('.zh_cont .zh_cont_r .tab .aqset_tab .yhk_head li').each(function(index,element){
				$(element).click(function(){
					$(element).addClass('cur').siblings().removeClass('cur');
					$('.zh_cont .zh_cont_r .tab .aqset_tabC').eq($(element).index()).show().siblings().hide();
				})
			})
		})
	</script>

<body onload="setup();preselect('广东省');promptinfo();">   

</body>	

	
	
	
</block>