<block name="body">
    <extend name="Base/common"/>
    <block name="body">
        <!--content start-->
        <div class="zh_cont_out">
            <div class="zh_cont">
                <!--zh_cont_l-->
                <include file="Public/left" />
                <!--zh_cont_r-->
                <div class="zh_cont_r">
                    <volist name="mlist" id="vo">
                        <!--基本认证-->
                        <div class="tab">
                         <h3>当前位置 > <span style="color: #D41010;">安全认证</span></h3>
                            <div class="aqset_tab">
                                <ul class="yhk_head">
                                    <li >
                                        <a href="{:U('Home/User/profile')}" >账户安全</a>
                                    </li>
                                    <li>
                                        <a href="{:U('Home/Borrow/papersinfo')}">信征认证</a>
                                    </li>
                                    <!-- <li >
                                        <a href="{:U('Member/Userinfo/usermailbanding')}">邮箱认证</a>
                                    </li> -->
                                    <!-- <li >
                                        <a href="{:U('Member/Userinfo/userfindpassbyphone')}">手机认证</a>
                                    </li> -->
                                    <li class="cur" style="border-right: none;">
                                        <a href="{:U('Member/Userinfo/userselfset')}">实名认证</a>
                                    </li>
                                </ul>
                                <if condition="$id_status neq '1'">
                                    <if condition="$id_status eq '2'">
                                        <div style="padding:100px;text-align: center;">实名信息审核中...</div>

                                        <else/>
                                        <div class="input_layout">
                                            <p class="tip"> <b style="font-weight: normal;color: #b30000;">注意：</b>
                                                请填写真实有效的信息，认证审核通过后将不能修改。
                                            </p>

                                            <dl>
                                                <dt>真实姓名</dt>
                                                <dd>
                                                    <input type="text"  id="realName" />
                                                </dd>
                                            </dl>

                                            <dl>
                                                <dt>身份证号码</dt>
                                                <dd>
                                                    <input type="text"  id="idcard" />
                                                </dd>
                                            </dl>
                                            <dl>
                                                <dt>性别</dt>
                                                <select id="sex">
                                                    <option value="0">保密</option>
                                                    <option value="1">男</option>
                                                    <option value="2">女</option>
                                                </select>
                                            </dl>

                                            <dl>
                                                <dt>职业</dt>
                                                <dd>
                                                    <select  id='zy'>
                                                        <option value="">请选择</option>
                                                        <option value="学生">学生</option>
                                                        <option value="工人">工人</option>
                                                        <option value="工程师">工程师</option>
                                                        <option value="公司职员">公司职员</option>
                                                        <option value="公司老板">公司老板</option>
                                                        <option value="银行职员">银行职员</option>
                                                        <option value="企业员工">企业员工</option>
                                                        <option value="公司董事">公司董事</option>
                                                        <option value="集团老总">集团老总</option>
                                                    </select>
                                                </dd>
                                            </dl>
                                            <dl>
                                                <dt>教育程度</dt>
                                                <dd>
                                                    <select id="education">
                                                        <option value="">请选择</option>
                                                        <option value="博士以上">博士以上</option>
                                                        <option value="博士">博士</option>
                                                        <option value="硕士">硕士</option>
                                                        <option value="研究生">研究生</option>
                                                        <option value="本科">本科</option>
                                                        <option value="专科">专科</option>
                                                        <option value="高中">高中</option>
                                                        <option value="初中">初中</option>
                                                        <option value="小学">小学</option>
                                                    </select>
                                                </dd>
                                            </dl>
                                            <dl class="adress">
                                                <dt>现居地址</dt>
                                                <dd>
                                                    <select  name="province_now" id="s1">
                                                        <option></option>
                                                    </select>
                                                    <select  name="city_now" id="s2">
                                                        <option></option>
                                                    </select>
                                                    <select  name="area_now" id="s3">
                                                        <option></option>
                                                    </select>
                                                </dd>
                                            </dl>
                                            <dl>
                                                <dt>详细地址</dt>
                                                <dd>
                                                <input type="text" id="addr_detail" placeholder="县区、村镇街道或门牌号"/>
                                                </dd>
                                            </dl>

                                            <p class="tip"> <b style="font-weight: normal;color: red;">温馨提示：</b>
                                                我们将严格对用户的所有资料进行保密。
                                            </p>
                                            <dl>
                                                <dt></dt>
                                                <dd>
                                                <input type="submit" class="large button blue" id="info_btn" value="保存"/>
                                                </dd>
                                            </dl>
                                        </div>
                                    </if>
                                </if>
                                <if condition="$id_status eq '1'">
                                    <div style="padding: 40px;text-align: center;">
                                        <volist name="mlist" id="vo">
                                            <table>
                                                <tr>
                                                    <td align="right">真实姓名：</td>
                                                    <td >{$vo.real_name}</td>
                                                </tr>
                                                <tr>
                                                    <td align="right">身份证号码：</td>
                                                    <td>{$vo.idcard}</td>
                                                </tr>
                                            </table>
                                        </volist>
                                    </div>
                                </if>
                            </form>
                        </div>
                    </volist>
                </div>
            </div>
        </div>
    </div>
    <!--content end-->
    <script type="text/javascript">
    $('#info_btn').click(function(){
        var realName=$('#realName').val().replace(/(^\s*)|(\s*$)/g, "");
        var idcard=$('#idcard').val();
        var sex=$('#sex').val();
        var zy=$('#zy').val();
        var education=$('#education').val();
        var s1=$('#s1').val();
        var s2=$('#s2').val();
        var s3=$('#s3').val();
        var addr_detail=$('#addr_detail').val();
        var pattern = new RegExp("[`~!@#$^&*()=|{}':;',\\[\\].<>/?~！@#￥……&*（）——|{}【】‘；：”“'。，、？]");  
        if (realName==''){
            /*真实姓名验证*/
            $('#realName').focus();
            document.getElementById("realName").style.borderColor = "red";
            layer.msg('请填写真实姓名！',{icon:0});
        }else{
            if (pattern.test(realName)){
                $('#realName').focus();
                document.getElementById("realName").style.borderColor = "red";
                layer.msg('真实姓名不能有特殊字符！',{icon:0});
            }else{
                document.getElementById("realName").style.borderColor = "green";
                /**身份证验证*/
                if(idcard.length=='18'){
                    document.getElementById("idcard").style.borderColor = "green";
                    if(zy==''){
                        $('#zy').focus();
                        document.getElementById("zy").style.borderColor = "red";
                        layer.msg('请选择职业',{icon:0});
                    }else{
                        document.getElementById("zy").style.borderColor = "green";
                        if (education==''){
                            $('#education').focus();
                            document.getElementById("education").style.borderColor = "red";
                            layer.msg('请选择教育程度',{icon:0});
                        }else{
                            document.getElementById("education").style.borderColor = "green";
                            if(s1==''||s2=='地级市'||s3=='市、县级市、县'){
                                document.getElementById("s1").style.borderColor = "red";
                                document.getElementById("s2").style.borderColor = "red";
                                document.getElementById("s3").style.borderColor = "red";
                                layer.msg('省市县不完整，请选择！',{icon:0});
                            }else{
                                document.getElementById("s1").style.borderColor = "green";
                                document.getElementById("s2").style.borderColor = "green";
                                document.getElementById("s3").style.borderColor = "green";
                                if(addr_detail==''){
                                    $('#addr_detail').focus();
                                    document.getElementById("addr_detail").style.borderColor = "red";
                                    layer.msg('请填写详细地址',{icon:0})
                                }else{
                                    document.getElementById("addr_detail").style.borderColor = "green";
                                    var index=layer.load(1,{time:7*1000});
                                    $.post('__ROOT__/Member/Userinfo/userselfset_add',{real_name:realName,idcard:idcard,sex:sex,zy:zy,education:education,province_now:s1,city_now:s2,area_now:s3,addr_detail:addr_detail},function success(data){
                                        if (data.status){
                                            layer.alert(data.info);
                                            location.reload();
                                            layer.closeAll('loading');
                                        }else{
                                            layer.alert(data.info);
                                            location.reload();
                                            layer.closeAll('loading');
                                        }
                                    });
                                }
                            }
                        }
                    }



                }else{
                    $('#idcard').focus();
                    document.getElementById("idcard").style.borderColor = "red";
                    layer.msg('身份证号码位数不对！',{icon:0});
                }


            }
        }
    });
</script>
<body onload="setup();preselect('广东省');promptinfo();"></body>
</block>
