<block name="body">
<extend name="Base/common"/>
<block name="body">
	<!--content start-->
	<div class="zh_cont_out">
    	<div class="zh_cont">
            <h2>我的账户</h2>	
            
            <!--zh_cont_l-->
            <include file="Public/left"/>
            
            <!--zh_cont_r-->
            <div class="zh_cont_r">
                <!--基本认证-->
                <div class="tab">
                    <h3>当前位置>基本认证</h3>
                    <p style="background:#d3cbc7;width:968px;height:1px;"></p>
                    <dl class="jbrz" style="margin-top:110px">
                    	<dt>真实姓名</dt>
                        <dd><input type="text" class="txt"></dd>
                    </dl>
                    
                    <dl class="jbrz">
                    	<dt>身份证</dt>
                        <dd><input type="text" class="txt"></dd>
                    </dl>
                    
                    <dl class="jbrz sfz">
                    	<dt>身份证正面</dt>
                        <dd>
                        	<input type="file" class="txt">
                            <input type="button" class="btn">
                        </dd>
                    </dl>
                    
                    <dl class="jbrz sfz">
                    	<dt>身份证反面</dt>
						<dd>
                        	<input type="file" class="txt">
                            <input type="button" class="btn">
                        </dd>
                    </dl>
                    
                    <dl class="jbrz sex">
                    	<dt>性别</dt>
                        <dd>
                        	男<input type="radio" class="radio" name="sex" value="man" checked="checked"/>
                            女<input type="radio" class="radio" name="sex" value="woman" />
                        </dd>
                    </dl>
                    
                    <dl class="jbrz">
                    	<dt>职业</dt>
                        <dd><input type="text" class="txt"></dd>
                    </dl>
                    <dl class="jbrz">
                    	<dt>手机号</dt>
                        <dd><input type="text" class="txt"></dd>
                    </dl>
                    
                    <dl class="jbrz jy">
                    	<dt>教育</dt>
                        <dd>
                        	<input type="text" class="txt">
                            <select>
                            	<option>博士</option>
                            	<option>硕士</option>
                            	<option>研究生</option>
                            	<option>本科</option>
                            	<option>专科</option>
                            </select>
                            
                        </dd>
                    </dl>
                    
                    <dl class="jbrz">
                    	<dt>地址</dt>
                        <dd><input type="text" class="txt"></dd>
                    </dl>
                    
                    <input type="button" class="btn" value="保存"/>
                    
                </div>
                
                
            </div>
        </div>
    </div>

	<!--content end-->
</block>
