<block name="body"> <extend name="Base/common" /> <block
	name="body"> <!--content start-->
<div class="zh_cont_out">
	<div class="zh_cont">


		<!--zh_cont_l-->
		<include file="Public/left" />
		<!--zh_cont_r-->
		<div class="zh_cont_r">

			<!--安全设置-->
			<div class="tab">
				<h3>当前位置 > <span style="color: #D41010;">安全认证</span></h3>
				<div class="aqset_tab">
					<ul class="yhk_head">
						<li ><a href="{:U('Home/User/profile')}" >账户安全</a></li>
						<li><a href="{:U('Home/Borrow/papersinfo')}">信征认证</a></li>
						<li ><a href="{:U('Member/Userinfo/usermailbanding')}">邮箱认证</a></li>
						<li class="cur"><a href="{:U('Member/Userinfo/userfindpassbyphone')}">手机认证</a></li>
						<li style="border-right: none;"><a href="{:U('Member/Userinfo/userselfset')}">实名认证</a></li>
					</ul>
				<div class="aqset_tabC_out">
					<form action="{:U('userphone_save')}" method="post"
						class="form-horizontal" id="form">
						<!--手机验证-->
						<volist name="list" id="vo">
						<div class="aqset_tabC">
							<!-- <dl class="phone">
                                <dt>手机绑定：</dt>
                                <dd><input type="text" class="phone_txt"></dd>
                            </dl> -->

							<dl class="phone">
								<dt>原手机号码：</dt>
								<dd style="line-height: 42px;font-size: 16px;">{$vo.mobile}</dd>
							</dl>
							<dl class="phone">
								<dt>手机变更：</dt>
								<dd>
									<input id="mobile" type="text" value="" placeholder="请输入您的手机号码" name="mobile" class="txt" style="width:130px;float: left;margin-top: 7px;" />
									<input id="zphone" type="button" value="获取验证码 " onClick="get_mobile_code();" class="phone_btn" style="width:120px; float:left;border: 0;" >
								</dd>
							</dl>
							<dl class="phone">
								<dt>手机验证码：</dt>
								<dd>
								<input type="text" size="8" name="mobile_code" placeholder="手机验证码" class="inputBg" style="width:130px;float: left;margin-bottom: 0px;margin:5px 5px 0 0;"id="checkcode"/>
									<span>输入您的手机验证码</span>
								</dd>
							</dl>
							<input type="button" class="yhk_btn ajax-post" value="提交"
								id="updatePhone" target-form="form-horizontal" style="border: 0;padding-bottom:8px;margin-top: 20px;margin-left: 260px;">
						</div>
						</volist>
					</form>
				</div>
				</div>
				
			</div>
		</div>
	</div>
</div>
<!--content end--> 
<?php
//短信验证码存值
session_start();
function random($length = 6 , $numeric = 0) {
	PHP_VERSION < '4.2.0' && mt_srand((double)microtime() * 1000000);
	if($numeric) {
		$hash = sprintf('%0'.$length.'d', mt_rand(0, pow(10, $length) - 1));
	} else {
		$hash = '';
		$chars = 'ABCDEFGHJKLMNPQRSTUVWXYZ23456789abcdefghjkmnpqrstuvwxyz';
		$max = strlen($chars) - 1;
		for($i = 0; $i < $length; $i++) {
			$hash .= $chars[mt_rand(0, $max)];
		}
	}
	return $hash;
}
$_SESSION['send_code'] = random(6,1);
?>
<script language="javascript">
	function get_mobile_code(){
        $.post('/Addons/Smsphp/sms.php', {mobile:jQuery.trim($('#mobile').val()),send_code:<?php echo $_SESSION['send_code'];?>}, function(msg) {
            alert(jQuery.trim(unescape(msg)));
			if(msg=='已发送'){
				RemainTime();
			}
        });
	};
	var iTime = 59;
	var Account;
	function RemainTime(){
		document.getElementById('zphone').disabled = true;
		var iSecond,sSecond="",sTime="";
		if (iTime >= 0){
			iSecond = parseInt(iTime%60);
			iMinute = parseInt(iTime/60)
			if (iSecond >= 0){
				if(iMinute>0){
					sSecond = iMinute + "分" + iSecond + "秒";
				}else{
					sSecond = iSecond + "秒";
				}
			}
			sTime=sSecond;
			if(iTime==0){
				clearTimeout(Account);
				sTime='获取手机验证码';
				iTime = 59;
				document.getElementById('zphone').disabled = false;
			}else{
				Account = setTimeout("RemainTime()",1000);
				iTime=iTime-1;
			}
		}else{
			sTime='没有倒计时';
		}
		document.getElementById('zphone').value = sTime;
	}	
</script>

<script type="text/javascript"
	src="__PUBLIC__/Admin/js/common.js"></script> <script>
		$("#phone_btn").click(function() {
			var mobile = $("#mobile").val();
			if (mobile == "") {
				alert("请填写变更的手机号码！");
				return false;
			}
		});
		$("#updatePhone").click(function() {
			var reg = /^(?:13\d|15\d|18\d)\d{5}(\d{3}|\*{3})$/;
			var mobile = $("#mobile").val();
			var checkcode = $("#checkcode").val();
			if (mobile == "") {
				alert("请填写变更的手机号码！");
				return false;
			}
			if (!reg.test(mobile)) {
				alert("请填写正确的手机号码！！");
				return false;
			}
			if (checkcode == "") {
				alert("请填写手机验证码！");
				return false;
			}
			$("#form").submit();
		});
	</script> </block>