<block name="body"> <extend name="Base/common" /> 
<!--弹出层-->
<div class="outer">
	<div class="inner">
		<div class="closeBtn"><img src="__PUBLIC__/Home/images/closeBtn.png"/></div>
		<div class="loading_con">
			<h2>活动说明：（活动时限3个月）</h2>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;平台新用户注册，立即送10元体验金(可进行提现),并奖励200积分;完成实名制认证、银行卡绑定以及VIP认证奖励200积分;邀请好友注册，立即送3元邀请奖励,并奖励100分积分。</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;充值投资累计达到1000元以上即送50积分+50元现金卷</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;充值投资累计达到10000元 以上即送120积分+150元现金卷</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;充值投资累计达到100000元以上即送200积分+300元现金卷</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;充值投资累计达到1000000元以上即送300积分+500元现金卷</p>
		
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;总积分累计达到1000分以上，奖励10元现金红包</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;总积分累计达到10000分以上，奖励30元现金红包</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;总积分累计达到100000分以上，奖励50元现金红包</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;总积分累计达到1000000分以上，奖励100元现金红包</p>
			<p style="text-align: center;">...... ......&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;...... ......</p>
			<p style="text-align: right;"><a href="huodong.html">点此进入详情 =></a></p>     <!--活动页的链接-->
		</div>
	</div>
</div>

<!--banner start-->
<div class="banner_out">
	<div class="banner">
		<!--banner图-->
		<ul style="z-index: 0">
			<li style="z-index: 1;background: url(__PUBLIC__/Home/images/banner1.png) no-repeat center top;"></li>
			<li style="background: url(__PUBLIC__/Home/images/banner2.png) no-repeat center top;"></li>
			<li style="background: url(__PUBLIC__/Home/images/banner3.png) no-repeat center top;"></li>
		</ul>
		<!--序号点-->
		<ol style="z-index: 2">
			<li class="current"></li>
			<li></li>
			<li></li>
		</ol>
		<!--爆竹-->
		<!--<div class="baozhu_l">
			<img src="__PUBLIC__/Home/images/baozhu.gif" />
		</div>
		<div class="baozhu_r">
			<img src="__PUBLIC__/Home/images/baozhu.gif" />
		</div>-->
	</div>
</div>
<!--banner end--> <!--content start-->
<div class="cont_out">
	<div class="cont">
		<!--content_top start-->
		<div class="cont_top">
			<!--网站公告-->
			<!--<div class="wzgg">
				<dl>
					<dt>网站公告：</dt>
					<volist name="lists3" id="list3">
					<dd><a href="{:U('Article/detail?id='.$list3['id'])}">{$list3.title}</a></dd>
					</volist>
				</dl>
				<a href="{:U('Article/lists?category='.get_category_name(43))}" class="more">更多...</a>
			</div>					-->
			<!--网站公告  结束-->
			<!--top start-->
			<div class="cont_top_con">
				<dl>
					<dt><h2></a><a href="{:U('Home/Finance/index')}">理财投资</a></h2></dt>
					<dd>投资理财 成为理财人，通过主动投标或加入U计划将资金进行投资，最高获得12%-18%的预期年化收益。</dd>
				</dl>
				<dl class="rongzi">
					<dt><h2><a href="{:U('Home/Borrow/index')}">融资借款</a></h2></dt>
					<dd>如果你现在需要资金周转，可以向我们提交借款申请，通过考察、资料审核、办理借款手续后手续后，可以及时解决资金问题。</dd>
				</dl>
				<dl class="safety">
					<dt><h2><a href="{:U('Home/Newhelp/safetypromise')}">安全保障</a></h2></dt>
					<dd>我们的客户来自于公司业务一手客户及银行合作推荐客户，借助于银行大数据风控团队及自身专业的风控体系，更有第三方担保公司兜底，让您放心投资。</dd>
				</dl>
				<dl class="helpCenter">
					<dt><h2><a href="{:U('Home/Newhelp/borrowhelp')}">新手指引</a></h2></dt>
					<dd>注册成为会员，充值后选择优质借款项目进行投资，将闲散资金借给有需要的人，获得年化12%-18%的投资收益。</dd>
				</dl>
			</div>
			<!--top end-->
		</div>
		<!--content_top end-->
		<!--content_bottom start-->
		<div class="cont_bot">
			<!-- 网站行业动态 start -->
			<div class="cont_bot1">
				<h2><span>行业动态  | 媒体新闻</span></h2>
				<div class="cont_bot1_con">
					<div class="cont_bot1_con01">
						<a href="{:U('Home/Newhelp/compare_tools')}"> &nbsp;</a>
						<!--<div class="cont_bot1_con01_in">
							<h3>累计成交额</h3>
							<p style="background: url(__PUBLIC__/Home/images/money.png) no-repeat left top;">100,0000</p>
						</div>
						<div class="cont_bot1_con01_in">
							<h3>累计为客户挣取收益</h3>
							<p style="background: url(__PUBLIC__/Home/images/human.png) no-repeat left top;">60,0000</p>
						</div>-->
					</div>
					<!--<dl>
			                	<dt><span></span> <a href="{:U('Article/lists?category='.get_category_name(2))}" class="more"></a></dt>
			                	 <volist name="lists"  id="list"> <!-- class="current" 
			                         <dd><a href="{:U('Article/detail?id='.$list['id'])}">{$list.title}</a><span>{$list.create_time|date='Y-m-d',###}</span></dd>
			                    </volist>
			                </dl>-->
					<dl>
						<dt>
							<span>网站公告</span> <a href="{:U('Article/lists?category='.get_category_name(43))}"
								class="more">更多</a>
						</dt>
						<volist name="lists3" id="list3">
						<dd>
							<a href="{:U('Article/detail?id='.$list3['id'])}">{$list3.title}</a><span>{$list3.create_time|date='Y-m-d',###}</span>
						</dd>
						</volist>
					</dl>
					<dl>
						<dt>
							<span>行业资讯</span> <a href="{:U('Article/lists?category='.get_category_name(40))}"class="more">更多</a>
						</dt>
						<volist name="lists1" id="list1">
						<dd>
							<a href="{:U('Article/detail?id='.$list1['id'])}">{$list1.title}</a><span>{$list1.create_time|date='Y-m-d',###}</span>
						</dd>
						</volist>
					</dl>
				</div>
			</div>
			<!-- 网站行业动态 end -->
			<!--投资列表 start-->
			<div class="cont_bot2">
				<h2><a href="{:U('Finance/index')}">投资列表</a></h2>
				<div class="cont_bot2_con">
					<volist name="list2" id="vo" >
					<div class="cont_bot2_con_in">
						<h3><a href="{:U('borrow/detail?id='.$vo['id'])}">{$vo.borrow_name}</a></h3>
						<p style="height: 30px;font-size: 14px;line-height: 30px;">借款金额</p>
						<p style="color: #f56627;font-weight: bold;font-size: 24px;line-height: 30px;">￥{$vo.borrow_money}</p>
						
						<ul>
							<li><p style="font-size: 16px;">{$vo.borrow_interest_rate}%</p><p>年化收益率</p></li>
							<li><p style="font-size: 16px;">{$vo.borrow_duration}个月</p><p>期限</p></li>
							<li style="text-align: center;padding: 5px 0 0;height: 45px;"><img
							src="__PUBLIC__/Home/images/bao.png" /><img
							src="__PUBLIC__/Home/images/jian.png" /></li>
						</ul>
						
						<div class="jdt">
							<p>进度</p>
							<span class="out"><span class="in" style="width:{$vo['has_borrow']/$vo['borrow_money']*100}%;line-height:18px;color:white;text-align: center;">{$vo['jindu']}%</span></span>
						</div>
						<div class="fb_date endTime"  value="{$vo['djtime']}"></div>
						<div class="fb_date">发标时间：{$vo['add_time']|date='Y-m-d',###}</div>
						
						<div class="button">
							<if condition="$vo.borrow_status eq 2">
                              <if condition="$login eq 1">
                                    <a  href="{:U('Finance/invest?id='.$vo['id'])}"><img  src="__PUBLIC__/Home/images/toubiao_260x40.png"/></a>
                                  <elseif condition="$login eq 0"/>
                                    <a href="{:U('Finance/invest?id='.$vo['id'])}"><img  src="__PUBLIC__/Home/images/toubiao_260x40.png"/></a>
                              </if>
	                          <elseif condition="$vo.borrow_status eq 0"/>
	                          <img alt="" src="__PUBLIC__/Home/images/shenhe_260x40.png" />
	                           <elseif condition="$vo.borrow_status eq 4"/>
	                          <img alt="" src="__PUBLIC__/Home/images/fushen_260x40.png" />
	                          <elseif condition="$vo.borrow_status eq 6"/>
	                          <img alt="" src="__PUBLIC__/Home/images/huankuan_260x40.png" />
	                           <elseif condition="$vo.borrow_status eq 7"/>
	                           <img alt="" src="__PUBLIC__/Home/images/manbiao_260x40.png"  />
	                          </if>
						</div>					
					</div>
					</volist>
				</div>
				<a href="{:U('Finance/index')}" class="more">查看更多</a>
			</div>
			<!--投资列表 end-->

			<!--合作伙伴 start-->
			<div class="partner">
				<h2><a href="javascript:;">合作伙伴</a></h2>
				<ul>
					<li><a href="http://www.ccb.com" target="_blank"><img
							src="__PUBLIC__/Home/images/jsyh.jpg" width="122px" height="45" /></a></li>
					<li><a href="http://www.gzcb.com.cn" target="_blank"><img
							src="__PUBLIC__/Home/images/gfyh.jpg" width="122px" height="45" /></a></li>
					<li><a href="http://www.rongerong.com/" target="_blank"><img
							src="__PUBLIC__/Home/images/rer.jpg" width="122px" height="45" /></a></li>
					<li><a href="http://www.singpao.com/" target="_blank"><img
							src="__PUBLIC__/Home/images/xgcb.jpg" width="122px" height="45" /></a></li>
				</ul>
			</div>
			<!--合作伙伴 end-->

			<!--友情链接  start-->
			<!--<div class="yqlj">
		        	<h2>友情链接</h2>
		        	<ul>
		        		<li><a href="http://www.ccb.com" target="_blank"><img src="__PUBLIC__/Home/images/jsyh.jpg" width="122px" height="45"/></a></li>
		        		<li><a href="http://www.jsbchina.cn/" target="_blank"><img src="__PUBLIC__/Home/images/js.jpg" width="122px" height="45"/></a></li>
		        		<li><a href="http://www.cib.com.cn" target="_blank"><img src="__PUBLIC__/Home/images/xingyeyinhang.jpg" width="122px" height="45"/></a></li>
		        		<li><a href="http://www.gzcb.com.cn" target="_blank"><img src="__PUBLIC__/Home/images/gfyh.jpg" width="122px" height="45"/></a></li>
		        		<li><a href="http://www.rongerong.com/" target="_blank"><img src="__PUBLIC__/Home/images/rer.jpg" width="122px" height="45"/></a></li>
		        		<li><a href="http://www.singpao.com/" target="_blank"><img src="__PUBLIC__/Home/images/xgcb.jpg" width="122px" height="45"/></a></li>
		        	</ul>
		        </div>-->
			<!--友情链接  end-->

		</div>
		<!--content_bottom end-->
	</div>
</div>
<!--content end--> <!-- {:hook('indexAliPlay')} --> <script
	type="text/javascript" src="__PUBLIC__/Admin/js/common.js"></script> 
	  <script language="JavaScript">
    function GetRTime(){
      $('.endTime').each(function(){
          var endtime=$(this).attr('value');
          var nowtime = new Date().getTime(); 
          var leftTime=endtime-nowtime/1000; 
          var seconds =leftTime;
          var minutes = Math.floor(seconds/60);
          var hours = Math.floor(minutes/60);
          var days = Math.floor(hours/24);
          var CDay= days;
          var CHour= hours % 24;
          var CMinute= minutes % 60;
          var CSecond= Math.floor(seconds%60);
		  var aa=$(this).attr('align')

          if (aa==6 ||aa==7) {

               $(this).html("<h4><strong>00:00:00</strong></h4>");

          }else{
                if (leftTime>0) {
                   $(this).html("<strong>"+CDay+"</strong>天<strong>"+CHour+"</strong>时<strong>"+CMinute+"</strong>分<strong>"+CSecond+"</strong>秒");
                }else{
                   $(this).html("<h4><strong>00:00:00</strong></h4>");
                }

          }
          
      });  
       setTimeout("GetRTime()",1000); 
    }
  window.onload=GetRTime;
  </script>
  <script src="__PUBLIC__/Home/js/jquery-1.7.2.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$('.outer').slideDown(1000);
		$('.inner').slideDown(2000);
		$('.inner .closeBtn').click(function(){
			$('.outer').fadeOut(1000); 
		});
	})
</script>

</block>