/*-------系统提示--------*/
.ifbox1{ border:#ddd 1px solid; background:url(../images/df.jpg) repeat-x}
.nymain .ifbox1 p{ padding-left:0}
.nymain .ifbox1 h2 {  line-height: 32px; font-weight: normal; color: #cb0c0e; background-repeat: repeat-x; height: 36px; padding-left: 24px; font-family: "微软雅黑"; font-size: 16px; position: relative; }
.nymain .ifbox1 h2 img{ display:none}
.nymain .ifbox1 h2 span { float: right; margin-right: 28px; line-height: 32px; }
.nymain .ifbox1 h2 span a { font-size: 12px; color: #666; font-family: "宋体"; vertical-align: baseline; line-height: 32px; }
.nymain .ifbox1 h2 span a:hover{ color:#cb0c0e; text-decoration:underline}
.nymain .ifbox1 .boxmain {overflow: hidden; padding:15px }
.ifbox1 .boxmain .pic-info { float: left; width: 200px; margin-right: 6px; }
.ifbox1 .boxmain .pic-info .tx{ text-align:center}
.ifbox1 .boxmain .pic-info .tx img { border: 1px solid #ddd; }
.ifbox1 .boxmain .pic-info .guanzhu { text-align: center; margin-top: 10px; }
.ifbox1 .boxmain .pic-info p { line-height:26px; text-align: center; }
.ifbox1 .boxmain .pic-info p a { color: #666; }
.ifbox1 .boxmain .pic-info p a:hover { color: #b70000; }
.nymain .ifbox1 .boxmain .xqbox { float: left; width: 550px; margin-right: 6px; }
.nymain .ifbox1 .boxmain .xqbox h3 { font-family: "微软雅黑"; font-size: 16px; color: #C75105; height:30px; padding-left: 10px; font-weight: normal; }
.ifbox1 .boxmain .xqbox .xqboxmain {  padding-right: 24px; padding-bottom: 18px; padding-left: 12px; overflow: hidden; height: 100%;  background-color: #FFF; }
.nymain .ifbox1 .boxmain .xqbox .xq_bot { background-image: url(../images/neiye2_06234.jpg); background-repeat: no-repeat; height: 7px; background-position: left top; line-height: 7px; }
.ifbox1 .boxmain .xqbox .xqboxmain .money { float: left; width: 365px; margin-right: 14px; }
.ifbox1 .boxmain .xqbox .xqboxmain .money p { line-height: 32px; }
.ifbox1 .boxmain .xqbox .xqboxmain .money p strong { font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-weight: bold; color: #ff0000; }

.ifbox1 .boxmain .xqbox .xqboxmain .tbbtn { float: left; width: 124px; }
.ifbox1 .boxmain .xqbox .xqboxmain .xqtop { background-image: url(../images/neiye1_333.jpg); background-repeat: repeat-x; padding-bottom: 8px; overflow: hidden; height: 100%; background-position: left bottom; }
.ifbox1 .boxmain .xqbox .xqboxmain .xqbottom { margin-top: 10px; }

.ifbox1 .boxmain .xqbox .xqboxmain .xqbottom table { line-height: 32px; }


.ljtbbtn { background-image: url(../images/neiye2_07.jpg); background-repeat: no-repeat; height: 50px; width: 124px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; cursor: pointer; }

.qdtbbtn { background-image: url(../images/qrtb_09.jpg); background-repeat: no-repeat; height: 50px; width: 124px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; cursor: pointer; }
.nymain .ifbox1 .boxmain .reninfo { float: right; width: 180px; background:url(../images/bglin.jpg) no-repeat; padding-left:19px}
.nymain .ifbox1 .boxmain .reninfo .topbg { background-image: url(../images/neiye2_05.jpg); background-repeat: no-repeat; height: 8px; line-height: 8px; }
.nymain .ifbox1 .boxmain .reninfo .botbg { background-image: url(../images/neiye2_05.png); background-repeat: no-repeat; height: 8px; line-height: 8px; }
.ifbox1 .boxmain .reninfo .rinfomain { }
.ifbox1 .boxmain .reninfo .rinfomain .tx { text-align: center; margin-bottom: 6px; }
.ifbox1 .boxmain .reninfo .rinfomain .tx img { padding: 3px; border: 1px solid #ddd; }
.ifbox1 .boxmain .reninfo .rinfomain .jfico { text-align: center; margin-bottom: 6px; }
.ifbox1 .boxmain .reninfo .rinfomain .name table { line-height: 30px; }
.ifbox1 .boxmain .reninfo .rinfomain .name table a { color: #666; }
.ifbox1 .boxmain .reninfo .rinfomain .name table a:hover { color:#b70000}


/*网站公告*/
.nymain .lcmain .lcmain_l .lctab .dylist { padding-top: 10px; }
.nymain .lcmain .lcmain_l .lctab .dylist ul li { line-height: 36px; background:none; float:none; border-bottom:#ddd 1px dotted; width:auto; padding-right: 15px; }
.nymain .lcmain .lcmain_l .lctab .dylist ul li span { color: #999; float: right; }
.nymain .lcmain .lcmain_l .lctab .dylist ul li a { color: #b70000; background-position: left center; background-repeat: no-repeat; }
.nymain .lcmain .lcmain_l .lctab .dylist ul li a:hover { color: #b70000; text-decoration: underline; }

.nymain .lcmain .lcmain_l .lctab .newlist { padding-top: 10px; }
.nymain .lcmain .lcmain_l .lctab .newlist ul li { line-height: 36px;padding-right: 15px; width:650px }
.nymain .lcmain .lcmain_l .lctab .newlist ul li span { color: #999; float: right; }
.nymain .lcmain .lcmain_l .lctab .newlist ul li a { color: #136dad; background-image: url(../images/gonggao_36.jpg); background-position: left center; padding-left: 15px; display: block; background-repeat: no-repeat; }
.nymain .lcmain .lcmain_l .lctab .newlist ul li a:hover { color: #00315d; text-decoration: underline; }
.nymain .lcmain .lcmain_r .lbox .dongtai { padding-top: 8px; padding-right: 20px; padding-bottom: 8px; padding-left: 20px; }
.nymain .lcmain .lcmain_r .lbox .dongtai ul li { line-height: 25px; }
.nymain .lcmain .lcmain_r .lbox .dongtai ul li a { color: #333333; }
.nymain .lcmain .lcmain_r .lbox .dongtai ul li a:hover { color: #b70000; text-decoration: underline; }
.nymain .lcmain .lcmain_l .lctab .gginfo { padding-top: 15px; padding-right: 15px; padding-bottom: 130px; padding-left: 15px; }
.nymain .lcmain .lcmain_l .lctab .gginfo h2 { font-size: 16px; line-height: 36px; color: #333; text-align: center; }
.nymain .lcmain .lcmain_l .lctab .gginfo .time { font-size: 12px; line-height: 30px; background-color: #f9f9f9; text-align: center; /*border: 1px solid #ddd;*/ margin-top: 5px; margin-bottom: 15px; }
.nymain .lcmain .lcmain_l .lctab .gginfo .zw { line-height: 30px; text-indent: 2em; }
.nymain .lcmain .lcmain_l .lctab .sxnews { background-image: url(../images/neiye1_333.jpg); background-repeat: repeat-x; background-position: left top; overflow: hidden; height: auto; }
.nymain .lcmain .lcmain_l .lctab .sxnews ul li { line-height: 36px;/* float: left; width: 50%;*/width: 100%; }
.nymain .lcmain .lcmain_l .lctab .sxnews ul li a { color: #136dad; }
.nymain .lcmain .lcmain_l .lctab .sxnews ul li a:hover { color: #00315d; text-decoration: underline; }
.nymain .lcmain .lcmain_l .lctab .gginfo ul li { overflow: hidden; height: 100%; margin-bottom: 40px; }
.nymain .lcmain .lcmain_l .lctab .gginfo ul li .info { float: left; width: 460px; margin-left: 10px; }
.nymain .lcmain .lcmain_l .lctab .gginfo ul li .info h3 { font-size: 12px; line-height: 30px; font-weight: bold; color: #333; }
.nymain .lcmain .lcmain_l .lctab .gginfo ul li .info p { line-height: 24px; }

.nymain .lcmain .lcmain_l .lctab .gginfo ul li .pic { float: left; width: 139px; }
.nymain .kfbox .r_main .box .boxmain .kefu { overflow: hidden; height: auto; }
.nymain .kfbox .r_main .box .boxmain .kefu li a.tx img{ padding: 3px; border: 1px solid #ddd; }

.nymain .kfbox .r_main .box .boxmain .kefu li { text-align: center; float: left; width: 85px; margin-right: 20px; margin-bottom: 50px; margin-left: 25px; display: inline; margin-top: 20px; }


.sleft {
	margin-top:10px;
    float: left;
    border: 1px solid #EBEBEB;
    background-color: #FFF;
    width: 232px;
    height: 29px;
}
.search-input {
    float: left;
    padding: 2px 4px;
    width: 180px;
    height: 40px;
    line-height: 40px;
}
.sch-btn {
    float: left;
    margin: 2px 2px 0px 0px;
    padding: 0px 10px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
}
.btn-search {
    display: inline-block;
    margin-top: 5px;
    width: 16px;
    height: 16px;
    background: url("../images/bg_icon.png") no-repeat scroll -50px 0px transparent;
}
input, button, textarea, select, option {
    font-family: inherit;
    font-size: 100%;
    outline: 0px none;
}




//提示信息

.height100 {
    height: 100%;
}
.prompt_wrap {
    top: 50%;
    margin-top: -170px;
}
.Prompt {
    width: 640px;
    margin: 0px auto;
    text-align: left;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}
.Prompt_con {
    border-top: 0px none;
    overflow: hidden;
}
.width100 {
    width: 100%;
}
.posiabso{
position: absolute;
}
.alC{
text-align: center;
}

.nymain8 dl {
    overflow: hidden;
    margin: 0px;
}
.nymain8 dt {
    font-size: 18px;
    padding: 20px 30px;
    border-bottom: 1px solid #E1E1E1;
}
.nymain8 dd {
    display: block;
    padding: 30px 30px;
    float: left;
}

.nymain8 {
    /*top: 50%;*/
    width: 800px;
    margin: 4%  auto 24%;
    overflow: hidden;
    height:auto;
    color: #666;
    border: 1px solid #E1E1E1;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}
.ifbox18 {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    /*background: url("../images/df.jpg") repeat-x scroll 0% 0% transparent;*/
    background:#fff;
}
.boxmain8 {
    overflow: hidden;
    padding: 15px;
}
.Prompt_x {
display: inline-block;
width: 68px;
height: 68px;
background-image: url(../images/pic_rw.png);
background-repeat: no-repeat;
background-position: 0 0;
}
.Prompt_o {
display: inline-block;
width: 68px;
height: 68px;
background-image: url(../images/pic_rw.png);
background-repeat: no-repeat;
background-position: -68px 0px;
}

.img_add{
    text-align: center;
    line-height: 148px;
    width: 232px;
    height: 148px;
    float: left;
    margin: 20px 10px 10px 10px;
    border: 1px solid #ddd;
}
.img_add a{
    width: 232px;
    height: 148px;
    color: #4ac0ff;
    
}
.img_add:hover{
    border: 1px solid #4ac0ff;
}



.drop-label {
    text-align: center;
    width: 214px;
    display: block;
    transition: 0.5s opacity;
    -webkit-transition: 0.5s opacity;
    -ms-transition: 0.5s opacity;
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    opacity: 0;
}
.hover .drop-label,
#drop-zone:hover .drop-label {
    opacity: 0.7;
}
#drop-zone {
    margin: 20px 10px 10px 10px;
    width: 234px;
    height: 148px;
    /*cursor: pointer;*/
    border: 1px solid #ddd;
}
#drop-zone:hover {

    border: 1px solid #4ac0ff;
}
#drop-zone a{
    margin-left:70px;
    color: #4ac0ff;
    
}


.block{
        display:block;
}
.none{
        display:none;
}
.User_grade{width:420px;overflow:hidden;float:left;}
.User_ratings .ratings_title{width:815px;height:78px;font-family:"微软雅黑","宋体";font-size:24px;color:#aaaaaa;}
.User_ratings .ratings_title01{width:407px;height:auto;font-family:"微软雅黑","宋体";font-size:14px;color:#aaaaaa;}
.User_ratings .ratings_title p{float:left;}
.User_ratings .ratings_title p span{font-size:48px;}
.User_ratings .ratings_title p i{color:#7dc234;font-style:normal;}
.User_ratings .ratings_title01 p span{font-size:18px;}
.User_ratings .ratings_title01 p i{color:#7dc234;font-style:normal;}
.User_ratings .ratings_title01 input{width:120px;height:48px;border:0;margin:15px auto auto 45px;float:left;background:url(../images/batton_01.png) -202px -2441px no-repeat;}
.User_ratings .ratings_title01 input:hover{background:url(../images/batton_01.png) -202px -2489px no-repeat;}
.User_ratings .ratings_title01 input01{background:url(../images/batton_01.png) -202px -2537px no-repeat;}
.User_ratings .ratings_title input{width:120px;height:48px;border:0;margin:15px auto auto 45px;float:left;background:url(../images/batton_01.png) -202px -2441px no-repeat;}
.User_ratings .ratings_title input:hover{background:url(../images/batton_01.png) -202px -2489px no-repeat;}
.User_ratings .ratings_title input01{background:url(../images/batton_01.png) -202px -2537px no-repeat;}
.User_ratings .ratings_bars{width:407px;height:35px;float:left;}
.User_ratings .ratings_bars #title0{width:25px;height:25px;text-align:center;border:1px solid #bfbebe;line-height:25px;font-family:Georgia, "Times New Roman", Times, serif;font-size:14px;float:left;color:#a0a0a0;margin-right:10px;background:#fff;}
.User_ratings .ratings_bars #title1{width:25px;height:25px;text-align:center;border:1px solid #bfbebe;line-height:25px;font-family:Georgia, "Times New Roman", Times, serif;font-size:14px;float:left;color:#a0a0a0;margin-right:10px;background:#fff;}
.User_ratings .ratings_bars #title2{width:25px;height:25px;text-align:center;border:1px solid #bfbebe;line-height:25px;font-family:Georgia, "Times New Roman", Times, serif;font-size:14px;float:left;color:#a0a0a0;margin-right:10px;background:#fff;}
.User_ratings .ratings_bars #title3{width:25px;height:25px;text-align:center;border:1px solid #bfbebe;line-height:25px;font-family:Georgia, "Times New Roman", Times, serif;font-size:14px;float:left;color:#a0a0a0;margin-right:10px;background:#fff;}
.User_ratings .ratings_bars #title4{width:25px;height:25px;text-align:center;border:1px solid #bfbebe;line-height:25px;font-family:Georgia, "Times New Roman", Times, serif;font-size:14px;float:left;color:#a0a0a0;margin-right:10px;background:#fff;}
.User_ratings .ratings_bars .bars_10{font-family:Georgia, "Times New Roman", Times, serif;font-size:18px;line-height:35px;float:left;color:#a0a0a0;}
.User_ratings .ratings_bars .scale{width:264px;height:13px;float:left;margin:10px 10px auto 10px;position:relative;background:url(../images/progress02.png) 0 0 no-repeat;}
.User_ratings .ratings_bars .scale div{width:0px;position:absolute;width:0;left:0;height:13px;bottom:0;background:url(../images/progress02.png) 0 -14px no-repeat;}
.User_ratings .ratings_bars .scale span{width:10px;height:26px;position:absolute;left:-2px;top:-7px;cursor:pointer;background:url(../images/j.png) no-repeat;}
.span{line-height:35px;float: left; margin-left: 0px;}


.yuanlai_ke{
    float: left;
}


.hfb-modal-container {
    width: 680px;
}
.hfb-modal-header {
    padding: 8px;
    border-bottom: 1px solid #E5E5E5;
    background-color: #4AC0FF;
    color: #FFF;
}
.hfb-modal-content {
    padding: 0px 20px 20px;
}
.tender-detail .t-top {
    line-height: 32px;
    font-size: 16px;
    margin-top: 12px;
    margin-bottom: 6px;
}
.tender-detail ul{
    list-style: outside none none;
    width: 100%;
    border: 1px solid #D9D9DE;
}
.tender-detail ul li{
display: inline-block;
margin:5px;
border: 1px solid #4AC0FF;
background-color: #FFF;
/*padding: 5px;*/
/*padding-left: 10px;*/
padding-right: 10px;
}

.tender-detail ul li .t{
display: inline-block;
padding: 4px 12px;
font-size: 14px;
line-height: 20px;
color: #fff;
text-align: center;
background: #4AC0FF;
/*border-radius: 4px;*/
}
.tbtn{
display: inline-block;
padding: 4px 40px;
font-size: 14px;
line-height: 20px;
color: #fff;
text-align: center;
background: #4AC0FF;
/*border-radius: 4px;*/
}
.table1{

width:100%;
/*border-radius: 4px;*/
}
.table1 tbody tr{
border: 1px solid #D9D9DE;4AC0FF;
width:100%;
/*border-radius: 4px;*/
}
.table1 tbody tr td{
border: 1px solid #D9D9DE;4AC0FF;
text-align: center;
}
.table1 tbody tr th{

font-size: 14px;
line-height: 30px;
color: #fff;
text-align: center;
background: #4AC0FF;
width:16.6%;
/*border-radius: 4px;*/
}
.tender-detail .t-table-wrap {
    width: 100%;
    height: 143px;
    overflow: auto;
    border: 1px solid #D9D9DE;
}
.hfb-modal-footer {
    text-align: center;

    padding: 12px 0px;
}
.nymain{ width: 1000px; margin:30px auto; overflow: hidden; height: auto;  color: #666; }

.nymain .lcnav .tab{width: 998px;height: 40px;padding: 0;border: 1px solid #ddd;background: #fff;}
.nymain .lcnav .tab .tabmain ul li{height: auto;line-height: 40px;font-size: 16px;}
.nymain .lcmain{overflow: hidden;padding-top: 5px;}

.nymain .lcmain .lcmain_r {
    float: right;
    width: 290px;
    border: 1px solid #ddd;
    background: #fff;
}
.nymain .lcmain .lcmain_r .lbox h2{font-size: 18px;line-height: 45px;padding-left: 10px;}


.nymain .lcmain .lcmain_l {
    float: left;
    border: 1px solid #ddd;
    background: #fff;
    
    
}

/* = 分页------------------------------------------ */
.page {
    margin: 10px 0;
    *zoom: 1;
}
.page:before,
.page:after {
    display: table;
    content: "";
}
.page:after {
    clear:both;
}
.page a,
.page span {
    float: left;
    margin-left: -1px;
    padding: 0 14px;
    height: 30px;
    line-height: 30px;
    color: #000;
/*    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;*/
    /*background-color: #4bbd00;*/
}
.page a:hover
 {
    text-decoration: none;
    background-color: #66CCFB;
}
.page .current {
    border-top: 1px solid #66CCFB;
}
.page .next,
.page .prev {
    font-family: "宋体";
    font-weight: bold;
}
.page .rows {
    border-right: 1px solid #CCCCCC;
}
/*----------------------*/

.panel-body {
border: 1px solid #f6f6f6;
border-top: none;
}
.panel-body {
padding-bottom: 18px;
}
.panel-body {
padding: 15px;
}

.text-item ul li {
float: left;
text-align: center;
overflow: hidden;
}
.six-width li {
width: 16.6%;
border-bottom: 1px solid #999;
height: 42px;
}
.list-con-count li {
width: 16.6%;
height: 50px;
line-height: 50px;
float: left;
text-align: center;
overflow: hidden;
}

-----------------15-03-24-----------
.list-person {
height: auto;
font-size: 16px;
margin-bottom: 20px;
border-bottom: 1px dotted #ddd;
clear: both;
}

.list-one {
overflow: hidden;
/*padding-right: 96px;*/
padding-right: 25px;
color: #595959;
font-size: 22px;
width: 30%;
}
.list-two {
width: 59%;
padding-bottom: 20px;
}
.fl{
    float: left;
}
.ri{
    float:right;
}
.person-lp {
font-size: 18px;
color: #4ac0ff;
}
.list-two p {
line-height: 32px;
margin-bottom: 10px;
}
.list-one .icon-6 {
background: url(../images/img/user-icon.png) -210px -253px;
}
.list-one .icon {
float: left;
width: 38px;
height: 38px;
display: inline-block;
margin-left: 130px;
margin-top: 20px;
}
.list-one .list-text {
	color: #248ed1;
float: left;
line-height: 72px;
}
.countfont-2{
    color: #166cb2;
}


#w{
    display:block;
    width:750px;
    margin:0 auto;
    padding-top:30px;
}
#content{
    display:block;
    width:100%;
    background:#fff;
    padding:25px 20px;
    padding-bottom:35px;
    -webkit-box-shadow:rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    -moz-box-shadow:rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    box-shadow:rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

/* 按钮和登陆框样式 */
.flatbtn{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    display:inline-block;
    outline:0;
    border:0;
    color:#f3faef;
    text-decoration:none;
    background-color:#6bb642;
    border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    font-size:1.2em;
    font-weight:bold;
    padding:12px 22px 12px 22px;
    line-height:normal;
    text-align:center;
    vertical-align:middle;
    cursor:pointer;
    text-transform:uppercase;
    text-shadow:0 1px 0 rgba(0,0,0,0.3);
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    -webkit-box-shadow:0 1px 0 rgba(15, 15, 15, 0.3);
    -moz-box-shadow:0 1px 0 rgba(15, 15, 15, 0.3);
    box-shadow:0 1px 0 rgba(15, 15, 15, 0.3);
}
.flatbtn:hover{
    color:#fff;
    background-color:#73c437;
}
.flatbtn:active{
    -webkit-box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
    box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
}
/** custom login button **/
.flatbtn-blu{ 
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    display:inline-block;
    outline:0;
    border:0;
    color:#edf4f9;
    text-decoration:none;
    background-color:#4f94cf;
    border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    font-size:1.3em;
    font-weight:bold;
    padding:12px 26px 12px 26px;
    line-height:normal;
    text-align:center;
    vertical-align:middle;
    cursor:pointer;
    text-transform:uppercase;
    text-shadow:0 1px 0 rgba(0,0,0,0.3);
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    -webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow:0 1px 1px rgba(0, 0, 0, 0.2);
}
.flatbtn-blu:hover{
    color:#fff;
    background-color:#519dde;
}
.flatbtn-blu:active{
    -webkit-box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
    box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
}
/** modal window styles **/
#lean_overlay{
    position:fixed;
    z-index:100;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
    background:#000;
    display:none;
}
#loginmodal{
    width:300px;
    padding:15px 20px;
    background:#f3f6fa;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    -webkit-box-shadow:0 1px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:0 1px 5px rgba(0, 0, 0, 0.5);
    box-shadow:0 1px 5px rgba(0, 0, 0, 0.5);
}
#loginform label{display:block; font-size:1.1em; font-weight:bold; color:#7c8291; margin-bottom:3px; }
/* txtfield */
.txtfield{ 
    display:block;
    width:94%;
    padding:6px 5px;
    margin-bottom:15px;
    font-family:'Helvetica Neue', Helvetica, Verdana, sans-serif;
    color:#7988a3;
    font-size:1.4em;
    text-shadow:1px 1px 0 rgba(255, 255, 255, 0.8);
    background-color:#fff;
    background-image:-webkit-gradient(linear, left top, left bottom, from(#edf3f9), to(#fff));
    background-image:-webkit-linear-gradient(top, #edf3f9, #fff);
    background-image:-moz-linear-gradient(top, #edf3f9, #fff);
    background-image:-ms-linear-gradient(top, #edf3f9, #fff);
    background-image:-o-linear-gradient(top, #edf3f9, #fff);
    background-image:linear-gradient(top, #edf3f9, #fff);
    border:1px solid;
    border-color:#abbce8 #c3cae0 #b9c8ef;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.4);
    -moz-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.4);
    box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.4);
    -webkit-transition:all 0.25s linear;
    -moz-transition:all 0.25s linear;
    transition:all 0.25s linear;
}
.txtfield:focus{
    outline:none;
    color:#525864;
    border-color:#84c0ee;
    -webkit-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 0 7px #96c7ec;
    -moz-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 0 7px #96c7ec;
    box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 0 7px #96c7ec;
}

/** typography **/
h1{font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:2.5em;line-height:1.5em;letter-spacing:-0.05em;margin-bottom:20px;padding:.1em 0;color:#444;position:relative;overflow:hidden;white-space:nowrap;text-align:center;}
h1:before,
h1:after{content:"";position:relative;display:inline-block;width:50%;height:1px;vertical-align:middle;background:#f0f0f0;}
h1:before{left:-.5em;margin:0 0 0 -50%;}
h1:after{left:.5em;margin:0 -50% 0 0;}
h1 > span{display:inline-block;vertical-align:middle;white-space:normal;}
.loginmodal{
    padding: 30px;
}