<block name="body"> <extend name="Base/common" /> <block
	name="body"> <!--header--> <!--找回密码  开始-->
<!--手机找回密码页面-->
<div class="zhmm">
	<h2>找回密码</h2>
	<div class="zhmm_tab">	
		<div class="tab">
				<form action="{:U('Home/System/findloginpassbyphone')}" method="post" id="form">
					<dl>
						<dt><span style="color: red;">*</span>手机号码</dt>
						<dd><input type="text" id="mobile" name="mobile" class="text" placeholder="请输入您绑定的手机号码" /></dd>
					</dl>
					<dl>
						<dt><span style="color: red;">*</span>验证码</dt>
						<dd>
						<input id="mobile_code" type="text" name="mobile_code" class="text" placeholder="请输入验证码" style="width: 105px;" />
						<input id="zphone" type="button" value="获取验证码 " onClick="get_mobile_code();"  class="btn" />
						</dd>
					</dl>
					<input type="button" value="确认提交" id="sub_phone" class="btn"/>
				</form>
				
				
		</div>
	</div>
</div>
<?php
//短信验证码存值
session_start();
function random($length = 6 , $numeric = 0) {
	PHP_VERSION < '4.2.0' && mt_srand((double)microtime() * 1000000);
	if($numeric) {
		$hash = sprintf('%0'.$length.'d', mt_rand(0, pow(10, $length) - 1));
	} else {
		$hash = '';
		$chars = 'ABCDEFGHJKLMNPQRSTUVWXYZ23456789abcdefghjkmnpqrstuvwxyz';
		$max = strlen($chars) - 1;
		for($i = 0; $i < $length; $i++) {
			$hash .= $chars[mt_rand(0, $max)];
		}
	}
	return $hash;
}
$_SESSION['send_code'] = random(6,1);
?>
<script language="javascript">
	function get_mobile_code(){
        $.post('/Addons/Smsphp/sms.php', {mobile:jQuery.trim($('#mobile').val()),send_code:<?php echo $_SESSION['send_code'];?>}, function(msg) {
            alert(jQuery.trim(unescape(msg)));
			if(msg=='已发送'){
				RemainTime();
			}
        });
	};
	var iTime = 59;
	var Account;
	function RemainTime(){
		document.getElementById('zphone').disabled = true;
		var iSecond,sSecond="",sTime="";
		if (iTime >= 0){
			iSecond = parseInt(iTime%60);
			iMinute = parseInt(iTime/60)
			if (iSecond >= 0){
				if(iMinute>0){
					sSecond = iMinute + "分" + iSecond + "秒";
				}else{
					sSecond = iSecond + "秒";
				}
			}
			sTime=sSecond;
			if(iTime==0){
				clearTimeout(Account);
				sTime='获取手机验证码';
				iTime = 59;
				document.getElementById('zphone').disabled = false;
			}else{
				Account = setTimeout("RemainTime()",1000);
				iTime=iTime-1;
			}
		}else{
			sTime='没有倒计时';
		}
		document.getElementById('zphone').value = sTime;
	}	
</script>
<script type="text/javascript">
	$('#sub_phone').click(function(){
		var reg = /^(?:13\d|15\d|18\d)\d{5}(\d{3}|\*{3})$/;
		var mobile=$('#mobile').val();
		var mobile_code=$('#mobile_code').val();
		if(mobile==''){
			layer.msg('请填写绑定手机号码');
			$('#mobile').focus();
			document.getElementById("mobile").style.borderColor="red";
		}else if(!reg.test(mobile)){
			layer.msg('请填写正确的手机号码');
			$('#mobile').focus();
			document.getElementById("mobile").style.borderColor="red";
		}else{
			var index=layer.load(1,{time:3*1000});
			$.post('__ROOT__/Home/System/checkphone',{mobile:mobile},function success(data){
				if(data.status){
					layer.closeAll('loading');
					if(mobile_code==''){
						document.getElementById("mobile").style.borderColor="green";
						layer.msg('请填写收到的四位验证码！');
						$('#mobile_code').focus();
						document.getElementById("mobile_code").style.borderColor="red";
					}else{
						document.getElementById("mobile_code").style.borderColor="green";
						$("#form").submit();
					}
				}else{
					layer.msg(data.info);
					layer.closeAll('loading');
				}
			});
		}

	});
</script>

</block>