<block name="body"> <extend name="Base/common" /> <block
	name="body"> <!--header--> <!--找回密码  开始-->
<div class="zhmm">
	<h2>
		当前位置 > <span style="color: red;">找回密码</span>
	</h2>
	<dl class="zhmm_way">
		<dt>找回密码</dt>
		<dd class="cur">手机找回</dd>
		<dd style="margin-left: 0; border-left: 0;">邮箱找回</dd>
	</dl>
	<div class="zhmm_tab">
		<div class="tab">
			<dl>
				<dt>手机号码</dt>
				<dd>
					<input type="text" class="text" placeholder="请输入您绑定的手机号码" />
				</dd>
			</dl>
			<dl>
				<dt>验证码</dt>
				<dd>
					<input type="text" class="text" placeholder="请输入验证码"
						style="width: 105px;" /><input type="button" class="btn"
						value="发送验证码" />
				</dd>
			</dl>
			<!-- <input type="button" class="btn" value="确认提交" /> --><a href="{:U('System/setpassword')}"">确认提交</a>
		</div>
		<div class="tab" style="display: none;">
			<dl>
				<dt>邮箱账号</dt>
				<dd>
					<input type="text" class="text" placeholder="请输入您绑定的邮箱账号" />
				</dd>
			</dl>
			<dl>
				<dt></dt>
				<dd>
					<input type="button" class="btn" value="点击发送验证邮件"
						style="width: 120px; background: url(images/120x30pxblue.png) no-repeat center center;" />
				</dd>
			</dl>
		</div>
	</div>
</div>
<!--找回密码   结束-->
<script type="text/javascript">
	$(function() {
		//alert($('.zhmm .zhmm_way dd').length);
		$('.zhmm .zhmm_way dd').each(
				function(index, element) {
					$(element).click(
							function() {
								$(element).addClass('cur').siblings()
										.removeClass('cur');
								//alert($(element).index());
								$('.zhmm .zhmm_tab .tab').eq(
										$(element).index() - 1).show()
										.siblings().hide();
							});
				});
	});
</script> </block>