<block name="body"> <extend name="Base/common" /> <block
	name="body"> <!--header--> <!--找回密码  开始-->
<div class="zhmm">
	<h2>找回密码</h2>
	<ul class="zhmm_way">
		<li style="background:#b30000 url(__PUBLIC__/Home/images/phone.png) no-repeat 20px center;"><a href="{:U('Home/System/findpassbyphone')}">通过手机+支付密码找回</a></li>
		<li style="background:#b30000 url(__PUBLIC__/Home/images/email.png) no-repeat 20px center;"><a href="{:U('Home/System/findpassbyemail')}">通过邮箱+支付密码找回</a></li>
	</ul>	
</div>
<!--#34c2f6  #069dd5-->
<!--找回密码   结束-->

</block>