<block name="body"> <extend name="Base/common" /> <block
	name="body"> <!--header--> <!--找回密码  开始-->
<!--手机找回密码页面-->
<div class="zhmm">
	<h2>找回密码</h2>
	<div class="zhmm_tab">	
		<div class="tab">
				<dl>
					<dt><span style="color: red;">*</span>支付密码</dt>
					<dd>
						<input type="text" class="text" placeholder="请输入支付密码" />
					</dd>
				</dl>
				<dl>
					<dt><span style="color: red;">*</span>手机号码</dt>
					<dd>
						<input type="text" class="text" placeholder="请输入您绑定的手机号码" />
					</dd>
				</dl>
				<dl>
					<dt><span style="color: red;">*</span>验证码</dt>
					<dd>
						<input type="text" class="text" placeholder="请输入验证码"
							style="width: 105px;" /><input type="button" class="btn"
							value="发送验证码" />
					</dd>
				</dl>
				<!-- <input type="button" class="btn" value="确认提交" /> -->
				<a href="{:U('Home/System/setpassword')}" class="btn">确认提交</a>
		</div>
	</div>
</div>

</block>