<block name="body"> <extend name="Base/common" /> <block
	name="body"> <!--header--> <!--找回密码  开始--> <!--设置新的登录密码  开始-->
<!--设置新的密码 页面-->
<div class="zhmm">
	<h2>找回密码</h2>
	<div class="zhmm_tab"><form id="form" action="{:U('profile')}" method="post" id="form">
		<div class="tab">
			<dl>
				<dt style="width: 220px;">请重新设置您的登录密码<input type="text" value="{$value}" name="{$name}"style="display:none;" /></dt>
				<dd style="width: 205px;"></dd>
			</dl>
			<dl>
				<dt>
					<span style="color: red;">*</span>新密码
				</dt>
				<dd>
					<input type="password" class="text" id="np" name="password" placeholder="请输入新密码" />
				</dd>
			</dl>
			<dl>
				<dt>
					<span style="color: red;">*</span>确认密码
				</dt>
				<dd>
					<input type="password" class="text" id="rp" name="repassword" placeholder="请再次输入新密码" />
				</dd>
			</dl>
			<dl>
				<dt></dt>
				<dd>
					<input type="button" class="btn" id="pass_sub" value="确&nbsp;&nbsp;&nbsp;&nbsp;定"
						style="width: 120px; background: #b30000; font-size: 16px;" />
				</dd>
			</dl>
		</div></form>
	</div>
</div>
</div>
<script type="text/javascript">
	$('#pass_sub').click(function(){
		var np=$('#np').val();
		var rp=$('#rp').val();
		if(np==''){
			$('#np').focus();
			document.getElementById("np").style.borderColor="red";
			layer.msg('请输入新密码',{icon:0});
		}else{
			if(np.length<'6'||np.length>'16'){
				$('#np').focus();
				document.getElementById("np").style.borderColor="red";
				layer.msg('新密码位数不对（6-16位）',{icon:0});
			}else{
				document.getElementById("np").style.borderColor="green";
				if(rp==''){
					$('#rp').focus();
					document.getElementById("rp").style.borderColor="red";
					layer.msg('请再次输入新密码',{icon:0});
				}else{
					if(rp!==np){
						$('#rp').focus();
						document.getElementById("rp").style.borderColor="red";
						layer.msg('两次新密码不一致',{icon:0});
					}else{
						document.getElementById("rp").style.borderColor="green";
						$('#form').submit();
					}
				}
			}
		}
	});
</script>
</block>