<block name="body"> <extend name="Base/common" /> <block
	name="body"> <!--header--> <!--找回密码  开始--> <!--设置新的登录密码  开始-->
<!--设置新的密码 页面-->
<div class="zhmm">
	<h2>找回密码</h2>
	<div class="zhmm_tab">
		<div class="tab">
			<dl>
				<dt style="width: 220px;">请重新设置您的登录密码</dt>
				<dd style="width: 205px;"></dd>
			</dl>
			<dl>
				<dt>
					<span style="color: red;">*</span>新密码
				</dt>
				<dd>
					<input type="text" class="text" placeholder="请输入新密码" />
				</dd>
			</dl>
			<dl>
				<dt>
					<span style="color: red;">*</span>确认密码
				</dt>
				<dd>
					<input type="text" class="text" placeholder="请再次输入新密码" />
				</dd>
			</dl>
			<dl>
				<dt></dt>
				<dd>
					<input type="button" class="btn" value="确&nbsp;&nbsp;&nbsp;&nbsp;定"
						style="width: 120px; background: #b30000; font-size: 16px;" />
				</dd>
			</dl>
		</div>
	</div>
</div>



</div>
</block>