@charset "utf-8";
/* CSS Document */
.sel_70 { height: 20px; width: 70px;  border: 1px solid #adbcc7;}
.gray{background-color:#FAFAFA}
.selimg{cursor:pointer;width:62px;heigth:62px;margin:3px;}
/* CSS 通用 */
body{ padding:0; margin:0px; font-size:12px; font-family: "微软雅黑",Arial, Helvetica, sans-serif;}
ul,li,dd,dl,dt,form,input{margin:0px; padding:0px; list-style-type:none;}
img{ border:none; margin:0px; vertical-align: middle; }
p,h1,h2,h3,h4{ margin:0px; padding:0px;text-align: left;}
a{text-decoration:none; vertical-align:middle; color:#333}
a:hover{ color:#166cb2}
.clear{clear:both; font-size:0px; line-height:0px; height:0px; overflow: hidden;
	display: block!important;
	float: none!important;
	clear: both;
	overflow: hidden;
	width: auto!important;
	height: 0!important;
	margin: 0 auto!important;
	padding: 0!important;
	font-size: 0;
	line-height: 0;

}
.cpage {
	border:1px solid #DEDEDE;
	text-align:center;
	margin-top:-3px;
	height:20px;
}

table{ border-collapse:collapse;}

/* 通用按钮 */
/* 通用颜色 */
.fred{ color:#ff0000;}
.blue{ color:#b70000;}
.f999{ color:#999;}




/*关于我们_媒体报道*/
.a_mtbd_list{overflow:hidden;}
.a_mtbd_list li{overflow:hidden;height:123px;padding:20px 0;border-bottom:1px dashed #ddd;}
.a_mtbd_list .left{width:183px;height:123px;overflow:hidden;float:left;border:1px solid #ddd;}
.a_mtbd_list .left img{width:183px;height:123px;}
.a_mtbd_list .right{float:left;width:485px;margin-left:20px;overflow:hidden;}
.a_mtbd_list .right .title{height:30px;margin:5px 0;overflow:hidden;}
.a_mtbd_list .right .title h4{float:left;width:390px;overflow:hidden;margin:0;line-height:30px;}
.a_mtbd_list .right .title h4 a{color:#166cb2;}
.a_mtbd_list .right .title span{float:right;width:75px;overflow:hidden;line-height:30px;}
.nymain .kfbox .rightbox .a_mtbd_list .right p{line-height:24px;}

/*媒体报道 内容页*/
.mtbd_con{overflow:hidden;padding:15px 0 ;}
.mtbdcon_title{overflow:hidden;padding-bottom:25px;border-bottom:1px solid #ececec;}
.nymain .kfbox .rightbox .mtbd_con h4{text-align:center;font-family: "微软雅黑";font-size:20px;color:#166cb2;margin:0;}
.mtbd_con .fby{font-family: "微软雅黑";font-size:14px;color:#666;text-align:center;height:52px;margin-top:10px;line-height:52px;}
.mtbd_con .fby  .mtbd_ly{float:left;height:52px;hegiht:52px;margin:0 30px 0 150px;overflow:hidden;display:inline;}
.mtbd_con .fby .mtbd_ly span{margin:0 5px;}
.mt_logo{width:130px;height:52px;float:left;}

.font_con{overflow:hidden;margin-top:20px;}
.font_con p{font-size:14px;line-height:26px;text-indent:30px;margin-bottom:15px;font-family: "微软雅黑";}
.font_con .ywlj{font-family: "微软雅黑";font-size:14px;padding-top:20px;overflow:hidden;}
.font_con .ywlj strong{font-size:16px;color:#166cb2;}

/*媒体报道 内容页*/
.bghj ,.lxwm_con ,.lx_gsdz{width:690px;overflow:hidden;}
.bghj a{float:left;width:200px;height:106px;padding:4px;border:1px solid #ccc;margin-bottom:30px;display:block;}

/*联系我们*/
.nymain .kfbox .rightbox .lxwm_con h4{font-size:16px;color:#333;text-indent:30px;font-weight:normal;}
.lx_zxkf{width:690px;overflow:hidden;}
.lx_zxkf p{float:left;width:210px;padding-right:20px;}
.nymain .kfbox .rightbox .lx_gsdz h4{text-indent:0;}

/*邮箱弹出层 20140724*/
.yxtcc{padding:20px 100px;overflow:hidden;}
.yxtcc td{line-height:32px;overflow:hidden;}
.yxtcc input{border:1px solid #ccc;background:#fff; border-radius: 3px;padding:5px;}





