<block name="body"> <extend name="Base/common" /> <block
	name="body"> <!--content start-->
<div class="zh_cont_out">
	<div class="zh_cont">
		<include file="Public/left" />
		<div class="zh_cont_r">
			<!--推广管理-->
			<h3>
				当前位置<span style="color: #D41010;">推广管理</span>
			</h3>
			<div class="tggl">
				<dl style="margin: 10px auto 0;">
					<dt>温馨提示：</dt>
					<dd>1、推荐一级会员可获得投资利息的5%；</dd>
					<dd>2、推荐二级会员可获得投资利息的3%；</dd>
					<dd>3、推荐三级会员可获得投资利息的1%；</dd>
					<dd>4、只有参与了投资才有推广费；</dd>
					<dd>5、自动投标不参与活动。</dd>
				</dl>
				
				<dl style="margin: 0 auto 20px;">
					<dt>等级说明：</dt>
					<dd>1、一级会员（A）为当前用户直接推荐的投资客；</dd>
					<dd>2、二级会员（B）为由一级会员（A）间接推荐的投资客；</dd>
					<dd>3、三级会员（C）为由二级会员（B）间接推荐的投资客。</dd>
				</dl>
				
				<table border="0" cellspacing="0" cellpadding="0">
					<tr>
						<th>推广统计</th>
					</tr>
					<tr>
						<td>等级</td>
						<td>人数</td>
						<td>当日投资额</td>
						<td>当月推广费</td>
						<td>累计投资额</td>
						<td>累计推广费</td>
					</tr>
					<tr>
						<td>A</td>
						<td>5</td>
						<td>200</td>
						<td>10</td>
						<td>200</td>
						<td>10</td>
					</tr>
					<tr>
						<td>B</td>
						<td>5</td>
						<td>200</td>
						<td>10</td>
						<td>200</td>
						<td>10</td>
					</tr>
					<tr>
						<td>C</td>
						<td>5</td>
						<td>200</td>
						<td>10</td>
						<td>200</td>
						<td>10</td>
					</tr>
					<tr>
						<td>A</td>
						<td>5</td>
						<td>200</td>
						<td>10</td>
						<td>200</td>
						<td>10</td>
					</tr>
					<tr>
						<td>B</td>
						<td>5</td>
						<td>200</td>
						<td>10</td>
						<td>200</td>
						<td>10</td>
					</tr>

				</table>


			</div>
		</div>
	</div>
</div>
</block>