<block name="body"> <extend name="Base/common" /> <block
	name="body"> <!--content start-->
<div class="zh_cont_out">
	<div class="zh_cont">

		<include file="Public/left" />
		<div class="zh_cont_r">
			<h3>
				当前位置 > <span style="color: #D41010;">友情推广</span>
			</h3>
			<div class="r_main">
				<div class="mes_con">
					<div class="tabtil">
						<ul>
							<!--<a href="friendManagerInit.htm">-->
							<li class="on">邀请好友</li>
							<!--</a>-->
							<!--<a href="friendManagerInits.htm">-->
							<li>好友列表</li>
							<!--</a>-->
						</ul>
					</div>
					<div class="box">
						<div class="friend_tab">
							<div class="boxmain2 yqhy">
								<!-- <div class="rrdslcj">
								<img src="./images/yqhy.jpg" alt="邀请好友，挣金币，兑大礼" />
							</div> -->
								<div class="bdsharebuttonbox" style="padding-left: 20px;">
									<a href="#" class="bds_more" data-cmd="more"></a> <a href="#"
										class="bds_qzone" data-cmd="qzone"></a> <a href="#"
										class="bds_tsina" data-cmd="tsina"></a> <a href="#"
										class="bds_tqq" data-cmd="tqq"></a> <a href="#"
										class="bds_renren" data-cmd="renren"></a> <a href="#"
										class="bds_weixin" data-cmd="weixin"></a>
								</div>
								<script>
									window._bd_share_config = {
										"common" : {
											"bdSnsKey" : {},
											"bdText" : "中国工合实业集团旗下 网贷平台，P2P理财首选平台。综合年化收益18%以上，100%本息安全保障！您的好友邀请链接:${url}reg.htm?param=${userId}",
											"bdMini" : "2",
											"bdPic" : "",
											"bdStyle" : "0",
											"bdSize" : "16"
										},
										"share" : {},
										"image" : {
											"viewList" : [ "qzone", "tsina",
													"tqq", "renren", "weixin" ],
											"viewText" : "分享到：",
											"viewSize" : "16"
										},
										"selectShare" : {
											"bdContainerClass" : null,
											"bdSelectMiniList" : [ "qzone",
													"tsina", "tqq", "renren",
													"weixin" ]
										}
									};
									with (document)
										0[(getElementsByTagName('head')[0] || body)
												.appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='
												+ ~(-new Date() / 36e5)];
								</script>
								<div class="yqhy_text1">
									<h4 style="border-bottom: 0; width: 910px;">复制链接发给QQ/MSN上的好友</h4>
									<div style="width: auto; height: auto; overflow: hidden;">
										<span id="testcopy"
											style="float: left; width: 560px; padding-left: 20px; height: 19px; padding-top: 5px; color: red;">http://www.ghcf.com.cn/Home/register.html&&reffer={$username}</span><a
											href="javascript:;" id="copy" style="float: left;"><embed
												width="62" height="24" align="middle"
												flashvars="txt=http://www.ghcf.com.cn/Home/User/register.html?reffer={$username}"
												src="__PUBLIC__/copy.swf" quality="high" wmode="transparent"
												allowscriptaccess="sameDomain"
												pluginspage="http://www.adobe.com/go/getflashplayer"
												type="application/x-shockwave-flash"></a>
									</div>



									<!--复制代码-->
									<span id="url_box_clippy" style="display: none">http://www.ghcf.com.cn/Home/User/register.html?reffer={$username}</span>
									<span id="clippy_tooltip_url_box_clippy"
										class="clippy-tooltip tooltipped" title="copy to clipboard">
										<object id="clippy" class="clippy" width="14" height="14"
											classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000">
											<param
												value="https://d3nwyuy0nl342s.cloudfront.net/flash/clippy.swf?v5"
												name="movie">
											<param value="always" name="allowScriptAccess">
											<param value="high" name="quality">
											<param value="noscale" name="scale">
											<param value="id=url_box_clippy&copied=&copyto="
												name="FlashVars">
											<param value="#FFFFFF" name="bgcolor">
											<param value="opaque" name="wmode">
											<embed width="14" height="14" wmode="opaque"
												bgcolor="#FFFFFF"
												flashvars="id=url_box_clippy&copied=&copyto="
												pluginspage="http://www.macromedia.com/go/getflashplayer"
												type="application/x-shockwave-flash"
												allowscriptaccess="always" quality="high" name="clippy"
												src="https://d3nwyuy0nl342s.cloudfront.net/flash/clippy.swf?v5">
										</object>
									</span>

									<!-- <textarea class="txta_1" name="contents" id="contents">中国工合实业集团旗下 网贷平台【ghcf】，P2P理财首选平台。综合年化收益18%以上，100%本息安全保障，50元超低门槛，是草根、家庭的理财专属通道！你也赶快来投资，别被银行榨取我们的存款利息！进入平台先注册:${url}reg.htm?param=${userId}</textarea>
								<div class="fzfx_an">
									<a href="javascript:void(0);" onclick=
	jsCopy();
><img
											src="./images/img/fzfx_an.jpg" width="103" height="29" /> </a>
								</div>  -->
								</div>
								<form action="__SELF__" method="post" id="form">
									<div class="yqhy_text1">
										<h4
											style="border-bottom: 0; border-top: 1px solid #ddd; width: 910px;">还可以通过邮件推荐</h4>
										<ul class="yjtj" style="padding-left: 20px;">
											<li style="overflow: hidden;"><label class="lab1 "
												style="float: left; line-height: 30px"> 好友邮箱： </label> <input
												type="text" maxlength="100" value=""
												class="inp1 no_ol pl5 fc999 b_ddd" id="emails" name="email"
												style="float: left;"></li>
											<li style="overflow: hidden;"><label class="lab1"
												style="float: left; line-height: 30px"> 您的姓名： </label> <input
												type="text" maxlength="20"
												class="inp1 no_ol pl5 fc999 b_ddd" value="{$realName}"
												id="name" disabled="disabled" style="float: left;"></li>
											<!--<li>
										<label class="lab1">
											邮件标题：
										</label>
										<input type="text" class="inp1 no_ol pl5 fc999 b_ddd"
											value="教您稳赚赢大奖" id="title">
									</li>-->
											<li style="overflow: hidden;"><label class="lab1"
												style="float: left; line-height: 30px"> 邮件内容： </label> <textarea
													class="txta_2 no_ol b_ddd fc999" id="content"
													name="content" rows="20"
													style="float: left; resize: none; width: 450px; height: 130px;">特意邀请您注册“工合财富” 网贷平台【www.ghcf.cn】，P2P理财首选平台。综合年化收益18%，100%本息安全保障，50元起投，超低门槛，是草根、家庭的理财专属通道！你也赶快来投资吧，别被银行榨取我们的存款利息！进入平台先注册:http://www.ghcf.com.cn/Home/User/register.html?reffer={$username}</textarea>
											</li>
										</ul>
										<div class="fzfx_an" style="margin-left: 90px;">
											<span style="color: red; float: none;" id="s_tip"
												class="formtips"></span> <a href="javascript:void(0);"
												id="sendmail"> <img
												src="__PUBLIC__/Member/images/fs_an.png" width="103"
												height="29" />
											</a>
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class="friend_tab" style="display: none; margin-top: 20px;">
							<table style="margin: auto;">
								<tr>
									<td
										style="text-align: center; width: 50px; border: 1px solid #ddd; line-height: 40px;">编号</td>
									<td
										style="text-align: center; width: 200px; border: 1px solid #ddd; line-height: 40px;">用户名</td>
									<td
										style="text-align: center; width: 200px; line-height: 40px; border: 1px solid #ddd;">注册时间</td>
									<td
										style="text-align: center; width: 200px; line-height: 40px; border: 1px solid #ddd;">投资</td>
									<td
										style="text-align: center; width: 200px; line-height: 40px; border: 1px solid #ddd;">投资时间</td>
								</tr>
								<volist name="friendList" id="vo" key="i">
								<tr>
									<td
										style="text-align: center; width: 50px; border: 1px solid #ddd; line-height: 40px;">{$i}</td>
									<td
										style="text-align: center; width: 200px; border: 1px solid #ddd; line-height: 40px;">{$vo.username}</td>
									<td
										style="text-align: center; width: 200px; line-height: 40px; border: 1px solid #ddd;">{$vo.reg_time|date='Y-m-d',###}</td>
									<td
										style="text-align: center; width: 200px; line-height: 40px; border: 1px solid #ddd;">{$vo.investor_capital}</td>
									<td
										style="text-align: center; width: 200px; line-height: 40px; border: 1px solid #ddd;">{$vo.add_time|date='Y-m-d',###}</td>
								</tr>
								</volist>
							</table>
						</div>
						<div class="page">{$page}</div>
					</div>
				</div>


			</div>



		</div>
	</div>
</div>
</div>
<!--content end--> <script src="__PUBLIC__/Home/js/jquery-1.7.2.min.js"
	type="text/javascript" charset="utf-8"></script> <script>
		$("#sendmail").click(function() {
			var email = $('#emails').val();
			var content = $('#content').val();
			if (email == "") {
				alert("好友邮箱地址不能为空！");
				return false;
			}
			if (content == "") {
				alert("邮件内容不能为空！");
				return false;
			}
			$('#form').submit();
		});
	</script> <script type="text/javascript">
		$(function() {
			$('.zh_cont_out .zh_cont .r_main .tabtil ul li').each(
					function(index, element) {
						$(element).click(
								function() {
									$(element).addClass('on').siblings()
											.removeClass('on');
									$('.box .friend_tab')
											.eq($(element).index()).show()
											.siblings().hide();
								})
					})
		})
	</script> </block>