<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>新增借款标</h2>
    </div>
    <form action="{:U()}" method="post" class="form-horizontal">
        <div class="form-item">
            <label class="item-label">借款标题<span class="check-tips">（借款标题的主题）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="username" value="">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">借款总金额<span class="check-tips">（）</span></label>
            <div class="controls">
                <input type="password" class="text input-large" name="password" value="">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">年利率<span class="check-tips">（借款标题的主题）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="username" value="">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">借款用途<span class="check-tips">（借款标题的主题）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="username" value="">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">借款期限<span class="check-tips">（借款标题的主题）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="username" value="">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">最低投标金额<span class="check-tips">（借款标题的主题）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="username" value="">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">最多投标金额<span class="check-tips">（借款标题的主题）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="username" value="">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">有效时间<span class="check-tips">（借款标题的主题）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="username" value="">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">还款方式<span class="check-tips">（借款标题的主题）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="username" value="">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">投标奖励<span class="check-tips">（借款标题的主题）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="username" value="">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">借款说明<span class="check-tips">（借款标题的主题）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="username" value="">
            </div>
        </div>
        <div class="form-item">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('User/index')}');
    </script>
</block>
