<IfModule mod_rewrite.c>
  Options +FollowSymlinks
  RewriteEngine On
  #不显示index.php

  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^Home(.*)$ index.php/$1 [QSA,PT,L]
</IfModule>