<block name="body"> <extend name="Base/common" /> <block
	name="body">
<div class="sqjk_cont_out">
	<div class="sqjk_cont">
		<div class="sqjk_cont_top">
			<h2>借款流程</h2>
			<div class="sqjk_pic">
				<img src="__PUBLIC__/Home/images/jklc.png" width="1000" height="374" />
			</div>
		</div>

		<div class="sqjk_cont_bot">
			<dl class="sqjk_cont_foucs">
				<dt>借款须知</dt>
				<dd>
					1．仅适用于非VIP会员用于提交借款意向，非正式借款申<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;请。
				</dd>
				<dd>
					2．提交后工合或担保机构进行初步审核，并可能与您本人沟<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;通，出具受理意见,但在您成为VIP会员之前不会在本网站<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;发布您的借款标。
				</dd>
				<dd>
					3．工合或担保机构进行审核后，并与您本人沟通，出具受理意见,会在本网站发布您的借款标,;并呈现具体借款的详情附带资料。
				</dd>
				<dd
					style="background: #f3a616 url(images/warning.png) no-repeat 5px center; color: #fff; padding-left: 40px; width: 88%;">您必须成为VIP会员后，才能提交正式借款申请。</dd>
			</dl>
			<div class="tjsqjk">
				<h2>借款意向</h2>
				<dl>
					<dt>姓名</dt>
					<dd>
						<input type="text" class="txt" />
					</dd>
				</dl>
				<dl>
					<dt>联系电话</dt>
					<dd>
						<input type="text" class="txt" />
					</dd>
				</dl>
				<dl>
					<dt>身份证号码</dt>
					<dd>
						<input type="text" class="txt" />
					</dd>
				</dl>
				<dl>
					<dt>借款金额</dt>
					<dd>
						<input type="text" class="txt" />
					</dd>
				</dl>
				<dl>
					<dt>借款期限</dt>
					<dd>
						<input type="text" class="txt2" /> <select class="date">
							<option value="1">年</option>
							<option value="1">月</option>
							<option value="1">日</option>
						</select>
					</dd>
				</dl>
				<dl>
					<dt>所在地区</dt>
					<dd>
						<select class="sheng">
							<option value="1">北京市</option>
						</select> <select class="shi">
							<option value="1">朝阳区</option>
						</select>
					</dd>
				</dl>
				<dl>
					<dt>借款说明</dt>
					<dd>
						<textarea></textarea>
					</dd>
				</dl>
				<input type="button" class="btn" value="提交申请" />
			</div>
		</div>

	</div>
</div>
</block>