<block name="body">
  <extend name="Base/common"/>
  <block name="body">
    <!--content start-->
    <div class="zh_cont_out">
      <div class="zh_cont">

        <div class="zh_cont_r" style="width: auto;">

          <div class="r-main" style="border: none;">
            <!-- <div class="til01">
            -->
            <div class="til01">
              <ul id="ul">
                <li style="font-size:18px;width:1007px;height: 50px;padding: 0;overflow: hidden;border: 1px solid #ddd;background: #fff;">
                  <h3 style="height: 50px;line-height: 50px;width: 690px;float: left;border: 0;">
                    当前位置 > <b style="color: red;font-weight: normal;">发布借款</b>
                  </h3>
                  <span style="color: red;font-size: 24px; padding:0 40px;float: right;line-height: 50px;">{$type|get_borrow_type_name}</span>
                </li>
              </ul>
            </div>
            <div class="rmainbox" style="background: #fff;border: 1px solid #ddd;margin-top: 10px;height: 1062px;">
              <p class="tips">
                <span class="fred">*</span>
                为必填项，所有资料均会严格保密。
              </p>

              <div class="tab">
              <form name="form"action="{:U('circulation_save?id='.$type)}" method="post" enctype="multipart/form-data"  onsubmit="return check()">
                <table>
                  <tr>
                    <td valign="top" colspan="2" rowspan="1">借款标题</td>
                    <td valign="top" style="word-break: break-all;">金额</td>
                    <td valign="top" style="word-break: break-all;"></td>
                  </tr>
                  <tr>
                    <td valign="top" colspan="2" rowspan="1">
                      <input type="hidden" value="{$type}" id="b_type">
                      <input name="borrow_name" id="s_borrow_name" type="text" title="借款标题" placeholder="请填写借款标题" value="" leipiplugins="text" orghide="0" orgalign="left" orgwidth="150" orgtype="text" style="text-align: left; width: 340px;"/>
                      <span class="fred" id="t_borrow_name"></span>
                    </td>
                    <td width="233" valign="top">
                      <input name="borrow_money"id="s_borrow_money" type="text" title="金额" placeholder="请填写金额" onkeyup="if(/\D/.test(this.value)){layer.msg('只能输入数字');this.value='';}" leipiplugins="text" orghide="0" orgalign="left" orgwidth="150" orgtype="text" style="text-align: left; width: 150px;"/>
                      <span class="fred" id="t_borrow_money"></span>
                    </td>
                    <td width="100" valign="top" style="word-break: break-all;"></td>
                  </tr>
                  <tr>
                    <td valign="top" colspan="2" rowspan="1">年化率</td>
                    <td  valign="top" style="word-break: break-all;">借款期限</td>
                    <td valign="top" style="word-break: break-all;">招募时间</td>
                  </tr>
                  <tr>
                    <td valign="top" colspan="2" rowspan="1" style="word-break: break-all;">

                      <div class="User_ratings User_grade" id="div_fraction0">
                        <div class="ratings_bars">
                          <span class="bars_10" style="display:none;">0</span>
                          <div class="scale" id="bar0">
                            <div></div>
                            <span id="btn0"></span>
                          </div>
                          <span class="bars_10" style="display:none;">100</span>
                          <input name="borrow_interest_rate" id="title0" type="text" title="拖动左侧滑块" value="0" onkeyup="if(/\D/.test(this.value)){layer.msg('只能输入数字,请拖动左侧滑块');this.value='';}" leipiplugins="text" orghide="0" orgalign="left" orgwidth="150" orgtype="text" style="text-align: left; width: 30px;"/>
                          <span class="span" >%</span>
                        </div>
                      </div>
                    </td>
                    <td rowspan="1" valign="top" align="null"  style="word-break: break-all;">
                      <select  id="collect_days" title="借款期限" style="text-align: left; width: 70px;">
                        <option value="1">1月</option>
                        <option value="2">2月</option>
                        <option value="3">3月</option>
                        <option value="4">4月</option>
                        <option value="5">5月</option>
                        <option value="6">6月</option>
                        <option value="7">7月</option>
                        <option value="8">8月</option>
                        <option value="9">9月</option>
                        <option value="10">10月</option>
                        <option value="11">11月</option>
                        <option value="12">一年</option>
                        <option value="13">一年+1个月</option>
                        <option value="14">一年+2个月</option>
                        <option value="15">一年+3个月</option>
                        <option value="16">一年+4个月</option>
                        <option value="17">一年+5个月</option>
                        <option value="18">一年+6个月</option>
                        <option value="19">一年+7个月</option>
                        <option value="20">一年+8个月</option>
                        <option value="21">一年+9个月</option>
                        <option value="22">一年+10个月</option>
                        <option value="23">一年+11个月</option>
                        <option value="24">两年</option>
                      </select>
                    </td>
                    <td valign="top" style="word-break: break-all;">
                      <select  id="collect_time" title="招募时间" style="text-align: left; width: 70px;">
                        <option value="1">1天</option>
                        <option value="2">2天</option>
                        <option value="3">3天</option>
                        <option value="4">4天</option>
                        <option value="5">5天</option>
                        <option value="6">6天</option>
                        <option value="7">7天</option>
                        <option value="8">8天</option>
                        <option value="9">9天</option>
                        <option value="10">10天</option>
                        <option value="11">11天</option>
                        <option value="12">12天</option>
                        <option value="13">13天</option>
                        <option value="14">14天</option>
                        <option value="15">15天</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td valign="top" colspan="2" rowspan="1" style="word-break: break-all;">
                      借款用途
                      <br/>
                    </td>
                    <td width="233" valign="top"></td>
                  </tr>
                  <tr>
                    <td valign="top" colspan="3" rowspan="1">
                      <textarea title="借款用途(50字以内)" id="s_borrow_use" name="borrow_use" leipiplugins="textarea" placeholder="借款用途(50字以内)" value="" orgrich="0" orgfontsize="" orgwidth="300" orgheight="80" style="width: 720px; height: 80px; margin: 0px;"></textarea>
                      <span class="fred" id="t_borrow_use"></span>
                    </td>
                  </tr>
                  <tr>
                    <td valign="top" colspan="2" rowspan="1" style="word-break: break-all;padding-top: 10px;">还款方式</td>
                    <td valign="top" colspan="1" rowspan="1"></td>
                  </tr>
                  <tr>
                    <td valign="top" colspan="3" rowspan="1">
                      <select name="repayment_type" id="repayment_type">
                        <option value="">请选择</option>
                        <option value="5">等额本息</option>
                        <option value="6">先息后本</option>
                        <option value="7">一次性还款</option>
                      </select>
                    </td>
                  </tr>
                  <tr id="bmfw">
                    <td valign="top" colspan="2" rowspan="1" style="word-break: break-all;">
                      最低投资金额
                      <br/>
                    </td>
                    <td valign="top" colspan="1" rowspan="1" style="word-break: break-all;">最高投资金额</td>
                  </tr>
                  <tr id="bmfw1">
                    <td valign="top" colspan="2" rowspan="1">
                      <input name="borrow_min" id="s_borrow_min" type="text" title="最低" onkeyup="if(/\D/.test(this.value)){layer.msg('只能输入数字');this.value='';}" leipiplugins="text" orghide="0" orgalign="left" orgwidth="150" orgtype="text" style="text-align: left; width: 150px;"/>
                      元
                      <span class="fred"></span>
                    </td>
                    <td valign="top" colspan="1" rowspan="1">
                      <input name="borrow_max" id="s_borrow_max" type="text" title="最高" onkeyup="if(/\D/.test(this.value)){layer.msg('只能输入数字');this.value='';}" leipiplugins="text" orghide="0" orgalign="left" orgwidth="150" orgtype="text" style="text-align: left; width: 150px;"/>
                      元
                    </td>
                  </tr>

                  <tr>
                    <td valign="top" colspan="2" rowspan="1" style="word-break: break-all;padding-top: 10px;">
                      项目介绍
                      <br/>
                    </td>
                    <td valign="top" colspan="1" rowspan="1"></td>
                  </tr>
                  <tr>
                    <td valign="top" colspan="3" rowspan="1">
                      <textarea title="吸引投资者的项目说明（100字以内）" id="borrow_info" leipiplugins="textarea" placeholder="吸引投资者的项目说明（100字以内）" value="" orgrich="0" orgfontsize="" orgwidth="300" orgheight="80" style="width: 720px; height: 80px; margin: 0px;"></textarea>
                    </td>
                  </tr>
                  <tr>
                    <td valign="top" colspan="2" rowspan="1" style="word-break: break-all;padding-top: 10px;">
                      上传必要审核的文件（目前仅支持jpg，png两种格式）
                      <br/>
                    </td>
                    <td valign="top" colspan="1" rowspan="1"></td>
                  </tr>
                  <tr>
                    <td valign="top" colspan="3" rowspan="1">

                      <div id="demo" class="demo"></div>

                    </td>
                  </tr>
                  <tr>
                    <td valign="top" colspan="1" rowspan="1">&nbsp;</td>
                    <td valign="top" colspan="1" rowspan="1">&nbsp;</td>
                    <td valign="top" colspan="1" rowspan="1">&nbsp;</td>
                  </tr>
                  <tr>
                    <td valign="top" colspan="1" rowspan="1">&nbsp;</td>
                    <td valign="top" colspan="1" rowspan="1">
                      <input  type="submit" class="borrow_btn" value="保存发布"></td>
                    <td valign="top" colspan="1" rowspan="1">&nbsp;</td>
                  </tr>
                </table>
              </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--content end-->

  <script src="d3.min.js"></script>
  <script src="jquery.min.js"></script>
  <script src="triangloid.js"></script>

<script type="text/javascript">
function check(){
  var borrow_type=$('#b_type').val();
  var s_borrow_name=$('#s_borrow_name').val();
  var s_borrow_money=$('#s_borrow_money').val();
  var title0=$('#title0').val();
  var collect_day=$('#collect_days').val();
  var collect_time=$('#collect_time').val();
  var s_borrow_use=$('#s_borrow_use').val();
  var repayment_type=$('#repayment_type').val();
  var s_borrow_min=$('#s_borrow_min').val();
  var s_borrow_max=$('#s_borrow_max').val();
  var borrow_info=$('#borrow_info').val();
  var borrow_name = new RegExp("[`~!@#$^&*()=|{}':;',\\[\\].<>/?~！@#￥……&*（）——|{}【】‘；：”“'。，、？]");
  var borrow_m= new RegExp("[0-9]");
  if (s_borrow_name==''){
    $('#s_borrow_name').focus();
    document.getElementById("s_borrow_name").style.borderColor = "red";
    layer.msg('请输入借款标题',{icon:0});
    return false;
  }else{
    if(borrow_name.test(s_borrow_name)){
      $('#s_borrow_name').focus();
      document.getElementById("s_borrow_name").style.borderColor = "red";
      layer.msg('借款标题不能有特殊字符！',{icon:0});
      return false;
    }else{
        document.getElementById("s_borrow_name").style.borderColor = "green";
        if(s_borrow_money<1000){
            $('#s_borrow_money').focus();
            document.getElementById("s_borrow_money").style.borderColor = "red";
            layer.msg('借款金额大于1000以上',{icon:0});
            return false;
        }else{
          document.getElementById("s_borrow_money").style.borderColor = "green";
          if (title0==0 ||title0<=10||title0>=18){
              $('#title0').focus();
              document.getElementById("title0").style.borderColor = "red";
              layer.msg('你输入的借款利率超出范围（10%~18%）',{icon:0});
              return false;
          }else{
            document.getElementById("title0").style.borderColor = "green";
            document.getElementById("collect_days").style.borderColor = "orange";
            document.getElementById("collect_time").style.borderColor = "orange";
            if(s_borrow_use==''){
                $('#s_borrow_use').focus();
                document.getElementById("s_borrow_use").style.borderColor = "red";
                layer.msg('请输入借款说明（50字以内）',{icon:0});
                return false;
            }else{
              if(s_borrow_use.length>50){
                $('#s_borrow_use').focus();
                document.getElementById("s_borrow_use").style.borderColor = "red";
                layer.msg('借款说明超出字数范围（50字以内）',{icon:0});
                return false;
              }else{
                document.getElementById("s_borrow_use").style.borderColor = "green";
                if(repayment_type==''){
                    $('#repayment_type').focus();
                    document.getElementById("repayment_type").style.borderColor = "red";
                    layer.msg('请选择还款方式',{icon:0});
                    return false;
                }else{
                  document.getElementById("repayment_type").style.borderColor = "green";
                  if(s_borrow_min<100){
                      $('#s_borrow_min').focus();
                      document.getElementById("s_borrow_min").style.borderColor = "red";
                      layer.msg('请输入最低投资金额！（大于100）',{icon:0});
                      return false;
                  }else{
                    document.getElementById("s_borrow_min").style.borderColor = "green";
                    if(s_borrow_max<100){
                          $('#s_borrow_max').focus();
                          document.getElementById("s_borrow_max").style.borderColor = "red";
                          layer.msg('请输入高投资金额！（大于100）',{icon:0});
                          return false;
                      }else{
                          document.getElementById("s_borrow_max").style.borderColor = "green";
                          if (borrow_info==''){
                              $('#borrow_info').focus();
                              document.getElementById("borrow_info").style.borderColor = "red";
                              layer.msg('请输入借款项目介绍（100字以内）',{icon:0});
                              return false;
                          }else{
                            document.getElementById("borrow_info").style.borderColor = "green";
                            if(borrow_info.length<90){
                                $('#borrow_info').focus();
                                document.getElementById('borrow_info').style.borderColor="red";
                                layer.msg('不能少于30字以上的借款说明！',{icon:0});
                                return false;
                            }else{
                              document.getElementById("borrow_info").style.borderColor = "green";
                              return true;
                          } 
                        }
                      }
                  }
                }
              }
            }
          }
        }
    }
  }
}
</script>
  <script>
    function senfe_id(sid){
      bmfw.style.display=sid;
      bmfw1.style.display=sid;
    }
</script>
  <script type="text/javascript">
scale = function (btn, bar, title) {
  this.btn = document.getElementById(btn);
  this.bar = document.getElementById(bar);
  this.title = document.getElementById(title);
  this.step = this.bar.getElementsByTagName("DIV")[0];
  this.init();
};
scale.prototype = {
  init: function () {
    var f = this, g = document, b = window, m = Math;
    f.btn.onmousedown = function (e) {
      var x = (e || b.event).clientX;
      var l = this.offsetLeft;
      var max = f.bar.offsetWidth - this.offsetWidth;
      g.onmousemove = function (e) {
        var thisX = (e || b.event).clientX;
        var to = m.min(max, m.max(-10, l + (thisX - x)));
        f.btn.style.left = to + 'px';
        f.ondrag(m.round(m.max(0, to / max) * 100), to);
        b.getSelection ? b.getSelection().removeAllRanges() : g.selection.empty();
      };
      g.onmouseup = new Function('this.onmousemove=null');
    };
  },
  ondrag: function (pos, x) {
    this.step.style.width = Math.max(0, x) + 'px';
    var rval= pos / 1 + '';
    $("#title0").val(rval);
  }
}
new scale('btn0', 'bar0', 'title0');
new scale('btn1', 'bar1', 'title1');
new scale('btn2', 'bar2', 'title2');
new scale('btn3', 'bar3', 'title3');
new scale('btn4', 'bar4', 'title4');
</script>
</block>