<block name="body"> <extend name="Base/common" /> <block
	name="body">
<div class="sqjk_cont_out">
	<div class="sqjk_cont">
		<div class="sqjk_cont_top">
			<h2>借款流程</h2>
			<div class="sqjk_pic">
				<img src="__PUBLIC__/Home/images/jklc.png" width="1000" height="374" />
			</div>
		</div>
		
		<!--sqjk_cont_cen 开始-->
		<div class="sqjk_cont_cen">
			<dl>
				<dt><img src="__PUBLIC__/Home/images/zrtj.png"/></dt>
				<dd>
					<ul class="zrtj">
						<li>在深圳居住6个月以上</li>
						<li>22-60周岁，大陆公民</li>
						<li>在深圳单位工作满6个月以上</li>
						<li>个人信用记录良好，无不良嗜好</li>
						<li>银行代发工资人民币4000元以上</li>
					</ul>
				</dd>
			</dl>
			<dl style="border-right: 0;float: right;">
				<dt><img src="__PUBLIC__/Home/images/sqzl.png"/></dt>
				<dd>
					<ul class="sqzl">
						<if condition="$file['identity_report'] eq 1">
							<li>身份证<img src="__PUBLIC__/Home/images/cont_bot_r_hover_ok.png"/></li>
						<else/>
							<li>身份证<a href="{:U('Borrow/borrowfile_upload')}"><img src="__PUBLIC__/Home/images/cont_bot_r_hover_no.png" title="点击上传"/></a></li>
						</if>
						<if condition="$file['credit_report'] eq 1">
							<li>征信证明<img src="__PUBLIC__/Home/images/cont_bot_r_hover_ok.png"/></li>
						<else/>
							<li>征信证明<a href="{:U('Borrow/borrowfile_upload')}"><img src="__PUBLIC__/Home/images/cont_bot_r_hover_no.png"title="点击上传"/></a></li>
						</if>
						<if condition="$file['work_report'] eq 1">
							<li>工作证明<img src="__PUBLIC__/Home/images/cont_bot_r_hover_ok.png"/></li>
						<else/>
							<li>工作证明<a href="{:U('Borrow/borrowfile_upload')}"><img src="__PUBLIC__/Home/images/cont_bot_r_hover_no.png" title="点击上传"/></a></li>
						</if>
						
						<if condition="$file['income_report'] eq 1">
							<li>收入证明<img src="__PUBLIC__/Home/images/cont_bot_r_hover_ok.png"/></li>
						<else/>
							<li>收入证明<a href="{:U('Borrow/borrowfile_upload')}"><img src="__PUBLIC__/Home/images/cont_bot_r_hover_no.png" title="点击上传"/></a></li>
						</if>
						<if condition="$file['living_report'] eq 1">
							<li>居住证明<img src="__PUBLIC__/Home/images/cont_bot_r_hover_ok.png"/></li>
						<else/>
							<li>居住证明<a href="{:U('Borrow/borrowfile_upload')}"><img src="__PUBLIC__/Home/images/cont_bot_r_hover_no.png" title="点击上传"/></a></li>
						</if>
						<if condition="$file['other_report'] eq 1">
							<li>辅助证明<img src="__PUBLIC__/Home/images/cont_bot_r_hover_ok.png"/></li>
						<else/>
							<li>辅助证明<a href="{:U('Borrow/borrowfile_upload')}"><img src="__PUBLIC__/Home/images/cont_bot_r_hover_no.png" title="点击上传"/></a></li>
						</if>
					</ul>
				</dd>
			</dl>
		</div>
		<!--sqjk_cont_cen 结束-->
		
		<!--sqjk_cont_bot 开始-->
		<div class="sqjk_cont_bot">
			<div class="sqjk_cont_foucs">
				<dl>
					<dt>借款须知</dt>
					<dd>
						1．仅适用于非VIP会员用于提交借款意向，非正式借款申<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;请。
					</dd>
					<dd>
						2．提交后工合或担保机构进行初步审核，并可能与您本人沟<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;通，出具受理意见,但在您成为VIP会员之前不会在本网站<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;发布您的借款标。
					</dd>
					<dd>
						3．工合或担保机构进行审核后，并与您本人沟通，出具受理<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;意见，会在本网站发布您的借款标，并呈现具体借款的详<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;情附带资料。
					</dd>				
					<dd><a href="{:U('Borrow/borrowfile_upload')}"><img src="__PUBLIC__/Home/images/sqzldown.png"/></a></dd>				
				</dl>
				<p style="background: #f3a616 url(__PUBLIC__/Home/images/warning.png) no-repeat 5px center; color: #fff; padding-left: 40px; width: 88%;line-height: 32px;">您必须成为VIP会员后，才能提交正式借款申请。</p>
			</div>
			
			<div class="tjsqjk" onload="setup();preselect('陕西省');promptinfo();">
			<form action="{:U('borrowapply_save')}" method="post">
				<h2>借款意向</h2>
				<dl>
					<dt>姓名</dt>
					<dd>
						<input type="text" name="username" class="txt" />
					</dd>
				</dl>
				<dl>
					<dt>联系电话</dt>
					<dd>
						<input type="text" name="tel" class="txt" />
					</dd>
				</dl>
				<dl>
					<dt>身份证号码</dt>
					<dd>
						<input type="text" name="id_card" class="txt" />
					</dd>
				</dl>
				<dl>
					<dt>借款金额</dt>
					<dd>
						<input type="text" name="borrow_money" class="txt" />
					</dd>
				</dl>
				<dl>
					<dt>借款类型</dt>
					<dd>
						<select class="borrow" name="borrow_type">
							<option selected="selected">---请选择---</option>
							<option value="1">信用标</option>
							<option value="2">净值标</option>
							<option value="3">秒还标</option>
							<option value="4">担保标</option>
							<option value="5">抵押标</option>
							<option value="6">实地考察标</option>
						</select>
					</dd>
				</dl>
				<dl>
					<dt>借款期限</dt>
					<dd>
						<input type="text" name="borrow_duration" class="txt2" /> 
						<select class="date" name="time_type">
							<option value="1">年</option>
							<option value="2">月</option>
							<option value="3">日</option>
						</select>
					</dd>
				</dl>
				<dl>
					<dt>所在地区</dt>
					<dd>
						<select class="select" name="province" id="s1">
							<option></option>
						</select>
						<select class="select" name="city" id="s2">
							<option></option>
						</select>
						<select class="select" name="town" id="s3">
							<option></option>
						</select>
						
					</dd>
				</dl>
				<dl>
					<dt>借款说明</dt>
					<dd>
						<textarea name="borrow_info"></textarea>
					</dd>
				</dl>
					<input type="submit" class="btn" value="提交申请" />
				</form>
			</div>
		</div>
		<!--sqjk_cont_bot 结束-->

	</div>
</div>
<body onload="setup();preselect('广东省');promptinfo();">     
</body>
</block>