<block name="body">
<extend name="Base/common"/>
<block name="body">
    <!--content start-->
    <div class="zh_cont_out">
      <div class="zh_cont">
            <include file="Public/borrowleft"/>
            <div class="zh_cont_r" style="width: 920px;">
              <form action="{:U('circulation_save?id='.$type)}" method="post" enctype="multipart/form-data">
                  <div class="r-main" style="border: none;">
              <!-- <div class="til01"> -->
              <div class="til01">
                <ul id="ul">
                  <li style="font-size:18px;width:918px;height: 50px;padding: 0;overflow: hidden;border: 1px solid #ddd;background: #fff;"><h3 style="height: 50px;line-height: 50px;width: 690px;float: left;border: 0;">当前位置 > <b style="color: red;font-weight: normal;">发布贷款</b></h3><span style="color: red;font-size: 20px; padding:0 40px;float: right;line-height: 50px;">{$type|get_borrow_type_name}</span></li>
                </ul>
              </div>
                <!-- <ul id="ul"><li><span class="fred"><s:fielderror fieldName="enough"></s:fielderror></span></li></ul>
              </div> -->
              
              <div class="rmainbox" style="background: #fff;border: 1px solid #ddd;margin-top: 10px;height: 1062px;">
                <p class="tips"><span class="fred">*</span> 为必填项，所有资料均会严格保密。 </p>
                <div class="tab">
<!-- 分割线 -->
        <table>
        <tr>
            <td valign="top" colspan="2" rowspan="1">
                借款标题
            </td>
            <td valign="top" style="word-break: break-all;">
                金额
            </td>
            <td valign="top" style="word-break: break-all;">
                
            </td>
        </tr>
        <tr>
            <td valign="top" colspan="2" rowspan="1">
                <input name="borrow_name" id="s_borrow_name" type="text" title="借款标题" value="" leipiplugins="text" orghide="0" orgalign="left" orgwidth="150" orgtype="text" style="text-align: left; width: 340px;"/> <span class="fred" id="t_borrow_name"></span>
            </td>
            <td width="233" valign="top">
                <input name="borrow_money"id="s_borrow_money" type="text" title="金额" value="" leipiplugins="text" orghide="0" orgalign="left" orgwidth="150" orgtype="text" style="text-align: left; width: 150px;"/><span class="fred" id="t_borrow_money"></span>
            </td>
            <td width="100" valign="top" style="word-break: break-all;">
                
            </td>
        </tr>
        <tr>
            <td valign="top" colspan="2" rowspan="1">
                年化率
            </td>
            <td  valign="top" style="word-break: break-all;">
                借款期限
            </td>
            <td valign="top" style="word-break: break-all;">
                招募时间
            </td>
        </tr>
        <tr>
            <td valign="top" colspan="2" rowspan="1" style="word-break: break-all;">
               
                <div class="User_ratings User_grade" id="div_fraction0">
                      <div class="ratings_bars"> 
                        <!-- <span id="title0">0</span> -->
                        <span class="bars_10" style="display:none;">0</span>
                        <div class="scale" id="bar0">
                          <div></div>
                          <span id="btn0"></span>
                        </div>
                        <span class="bars_10" style="display:none;">100</span><input name="borrow_interest_rate" id="title0" type="text" title="年化率" value="0"  leipiplugins="text" orghide="0" orgalign="left" orgwidth="150" orgtype="text" style="text-align: left; width: 30px;"/><span class="span" >%</span>
                      </div>
                    </div>
            </td>
            <td rowspan="1" valign="top" align="null"  style="word-break: break-all;">
                <input name="borrow_duration"id="s_borrow_money" type="text" title="借款期限" value="" leipiplugins="text" orghide="0" orgalign="left" orgwidth="150" orgtype="text" style="text-align: left; width: 100px;"/>月<span class="fred" id="t_borrow_money"></span>
            </td>
            <td valign="top" style="word-break: break-all;">
                <input name="collect_day"id="s_borrow_money" type="text" title="招募时间" value="" leipiplugins="text" orghide="0" orgalign="left" orgwidth="150" orgtype="text" style="text-align: left; width: 50px;"/>天
            </td>
        </tr>
        <tr>
            <td valign="top" colspan="2" rowspan="1" style="word-break: break-all;">
                借款用途<br/>
            </td>
            <td width="233" valign="top"></td>
        </tr>
        <tr>
            <td valign="top" colspan="3" rowspan="1">
                <textarea title="借款用途" id="s_borrow_use" name="borrow_use" leipiplugins="textarea" placeholder="借款用途" value="" orgrich="0" orgfontsize="" orgwidth="300" orgheight="80" style="width: 720px; height: 80px; margin: 0px;"></textarea><span class="fred" id="t_borrow_use"></span>
            </td>
        </tr>
        <tr>
            <td valign="top" colspan="2" rowspan="1" style="word-break: break-all;padding-top: 10px;">
                还款方式
            </td>
            <td valign="top" colspan="1" rowspan="1"></td>
        </tr>
        <tr>
            <td valign="top" colspan="3" rowspan="1">
                <span leipiplugins="radios" title="还款方式" name="repayment_type"><!-- <input name="repayment_type" value="1" type="radio" checked/>按天到期还款&nbsp;<input name="repayment_type" value="2" type="radio"/>按月分期还款&nbsp;<input name="repayment_type" value="3" type="radio"/>按季分期还款&nbsp;<input name="repayment_type" value="4" type="radio"/>每月还息到期还本&nbsp; --><input name="repayment_type" value="5" type="radio"/>等额本息&nbsp;<input name="repayment_type" value="6" type="radio"/>先息后本&nbsp;<input name="repayment_type" value="7" type="radio"/>一次性还款&nbsp;</span>
            </td>
        </tr>
        <tr>
            <td valign="top" colspan="2" rowspan="1" style="word-break: break-all;padding-top: 10px;">
                投资金额范围
            </td>
            <td valign="top" colspan="1" rowspan="1"></td>
        </tr>
        <script>
        function senfe_id(sid){
        bmfw.style.display=sid;
        bmfw1.style.display=sid;
        }
        </script>
        <tr>
            <td valign="top" colspan="2" rowspan="1">
                <span leipiplugins="radios" title="投资金额范围" name="leipiNewField"><input name="radio_bmfw"  value="1" type="radio" onchange="senfe_id('');"/>开启&nbsp;<input name="radio_bmfw" value="0" type="radio"  onchange="senfe_id('none');" checked />关闭(默认)&nbsp;</span>
            </td>
            <td valign="top" colspan="1" rowspan="1"></td>
        </tr>
        <tr id="bmfw" style="display:none;">
            <td valign="top" colspan="2" rowspan="1" style="word-break: break-all;">
                最低投资金额<br/>
            </td>
            <td valign="top" colspan="1" rowspan="1" style="word-break: break-all;">
                最高投资金额
            </td>
        </tr>
        <tr id="bmfw1" style="display:none;">
            <td valign="top" colspan="2" rowspan="1">
                <input name="borrow_min" id="s_borrow_min" type="text" title="最低" value="" leipiplugins="text" orghide="0" orgalign="left" orgwidth="150" orgtype="text" style="text-align: left; width: 150px;"/>元<span class="fred"></span>
            </td>
            <td valign="top" colspan="1" rowspan="1">
                <input name="borrow_max" id="s_borrow_max" type="text" title="最高" value="" leipiplugins="text" orghide="0" orgalign="left" orgwidth="150" orgtype="text" style="text-align: left; width: 150px;"/>元<span class="fred"></span>
            </td>
        </tr>
        
        <tr>
            <td valign="top" colspan="2" rowspan="1" style="word-break: break-all;padding-top: 10px;">
                项目介绍<br/>
            </td>
            <td valign="top" colspan="1" rowspan="1"></td>
        </tr>
        <tr>
            <td valign="top" colspan="3" rowspan="1">
                <textarea title="项目说明" name="borrow_info" leipiplugins="textarea" value="" placeholder="吸引投资者的项目说明" orgrich="0" orgfontsize="" orgwidth="300" orgheight="80" style="width: 719px; height: 90px; margin: 0px;"></textarea><span class="fred"></span>
            </td>
        </tr>
        <tr>
            <td valign="top" colspan="2" rowspan="1" style="word-break: break-all;padding-top: 10px;">
                上传必要审核的文件（目前仅支持jpg，png两种格式）<br/>
            </td>
            <td valign="top" colspan="1" rowspan="1"></td>
        </tr>
        <tr>
            <td valign="top" colspan="3" rowspan="1">
                
                <div id="demo" class="demo"></div>   
                <!-- <div class="img_add">
                <a href="javascript:void(0);" id="test2">+项目认证资料</a>
                </div> -->
            </td>
        </tr>
        <tr>
            <td valign="top" colspan="1" rowspan="1">&nbsp;</td>
            <td valign="top" colspan="1" rowspan="1">&nbsp;</td>
            <td valign="top" colspan="1" rowspan="1">&nbsp;</td>
        </tr>
        <tr>
            <td valign="top" colspan="1" rowspan="1">&nbsp;</td>
            <td valign="top" colspan="1" rowspan="1"><input  type="submit" class="bcbtn" value="保存发布" style="width:88px;background: #0597D9;border-radius:2px ;color:#fff ;"></td>
            <td valign="top" colspan="1" rowspan="1">&nbsp;</td>
        </tr>
</table>


                <!-- 分割线 -->
                  
    </div>
    </div>
    </div>
              </form>
            </div>
            </div>
        </div>
    </div>

  <!--content end-->
      
  <script src="d3.min.js"></script>
  <script src="jquery.min.js"></script>
  <script src="triangloid.js"></script>
  
 
<script type="text/javascript">
//不能为空
  $("#s_borrow_name").blur(function() {
    if ($("#s_borrow_name").val() == "") {
      $("#t_borrow_name").html("*不能为空");
    } else {
      checkRegister();
    }
  });
  $("#s_borrow_money").blur(function() {
    if ($("#s_borrow_money").val() == "") {
      $("#t_borrow_money").html("*不能为空");
    } else {
      checkRegister();
    }
  });
  $("#s_borrow_interest_rate").blur(function() {
    if ($("#s_borrow_interest_rate").val() == "") {
      $("#t_borrow_interest_rate").html("*不能为空");
    } else {
      checkRegister();
    }
  });
  $("#s_collect_day").blur(function() {
    if ($("#s_collect_day").val() == "") {
      $("#t_collect_day").html("*不能为空");
    } else {
      checkRegister();
    }
  });
</script>

<script type="text/javascript">
  $(function(){
    
    $('#pid').change(function(event) {
                var txt=$(this).val();
                if(txt!=0){
                 if(txt==1)
                 {
                     alert('你选择了房产证');
                 }
                 else if(txt==2)
                 {
                     alert('你选择了担保凭证');
                 }
                 else if(txt==3)
                 {
                     alert('你选择了抵押凭证');
                 }
                 else
                 {
                     alert('你选择了驾照');
                 }
            
                 $('.yscfile').show();
                }
            });
    
    
  })
</script>
<script>
  // $('#test2')
  //     .on(
  //         'click',
  //         function() {
  //           // layer.msg('正在施工，无法更换')
  //           $.layer({
  //                 type : 1,
  //                 title : [ '图片上传',
  //                     'background:#2B2E37; height:40px; color:#fff; border:none;' //自定义标题样式
  //                 ], //不显示默认标题栏
  //                 offset : [ '250px', '' ],
  //                 shade : [ 1 ], //不显示遮罩
  //                 area : [ '260px', '100px' ],
  //                 page : {
  //                   html : '<form action="__URL__/upload" enctype="multipart/form-data" method="post"><input type="file"  name="filename" value=""><input  type="submit"  value="上传"></from>'
  //                 },
  //               });
  //         });


            $('#test2').on('click',function() {
                    $.layer({
                    type: 2,
                    shade: [0],
                    fix: false,
                    title: [ '图片上传','background:#4AC0FF; height:40px; color:#fff; border:none;'],
                    maxmin: true,
                    iframe: {src : 'iframe.html'},
                    area: ['800px' , '440px'],
                    close: function(index){
                        layer.msg('您获得了子窗口标记：' + layer.getChildFrame('#name', index).val(),3,1);
                    }
                }); 
            });
</script>
<script type="text/javascript">
scale = function (btn, bar, title) {
  this.btn = document.getElementById(btn);
  this.bar = document.getElementById(bar);
  this.title = document.getElementById(title);
  this.step = this.bar.getElementsByTagName("DIV")[0];
  this.init();
};
scale.prototype = {
  init: function () {
    var f = this, g = document, b = window, m = Math;
    f.btn.onmousedown = function (e) {
      var x = (e || b.event).clientX;
      var l = this.offsetLeft;
      var max = f.bar.offsetWidth - this.offsetWidth;
      g.onmousemove = function (e) {
        var thisX = (e || b.event).clientX;
        var to = m.min(max, m.max(-10, l + (thisX - x)));
        f.btn.style.left = to + 'px';
        f.ondrag(m.round(m.max(0, to / max) * 100), to);
        b.getSelection ? b.getSelection().removeAllRanges() : g.selection.empty();
      };
      g.onmouseup = new Function('this.onmousemove=null');
    };
  },
  ondrag: function (pos, x) {
    this.step.style.width = Math.max(0, x) + 'px';
    // this.title.innerHTML = pos / 1 + '';
    var rval= pos / 1 + '';
    $("#title0").val(rval);
  }
}
new scale('btn0', 'bar0', 'title0');
new scale('btn1', 'bar1', 'title1');
new scale('btn2', 'bar2', 'title2');
new scale('btn3', 'bar3', 'title3');
new scale('btn4', 'bar4', 'title4');
</script>
</block>