<block name="body"> <extend name="Base/common" /> <block
	name="body">
<div class="sqjk_cont_out">
	<div class="sqjk_cont">
		<div class="sqjk_cont_top">
			<h2>借款流程</h2>
			<div class="sqjk_pic">
				<img src="__PUBLIC__/Home/images/jklc.png" width="1000" height="374" />
			</div>
		</div>
		
		<!--sqjk_cont_cen 开始-->
		<div class="sqjk_cont_cen">
			<dl>
				<dt><img src="__PUBLIC__/Home/images/zrtj.png"/></dt>
				<dd>
					<ul class="zrtj">
						<li>在深圳居住6个月以上</li>
						<li>22-60周岁，大陆公民</li>
						<li>在深圳单位工作满6个月以上</li>
						<li>个人信用记录良好，无不良嗜好</li>
						<li>银行代发工资人民币4000元以上</li>
					</ul>
				</dd>
			</dl>
			<dl style="border-right: 0;float: right;">
				<dt><img src="__PUBLIC__/Home/images/sqzl.png"/></dt>
				<dd>
					<ul class="sqzl">
						<if condition="$file['identity_report'] eq 1">
							<li><span>身份证明</span><span><img src="__PUBLIC__/Home/images/cont_bot_r_hover_ok.png"/></span></li>
						<else/>
							<li><span>身份证明</span><span><a href="{:U('Borrow/borrowfile_upload')}"><img src="__PUBLIC__/Home/images/cont_bot_r_hover_no.png" title="点击上传"/></a></span></li>
						</if>
						<if condition="$file['credit_report'] eq 1">
							<li><span>征信证明</span><span><img src="__PUBLIC__/Home/images/cont_bot_r_hover_ok.png"/></span></li>
						<else/>
							<li><span>征信证明</span><span><a href="{:U('Borrow/borrowfile_upload')}"><img src="__PUBLIC__/Home/images/cont_bot_r_hover_no.png"title="点击上传"/></a></span></li>
						</if>
						<if condition="$file['work_report'] eq 1">
							<li><span>工作证明</span><span><img src="__PUBLIC__/Home/images/cont_bot_r_hover_ok.png"/></span></li>
						<else/>
							<li><span>工作证明</span><span><a href="{:U('Borrow/borrowfile_upload')}"><img src="__PUBLIC__/Home/images/cont_bot_r_hover_no.png" title="点击上传"/></a></span></li>
						</if>
						
						<if condition="$file['income_report'] eq 1">
							<li><span>收入证明</span><span><img src="__PUBLIC__/Home/images/cont_bot_r_hover_ok.png"/></span></li>
						<else/>
							<li><span>收入证明</span><span><a href="{:U('Borrow/borrowfile_upload')}"><img src="__PUBLIC__/Home/images/cont_bot_r_hover_no.png" title="点击上传"/></a></span></li>
						</if>
						<if condition="$file['living_report'] eq 1">
							<li><span>居住证明</span><span><img src="__PUBLIC__/Home/images/cont_bot_r_hover_ok.png"/></li>
						<else/>
							<li><span>居住证明</span><span><a href="{:U('Borrow/borrowfile_upload')}"><img src="__PUBLIC__/Home/images/cont_bot_r_hover_no.png" title="点击上传"/></a></span></li>
						</if>
						<if condition="$file['other_report'] eq 1">
							<li><span>辅助证明</span><span><img src="__PUBLIC__/Home/images/cont_bot_r_hover_ok.png"/></li>
						<else/>
							<li><span>辅助证明</span><span><a href="{:U('Borrow/borrowfile_upload')}"><img src="__PUBLIC__/Home/images/cont_bot_r_hover_no.png" title="点击上传"/></a></span></li>
						</if>
					</ul>
				</dd>
			</dl>
		</div>
		<!--sqjk_cont_cen 结束-->
		
		<!--sqjk_cont_bot 开始-->
		<div class="sqjk_cont_bot">
			<div class="sqjk_cont_foucs">
				<dl>
					<dt>借款须知</dt>
					<dd>
						1．仅适用于非VIP会员用于提交借款意向，非正式借款申<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;请。
					</dd>
					<dd>
						2．提交后工合或担保机构进行初步审核，并可能与您本人沟<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;通，出具受理意见,但在您成为VIP会员之前不会在本网站<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;发布您的借款标。
					</dd>
					<dd>
						3．工合或担保机构进行审核后，并与您本人沟通，出具受理<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;意见，会在本网站发布您的借款标，并呈现具体借款的详<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;情附带资料。
					</dd>				
					<dd><a href="{:U('Borrow/borrowfile_upload')}"><img src="__PUBLIC__/Home/images/sqzldown.png"/></a></dd>				
				</dl>
				<p style="background: #f3a616 url(__PUBLIC__/Home/images/warning.png) no-repeat 5px center; color: #fff; padding-left: 40px; width: 88%;line-height: 32px;">您必须成为VIP会员后，才能提交正式借款申请。</p>
			</div>
			
			<div class="tjsqjk" onload="setup();preselect('陕西省');promptinfo();">
				<h2>借款意向</h2>
				<dl>
					<dt><b style="color:red">*</b>姓名</dt>
					<dd>
						<input type="text" id="uname" class="txt"  />
					</dd>
				</dl>
				<dl>
					<dt><b style="color:red">*</b>手机号码 </dt>
					<dd>
						<input type="text" id="phone_num"class="txt" />
					</dd>
				</dl>
				<dl>
					<dt><b style="color:red">*</b>借款金额</dt>
					<dd>
						<input type="text"  id="borrow_money" class="txt" />
					</dd>
				</dl>
				<dl>
					<dt>借款类型</dt>
					<dd>
						<select class="borrow" id="borrow_type" />
							<option selected="selected" value="">---请选择---</option>
							<option value="1">信用标</option>
							<option value="2">净值标</option>
							<option value="3">秒还标</option>
							<option value="4">担保标</option>
							<option value="5">抵押标</option>
							<option value="6">实地考察标</option>
						</select>
					</dd>
				</dl>
				<dl>
					<dt><b style="color:red">*</b>借款年利率：</dt>
					<dd valign="top" colspan="2" rowspan="1" style="word-break: break-all;">
                	<div class="User_ratings User_grade" id="div_fraction0">
                      <div class="ratings_bars"> 
                        <span class="bars_10" style="display:none;">0</span>
                        <div class="scale" id="bar0">
                          <div></div>
                          <span id="btn0"></span>
                        </div>
                        <span class="bars_10" style="display:none;">100</span><input name="borrow_interest_rate" id="title0" type="text" title="年化率" value="0"  leipiplugins="text" orghide="0" orgalign="left" orgwidth="150" orgtype="text" style="text-align: left; width: 30px;"/><span class="span" >%</span>
                      </div>
                    </div>
					</dd>
				</dl>
				<dl>
					<dt>借款期限</dt>
					<dd>						
						<select id="day_time">
							<option value="" checked>请选择</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
							<option value="16">16</option>
							<option value="17">17</option>
							<option value="18">18</option>
							<option value="19">19</option>
							<option value="20">20</option>
							<option value="21">21</option>
							<option value="22">22</option>
							<option value="23">23</option>
							<option value="24">24</option>
							<option value="25">25</option>
							<option value="26">26</option>
							<option value="27">27</option>
							<option value="28">28</option>
							<option value="29">29</option>
							<option value="30">30</option>
						</select>
						<select  style="display:none" id="month_time">
							<option value="" checked>请选择</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
						</select>
						<select  style="display:none" id="year_time">
							<option value="" checked>请选择</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
						</select>

						<select class="date" id="time_type" >
							<option value="3" id="c_days">日</option>
							<option value="2" id="c_month">月</option>
							<option value="1" id="c_year" >年</option>
						</select>
					</dd>
				</dl>
				<dl>
					<dt>所在地区</dt>
					<dd>
						<select class="select" name="province" id="s1" style="width: 25%;">
							<option></option>
						</select>
						<select class="select" name="city" id="s2" style="width: 33%;">
							<option></option>
						</select>
						<select class="select" name="town" id="s3" >
							<option></option>
						</select>
						
					</dd>
				</dl>
				<dl>
					<dt> <b style="color:red">*</b>借款说明</dt>
					<dd>
						<textarea id="borrow_info"></textarea>
					</dd>
				</dl>
				<p style="color: orange; padding-left: 40px; width: 88%;line-height: 32px;margin: 10px 0;text-align: center;">带<b style="color:red;"> * </b>号为必填项，申请资料提交后将不能修改！</p>
					<input type="button" class="btn" id="apply_btn" value="提交申请" />
				
			</div>
		</div>
		<!--sqjk_cont_bot 结束-->

	</div>
</div>
<body onload="setup();preselect('广东省');promptinfo();">     
</body>
<script type="text/javascript">
   $('#apply_btn').click(function(){
   		var uname=$('#uname').val().replace(/(^\s*)|(\s*$)/g, "");
		var phone_num=$('#phone_num').val().replace(/(^\s*)|(\s*$)/g, "");
		var borrow_money=$('#borrow_money').val().replace(/(^\s*)|(\s*$)/g, "");
		var borrow_type=$('#borrow_type').val().replace(/(^\s*)|(\s*$)/g, "");
		var title0=$('#title0').val();
		var day_time=$('#day_time').val();
		var month_time=$('#month_time').val();
		var year_time=$('#year_time').val();
		var time_type=$('#time_type').val();
		var s1=$('#s1').val();
		var s2=$('#s2').val();
		var s3=$('#s3').val();
		var borrow_info=$('#borrow_info').val();
		var pattern = new RegExp("[`~!@#$^&*()=|{}':;',\\[\\].<>/?~！@#￥……&*（）——|{}【】‘；：”“'。，、？]"); 
		var phone = new RegExp("^[1]{1}[3,4,5,7,8]{1}[0-9]{9}$"); 
		var card=new RegExp("^[1-9]\d{5}[1-9]\d{3}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{4}$");
   		if (uname==''){
   			$('#uname').focus();
   			document.getElementById("uname").style.borderColor = "red";
   			layer.msg('请填写姓名！');
   		}else{
   			if (pattern.test(uname)) {
   				$('#uname').focus();
   				document.getElementById("uname").style.borderColor = "red";
				alert('姓名不能有特殊字符');
			}else{
				document.getElementById("uname").style.borderColor = "green";
	   			if (phone_num==''){
	   				$('#phone_num').focus();
	   				document.getElementById("phone_num").style.borderColor = "red";
	   				layer.msg('请填写联系方式');	
	   			}else{
	   				if (!phone.test(phone_num)){
	   					$('#phone_num').focus();
	   					document.getElementById("phone_num").style.borderColor = "red";
						layer.msg('手机号码格式不对！');
					}else{
						document.getElementById("phone_num").style.borderColor = "green";
		   				if(borrow_money==''){
		   					$('#borrow_money').focus();
		   					document.getElementById("borrow_money").style.borderColor = "red";
		   					layer.msg('请输入借款金额');
		   				}else{
		   					document.getElementById("borrow_money").style.borderColor = "green";
		   					if (borrow_type==''){
		   						$('#borrow_type').focus();
			   					document.getElementById("borrow_type").style.borderColor = "red";
			   					layer.msg('请选择借款类型');
		   					}else{
		   						document.getElementById("borrow_type").style.borderColor = "green";
		   						if(title0==0 ||title0<=10||title0>=18){
		   							$('#title0').focus();
				   					document.getElementById("title0").style.borderColor = "red";
				   					layer.msg('借款利率范围不正确（10%-18%）');
		   						}else{
		   							document.getElementById("title0").style.borderColor = "green";
		   							if (day_time==''){
					   					document.getElementById("day_time").style.borderColor = "red";
					   					layer.msg('请选择借款期限');
		   							}else{
		   								document.getElementById("day_time").style.borderColor = "green";
		   								if(s1==''||s2=='地级市'||s3=='市、县级市、县'){
		   									document.getElementById("s1").style.borderColor = "red";
		   									document.getElementById("s2").style.borderColor = "red";
		   									document.getElementById("s3").style.borderColor = "red";
					   						layer.msg('请选择所在地');
		   								}else{
		   									document.getElementById("s1").style.borderColor = "green";
		   									document.getElementById("s2").style.borderColor = "green";
		   									document.getElementById("s3").style.borderColor = "green";
		   									if(borrow_info==''){
		   										document.getElementById("borrow_info").style.borderColor = "red";
		   										layer.msg('请填写借款说明');
		   									}else{
		   										document.getElementById("borrow_info").style.borderColor = "green";
		   										var index = layer.load(1,{time: 7*1000});
		   										$.post('__ROOT__/Home/Borrow/borrowapply_save',{username:uname,
												tel:phone_num,borrow_money:borrow_money,
												borrow_type:borrow_type,borrow_interest_rate:title0,
												day_time:day_time,month_time:month_time,year_time:year_time,
												time_type:time_type,province:s1,city:s2,town:s3,borrow_info:borrow_info},
												function success(data){
													if(data.status){
														layer.alert(data.info);
														layer.closeAll('loading');
														location.reload(); 
													}else{
														layer.alert(data.info);
														layer.closeAll('loading');
													}
												});
		   									}
		   								}
		   							}	
		   						}
		   					}
		   				}
					}
	   			}
			}
   		}
   });
	$('#c_days').click(function(){
		document.getElementById('year_time').style.display="none";
		document.getElementById('month_time').style.display="none";
		document.getElementById('day_time').style.display="block";
	});
	$('#c_month').click(function(){
		document.getElementById('year_time').style.display="none";
		document.getElementById('month_time').style.display="block";
		document.getElementById('day_time').style.display="none";
	});
	$('#c_year').click(function(){
		document.getElementById('year_time').style.display="block";
		document.getElementById('month_time').style.display="none";
		document.getElementById('day_time').style.display="none";
	});		
</script>
<script type="text/javascript">
scale = function (btn, bar, title) {
  this.btn = document.getElementById(btn);
  this.bar = document.getElementById(bar);
  this.title = document.getElementById(title);
  this.step = this.bar.getElementsByTagName("DIV")[0];
  this.init();
};
scale.prototype = {
  init: function () {
    var f = this, g = document, b = window, m = Math;
    f.btn.onmousedown = function (e) {
      var x = (e || b.event).clientX;
      var l = this.offsetLeft;
      var max = f.bar.offsetWidth - this.offsetWidth;
      g.onmousemove = function (e) {
        var thisX = (e || b.event).clientX;
        var to = m.min(max, m.max(-10, l + (thisX - x)));
        f.btn.style.left = to + 'px';
        f.ondrag(m.round(m.max(0, to / max) * 100), to);
        b.getSelection ? b.getSelection().removeAllRanges() : g.selection.empty();
      };
      g.onmouseup = new Function('this.onmousemove=null');
    };
  },
  ondrag: function (pos, x) {
    this.step.style.width = Math.max(0, x) + 'px';
    // this.title.innerHTML = pos / 1 + '';
    var rval= pos / 1 + '';
    $("#title0").val(rval);
  }
}
new scale('btn0', 'bar0', 'title0');
new scale('btn1', 'bar1', 'title1');
new scale('btn2', 'bar2', 'title2');
new scale('btn3', 'bar3', 'title3');
new scale('btn4', 'bar4', 'title4');
</script>
</block>

