<block name="body">
<extend name="Base/common"/>
<block name="body">
<!--content start-->
	<div class="bdxq_cont_out">
    	<div class="bdxq_cont">
        	<h2>标的详情</h2>
            <dl>
          
           </dl>
        	
            <!--项目详情-->
            <div class="xmxq_out">
                <!--<div class="xmxq">
                    <h3>项目详情</h3><volist name="list3" id="vb">
                    <p>借款人用户名：<span>{$vb.borrow_uid|get_borrow_username}</span></p>
                    <p>借款标类型：<span>其他个人经营性贷款</span></p>
                    <p>借款说明：<span>{$vb.borrow_info}</span></p>
                    <p>借款用途：<span>{$vb.borrow_use}</span></p>
                    <p>还款来源：<span>营业收入</span></p></volist> 
                </div>-->
                <!--<div class="jyjl">
                    <h4>工合交易信用记录</h4>
                    <p>发布借款笔数：<span>3</span>笔</p>
                    <p>累计逾期次数：<span>0</span></p>
                    <p>成功借入笔数：<span>0</span>笔</p>
                    <p>当前是否有逾期：<span>无</span></p>
                    <p>累计借入总额：<span>￥0.00</span></p>
                    <p>当前逾期待还金额：<span>0.00</span></p>
                </div>-->
                <table border="0" cellspacing="0" cellpadding="0" class="jyjl_table">
                	<tr style="border-left: 1px solid #fff;">
                		<th>工合交易信用记录</th>
                	</tr>
                	<tr>
                		<td>发布借款笔数</td>
                		<td>累计逾期次数</td>
                		<td>成功借入笔数</td>
                		<td>当前是否有逾期</td>
                		<td>累计借入总额</td>
                		<td>当前逾期待还金额</td>
                	</tr>
                	<tr>
                		<td>{$bcount}</td>
                		<td>{$byuqi}</td>
                		<td>{$cgjiekuan}</td>
                		<td>{$byuqing}</td>
                		<td>{$cgmoney}</td>
                		<td>{$byuqimoney}</td>
                	</tr>
                </table>
            </div>
        	
            <!--审核-->
            
            <ul class="title">
                <li class="current">标的详情</li>
                <li>还款计划</li>
                <li>信息披露</li>
            </ul>
            <div class="sh">
                <!--<div class="tab">
                    <ul class="tit">
                        <li>审核项目</li>
                        <li>状态</li>
                        <li>通过时间</li>
                    </ul>
                	<volist name="status" id="value" key="k" empty="暂时没有数据">
	                    <ul class="con">	                    	
							<li>{$value}认证</li><li style="background:url(../../../../../Public/Home/images/pass_Bg.png) no-repeat center center">pass</li><li>2014-11-22</li>              
	                    </ul>
                    </volist>
                </div>-->
                <div class="tab">
                	<p style="width: 988px;padding: 10px 20px;line-height: 28px;">{$list3[0]['borrow_info']}</p>
                </div>
                <div class="tab" style="display:none">
	                <p style="line-height: 28px;padding-left: 10px;">此为计划表，还款日期以实际日期为准</p>
	                <ul class="tit2">
	                    <li>期次</li>
	                    <li>还款日期</li>
	                    <li>月还本息</li>
	                    <li>月还本金</li>
	                    <li>月还利息</li>
	                    <!-- <li>剩余还款</li>
	                    <li>还款状态</li> -->
	                </ul><p>&nbsp&nbsp&nbsp&nbsp&nbsp还款期数：总共&nbsp&nbsp<b style="color:red;text-decoration:underline;">{$num}</b>&nbsp&nbsp期</p>
	                <for start="0" end="$num" step="1" name="i" >
	                	<ul class="con2" style="height:53px;">
		                    <li>{$i+1}</li>
		                    <li>{$cons[$i+1]['repayment_time']|date='Y-m-d',###}</li>
		                    <li>￥:{$cons[$i+1]['allcapital']}</li>
		                    <li>￥:{$cons[$i+1]['capital']}</li>
		                    <li>￥:{$cons[$i+1]['interest']}</li>
		                    <!-- <li>￥:{$cons[$i+1]['remain_money']}</li>
		                    <li>待还</li> -->
	                	</ul>	                	
	                </for>  
            	</div>
            	<div class="tab" style="display:none">			
	                <ul class="con2" style="padding: 5px;width: 1018px;height:auto;">
	                	<div id="layer-photos-demo" class="layer-photos-demo">
	                	<volist name="updata" id="val" key='i'>
	                    <li style="width: 180px;padding: 10px 5px;height: 200px;">
	                    	<if condition=" $val['updata'] eq null">暂时没有数据
							<else/>
							
								<img src="/Uploads/User/{$val.updata}" layer-pid="{$i}" layer-src="/Uploads/User/{$val.updata}" width="200" height="130" />
								
							</if>
							
						</li></volist></div>
						<if condition="$files['card_img']  eq null">							
						<else/>
							<li style="width: 180px;padding: 10px 5px;height: 180px;"><img src="Uploads/User/{$files.card_img}" width="200" height="130" id="img_identiy" /></li>
						</if>
						<if condition="$files['card_back_img']  eq null">
						<else/>
							<li style="width: 180px;padding: 10px 5px;height: 180px;"><img src="Uploads/User/{$files.card_back_img}" width="200" height="130" id="img_identiy" /></li>
						</if>
						<if condition="$files['identity_report']  eq null">
						<else/>
							<li style="width: 180px;padding: 10px 5px;height: 180px;"><img src="Uploads/User/{$files.identity_report}" width="200" height="130" id="img_identiy" /></li>
						</if>
						<if condition="$files['work_report']  eq null">
						<else/>
							<li style="width: 180px;padding: 10px 5px;height: 180px;"><img src="Uploads/User/{$files.work_report}" width="200" height="130" id="img_identiy" /></li>
						</if>
						<if condition="$files['living_report']  eq null">
						<else/>
							<li style="width: 180px;padding: 10px 5px;height: 180px;"><img src="Uploads/User/{$files.living_report}" width="200" height="130" id="img_identiy" /></li>
						</if>
						<if condition="$files['credit_report']  eq null">
						<else/>
							<li style="width: 180px;padding: 10px 5px;height: 180px;"><img src="Uploads/User/{$files.credit_report}" width="200" height="130" id="img_identiy" /></li>
						</if>
						<if condition="$files['income_report']  eq null">
						<else/>
							<li style="width: 180px;padding: 10px 5px;height: 180px;"><img src="Uploads/User/{$files.income_report}" width="200" height="130" id="img_identiy" /></li>
						</if>
						<if condition="$files['other_report']  eq null">
						<else/>
							<li style="width: 180px;padding: 10px 5px;height: 180px;"><img src="Uploads/User/{$files.other_report}" width="200" height="130" id="img_identiy" /></li>
						</if>
	                </ul>                
            	</div>
            </div>
            
                
            
            
            
            <!--标的详情-->
            <!--<div class="bdxq">
            	<h4>标的详情</h4>
                <p>{$list3[0]['borrow_info']}</p>
            </div>-->
            
            <!--留言板-->
            <div class="message">
            	<h4>留言板</h4>
                <p>字数1~120之间</p>
                <textarea class="txta"></textarea>
                <div class="submit">
                	<a class="sub" href="#">提交</a>
                    <p>4489</p>
                    <input type="text" class="txt">
                    <p>验证码</p>
                </div>
            </div>
            
            <!--投资记录-->
            <div class="tzjl">
                <h4>投资记录</h4>
                <ul class="tit">
                	<li>投资人</li>
                    <li>投资利率</li>
                    <li>投资金额</li>
                    <li>投资时间</li>
                    <li>投资方式</li>
                    <li>状态</li>
                </ul>
                <volist name="list" id="vb">
                <ul class="con">
                	<li>{$vb.investor_uid|get_investor_username|hidestr=0,3}</li>
                    <li>{$vb['invest_fee']*1}%/年</li>
                    <li>{$vb.investor_capital}</li>
                    <li>{$vb.add_time|date='Y-m-d',###}</li>
                    <li>手动投标</li>
                    <li>已中标</li>
                </ul></volist>

                <ul class="tzjl_fy">
                    没有更多数据了
                	<!-- <li><</li>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>></li> -->
                </ul>
            </div>
        </div>
    </div>
	<!--content end-->
	
<script>
$.getJSON('/jquery/layer/test/photos.json', function(json){
    layer.photos({
        photos: json
    });
});	
//调用示例
layer.ready(function(){ //为了layer.ext.js加载完毕再执行
    layer.photos({
        photos: '#layer-photos-demo',
        shift:0
    });
});  	
</script>
<script>
	var param = {};
	function initListInfo(param) {
		param['paramMap.id'] = '${borrowDetailMap.id}';
		$.shovePost('borrowmessage.htm', param, function(data) {
			$('#msg').html(data);
		});
	}
	initListInfo(param);
	$('#sendmail').click(function() {
		var id = '${borrowUserMap.userId}';
		var username = '${borrowUserMap.username}';
		var url = "mailInit.htm?id=" + id + "&username=" + username;
		var uname = '${user.userName}';
		if (username == uname) {
			alert("您不能给自己发送站内信");
			return false;
		}
		$.shovePost('mailInit.htm', param, function(data) {
			$.jBox("iframe:" + url, {
				title : "发送站内信",
				width : 500,
				height : 400,
				buttons : {}
			});
		});
	});
	$('#reportuser').click(function() {
		var id = '${borrowUserMap.userId}';
		var username = '${borrowUserMap.username}';
		var url = "reportInit.htm?id=" + id + "&username=" + username;
		var uname = '${user.userName}';
		if (username == uname) {
			alert("您不能举报自己");
			return false;
		}
		$.shovePost('reportInit.htm', param, function(data) {
			$.jBox("iframe:" + url, {
				title : "举报此人",
				width : 500,
				height : 400,
				buttons : {}
			});
		});
	});
	$('#audit').click(function() {
		var id = $('#idStr').val();
		$(this).addClass('on');
		$('#repay').removeClass('on');
		$('#collection').removeClass('on');
		$('#info').removeClass('on');
		param['paramMap.id'] = id;
		$.shovePost('financeAudit.htm', param, function(data) {
			$('#contentList').html(data);
		});
	});
	$('#repay').click(function() {
		var id = $('#idStr').val();
		$(this).addClass('on');
		$('#audit').removeClass('on');
		$('#collection').removeClass('on');
		$('#info').removeClass('on');
		param['paramMap.id'] = id;
		$.shovePost('financeRepay.htm', param, function(data) {
			$('#contentList').html(data);
		});

	});

	$('#info').click(function() {
		var id = $('#idStr').val();
		$(this).addClass('on');
		$('#audit').removeClass('on');
		$('#repay').removeClass('on');
		$('#collection').removeClass('on');
		param['paramMap.id'] = id;
			$.shovePost('showImg.htm', param, function(data) {
				$('#contentList').html(data);
			});

		});
	$('#collection').click(function() {
		var id = $('#idStr').val();
		$(this).addClass('on');
		$('#audit').removeClass('on');
		$('#repay').removeClass('on');
		$('#info').removeClass('on');
		param['paramMap.id'] = id;
		$.shovePost('financeCollection.htm', param, function(data) {
			$('#contentList').html(data);
		});

	});
</script>

		<script>
	$('#focusonUser').click(function() {
		var username = '${borrowUserMap.username}';
		var uname = '${user.userName}';
		if (username == uname) {
			alert("您不能关注自己");
			return false;
		}
		param['paramMap.id'] = '${borrowUserMap.userId}';
		$.shovePost('focusonUser.htm', param, function(data) {
			var callBack = data.msg;
			alert(callBack);
		});
	});
</script>

		<script>
	$('#focusonBorrow').click(function() {
		var username = '${borrowUserMap.username}';
		var uname = '${user.userName}';
		if (username == uname) {
			//alert("您不能关注自己发布的借款");
			return false;
		}
		param['paramMap.id'] = '${borrowDetailMap.id}';
		$.shovePost('focusonBorrow.htm', param, function(data) {
			var callBack = data.msg;
			alert(callBack);
		});
	});
</script>

		<script type="text/javascript">
	function showImg(typeId, userId, ids) {
		var user = $("ckImg");
		if (user == null) {
			window.location.href = "login.htm";
			return;
		}
		var url = "showImg.htm?typeId=" + typeId + "&userId=" + userId;
		$.jBox("iframe:" + url, {
			title : "查看认证图片(点击图片放大)",
			width : 600,
			height : 428,
			buttons : {}
		});
	}

	function close() {
		ClosePop();
	}
</script>

		<script>
	//样式选中
	$("#licai_hover").attr('class', 'nav_first');
	//	var param = {};
	$('#invest').click(function() {
		var step = '${session.user.authStep}';
		var username = '${borrowUserMap.username}';
		var uname = '${user.userName}';
		var bid = $('#bid').val();
		if (username == uname) {
			alert("无效操作,不能投自己发布的标");
			return false;
		}
		param['id'] = '${borrowDetailMap.id}';
		if (step < 5) {
			window.location.href = 'financeInvestInit.htm?id=' + bid;
			return false;
		}
		$.shovePost('financeInvestInit.htm', param, function(data) {
			var callBack = data.msg;
			if (callBack != undefined) {
				alert(callBack);
			} else {
				window.location.href = 'financeInvestInit.htm?id=' + bid;
			}
		});
	});

	//$('#focusonBorrow').click(function() {
	//	var username = '${borrowUserMap.username}';
	//	var uname = '${user.userName}';
	//	if (username == uname) {
	//alert("您不能关注自己发布的借款");
	//	return false;
	//}
	//param['paramMap.id'] = '${borrowDetailMap.id}';
	//$.shovePost('focusonBorrow.htm', param, function(data) {
	//	var callBack = data.msg;
	//	alert(callBack);
	//});
	//});

	////$('#focusonUser').click(function() {
	//var username = '${borrowUserMap.username}';
	//var uname = '${user.userName}';
	//if (username == uname) {
	//	alert("您不能关注自己");
	//	return false;
	//}
	//param['paramMap.id'] = '${borrowUserMap.userId}';
	//$.shovePost('focusonUser.htm', param, function(data) {
	//	var callBack = data.msg;
	//	alert(callBack);
	//});
	//});
</script>

		<script type="text/javascript">
	var SysSecond;
	var InterValObj;
	$(document).ready(function() {
		SysSecond = parseInt($("#remainSeconds").html()); //这里获取倒计时的起始时间 
			InterValObj = window.setInterval(SetRemainTime, 1000); //间隔函数，1秒执行 
		});

	//将时间减去1秒，计算天、时、分、秒 
	function SetRemainTime() {
		if (SysSecond > 0) {
			SysSecond = SysSecond - 1;
			var second = Math.floor(SysSecond % 60); // 计算秒     
			var minite = Math.floor((SysSecond / 60) % 60); //计算分 
			var hour = Math.floor((SysSecond / 3600) % 24); //计算小时 
			var day = Math.floor((SysSecond / 3600) / 24); //计算天 
			var times = day + "天" + hour + "小时" + minite + "分" + second + "秒";
			$("#remainTimeOne").html(times);
			$("#remainTimeTwo").html(times);
		} else {//剩余时间小于或等于0的时候，就停止间隔函数 
			window.clearInterval(InterValObj);
			//这里可以添加倒计时时间为0后需要执行的事件 
		}
	}
</script>
</block>
