<block name="body">
<extend name="Base/common"/>
	<!--content start-->
	<div class="jk_cont_out">
    	<div class="jk_cont">
        	<div class="jk_cont_in">
        		<h2><span>我要借款</span></h2>
            	<!--模块1-->
            	<div class="jk_cont_in_cont">
                	<div class="jk_cont_in_cont_in">
                        <h3 class="h3_01">信用标</h3>
                        <h4>申请条件</h4>
                        <ul>
                            <li>21-25岁的大陆公民</li>
                            <li>手机绑定</li>
                            <li>借出信用大于20分</li>
                            <li>申请额度大于2000元</li>
                        </ul>
                        <h4>申请资料</h4>
                        <ul>
                            <li>身份证</li>
                          
                        </ul>

                        <if condition="($session eq true)">

                            <div class="jk_btn"><a href="{:U('Borrow/circulation')}">立即申请</a></div>
                        
                        <else />
                            <div class="jk_btn" style="background:#5C5D63"><a href="{:U('Home/User/login')}">立即申请</a></div>
                        </if>  
                        
                    </div>
                </div>
                
            	<!--模块2-->
                <div class="jk_cont_in_cont">
                	<div class="jk_cont_in_cont_in">                	
                        <h3 class="h3_02">净值标</h3>
                        <h4>申请条件</h4>
                        <ul>
                            <li>21-25岁的大陆公民</li>
                            <li>手机绑定</li>
                            <li>有固定工作</li>
                        </ul>
                        <h4>申请资料</h4>
                        <ul>
                            <li>身份证</li>
                            <li>房产证</li>
                       
                        </ul>
                        <if condition="($session eq true)">

                            <div class="jk_btn"><a href="{:U('Borrow/circulation')}">立即申请</a></div>
                        
                        <else />
                            <div class="jk_btn" style="background:#5C5D63"><a href="{:U('Home/User/login')}">立即申请</a></div>
                        </if>
                    </div>
                </div>
                
            	<!--模块3-->
                <div class="jk_cont_in_cont">
                	<h3 class="h3_03">秒还标</h3>
                    <h4>申请条件</h4>
                    <ul>
                    	<li>21-50岁的大陆公民</li>
                    	<li>借出信用大于20分</li>
                    	<li>有固定工作</li>
                    </ul>
                    <h4>申请资料</h4>
                    <ul>
                    	<li>身份证</li>
                   
                  
                    </ul>
                    <if condition="($session eq true)">

                        <div class="jk_btn"><a href="{:U('Borrow/circulation')}">立即申请</a></div>
                        
                    <else />
                        <div class="jk_btn" style="background:#5C5D63"><a href="{:U('Home/User/login')}">立即申请</a></div>
                    </if>
                </div>
                
            	<!--模块4-->
                <div class="jk_cont_in_cont" style="border-bottom:0">
                	<div class="jk_cont_in_cont_in">               
                        <h3 class="h3_04">担保标</h3>
                        <h4>申请条件</h4>
                        <ul>
                            <li>21-50岁的大陆公民</li>
                            <li>手机绑定</li>
                            <Li>借出信用大于20分</Li>
                        </ul>
                        <h4>申请资料</h4>
                        <ul>
                            <li>身份证</li>
                            <li>房产证</li>
                      
                        </ul>
                        <if condition="($session eq true)">

                            <div class="jk_btn"><a href="{:U('Borrow/circulation')}">立即申请</a></div>
                        
                        <else />
                            <div class="jk_btn" style="background:#5C5D63"><a href="{:U('Home/User/login')}">立即申请</a></div>
                        </if>
                	</div>
                </div>
                
            	<!--模块5-->
                <div class="jk_cont_in_cont" style="border-bottom:0">
                	<div class="jk_cont_in_cont_in">
                        <h3 class="h3_05">抵押标</h3>
                        <h4>申请条件</h4>
                        <ul>
                            <li>21-25岁的大陆公民</li>
                            <li>借出信用大于20分</li>
                            <li>有固定工作</li>
                        </ul>
                        <h4>申请资料</h4>
                        <ul>
                            <li>身份证</li>
                            <li>抵押产物复印件</li>
                           
                        </ul>
                        <if condition="($session eq true)">

                            <div class="jk_btn"><a href="{:U('Borrow/circulation')}">立即申请</a></div>
                        
                        <else />
                            <div class="jk_btn" style="background:#5C5D63"><a href="{:U('Home/User/login')}">立即申请</a></div>
                        </if>
                	</div>
                </div>

            	<!--模块6-->
                <div class="jk_cont_in_cont" style="border-bottom:0">
                	<h3 class="h3_06">实地考察标</h3>
                    <h4>申请条件</h4>
                    <ul>
                    	<li>21-25岁的大陆公民</li>
                    	<li>手机绑定</li>
                    	<li>有固定工作</li>
                    </ul>
                    <h4>申请资料</h4>
                    <ul>
                    	<li>身份证</li>
                    	<li>各项台帐资料</li>
                    	
                    </ul>
                    <if condition="($session eq true)">

                            <div class="jk_btn"><a href="{:U('Borrow/circulation')}">立即申请</a></div>
                        
                        <else />
                            <div class="jk_btn" style="background:#5C5D63"><a href="{:U('Home/User/login')}">立即申请</a></div>
                        </if>
                </div>
                
            </div>
        </div>
    </div>
    	
	<!--content end-->
</block>