<block name="body">
<extend name="Base/common"/>
    <!--content start-->
    <div class="jk_cont_out">
        <div class="jk_cont">
            <div class="jk_cont_in">
                
                <!--模块1-->
                <div class="jk_cont_in_cont">
                	<h3 class="h3_01">信用标</h3>
                    <div class="jk_cont_in_cont_in">                      
                        <h4>申请条件</h4>
                        <ul>
                            <li>1、21-25岁的大陆公民</li>
                            <li>2、手机绑定</li>                       
                            <li>3、申请额度大于2000元</li>
                        </ul>
                        <h4>申请资料</h4>
                        <ul>
                            <li>1、身份证</li>
                            <li>2、收入证明</li>
                            <li>3、近3个月的银行流水</li>
                          
                        </ul>                                             
                    </div>
                    <if condition="($session eq true)">

                            <div class="jk_btn"><a href="{:U('Borrow/circulation?type=1')}">立即申请</a></div>
                        
                        <else />
                            <div class="jk_btn" style="background:#5C5D63"><a href="{:U('Home/User/login?type=1')}">立即申请</a></div>
                        </if>
                </div>
                
                <!--模块2-->
                <div class="jk_cont_in_cont">
                	<h3 class="h3_02">净值标</h3>
                    <div class="jk_cont_in_cont_in">                                          
                        <h4>申请条件</h4>
                        <ul class="no2">
                            <li>1、21-25岁的大陆公民</li>
                            <li>2、手机绑定</li>
                            <li>3、有固定工作</li>
                        </ul>
                        <h4>申请资料</h4>
                        <ul class="no2">
                            <li>1、身份证</li>
                            <li>2、房产证</li>
                            <li>3、近3个月的银行流水</li>
                        </ul>                        
                    </div>
                    <if condition="($session eq true)">

                            <div class="jk_btn no2Btn"><a href="{:U('Borrow/circulation?type=2')}">立即申请</a></div>
                        
                        <else />
                            <div class="jk_btn" style="background:#5C5D63"><a href="{:U('Home/User/login?type=2')}">立即申请</a></div>
                        </if>
                </div>
                
                <!--模块3-->
                <div class="jk_cont_in_cont">
                    <h3 class="h3_03">车易贷</h3>
                    <div class="jk_cont_in_cont_in">
	                    <h4>申请条件</h4>
	                    <ul class="no6">
	                        <li>1、年龄21-55周岁</li>
	                        <li>2、对于二手车，过户时间必须满3个月</li>
	                        <li>3、申请人名下没有未结清车贷</li>
	                    </ul>
	                    <h4>申请资料</h4>
	                    <ul class="no6">
	                        <li>1、身份证</li>
	                        <li>2、各项台帐资料</li>
	                        <li>3、近6个月的银行流水</li>
	                    </ul>                    
                     </div>
                     <if condition="($session eq true)">
	
	                            <div class="jk_btn no6Btn"><a href="{:U('Borrow/circulation?type=6')}">立即申请</a></div>
	                        
	                        <else />
	                            <div class="jk_btn" style="background:#5C5D63"><a href="{:U('Home/User/login?type=6')}">立即申请</a></div>
	                        </if>
                </div>
                
                
                
                
                <!--模块4-->
                <div class="jk_cont_in_cont">
                	<h3 class="h3_04">担保标</h3>
                    <div class="jk_cont_in_cont_in">               
                        
                        <h4>申请条件</h4>
                        <ul class="no4">
                            <li>1、21-50岁的大陆公民</li>
                            <li>2、手机绑定</li>
                            <Li>3、借出信用大于20分</Li>
                        </ul>
                        <h4>申请资料</h4>
                        <ul class="no4">
                            <li>1、身份证</li>
                            <li>2、房产证</li>
                      
                        </ul>                       
                    </div>
                    <if condition="($session eq true)">

                            <div class="jk_btn no4Btn"><a href="{:U('Borrow/circulation?type=4')}">立即申请</a></div>
                        
                        <else />
                            <div class="jk_btn" style="background:#5C5D63"><a href="{:U('Home/User/login?type=4')}">立即申请</a></div>
                        </if>
                </div>
                
                <!--模块5-->
                <div class="jk_cont_in_cont">
                	<h3 class="h3_05">抵押标</h3>
                    <div class="jk_cont_in_cont_in">                        
                        <h4>申请条件</h4>
                        <ul class="no5">
                            <li>1、21-25岁的大陆公民</li>
                            <li>2、借出信用大于20分</li>
                            <li>3、有固定工作</li>
                        </ul>
                        <h4>申请资料</h4>
                        <ul class="no5">
                            <li>1、身份证</li>
                            <li>2、抵押产物复印件</li>
                           
                        </ul>                      
                    </div>
                    <if condition="($session eq true)">

                            <div class="jk_btn no5Btn"><a href="{:U('Borrow/circulation?type=5')}">立即申请</a></div>
                        
                        <else />
                            <div class="jk_btn" style="background:#5C5D63"><a href="{:U('Home/User/login?type=5')}">立即申请</a></div>
                        </if>
                </div>

                <!--模块6-->
                <div class="jk_cont_in_cont">
                    <h3 class="h3_06">秒还标</h3>
                    <div class="jk_cont_in_cont_in"> 
	                    <h4>申请条件</h4>
	                    <ul class="no3">
	                        <li>1、21-50岁的大陆公民</li>
	                        <li>2、借出信用大于20分</li>
	                        <li>3、有固定工作</li>
	                    </ul>
	                    <h4>申请资料</h4>
	                    <ul class="no3">
	                        <li>1、身份证</li>
	                   
	                  
	                    </ul>	                    
	               </div>
	               <if condition="($session eq true)">
	
	                        <div class="jk_btn no3Btn"><a href="{:U('Borrow/circulation?type=3')}">立即申请</a></div>
	                        
	                    <else />
	                        <div class="jk_btn" style="background:#5C5D63"><a href="{:U('Home/User/login?type=3')}">立即申请</a></div>
	                    </if>
                </div>
                
                
                
                <!--模块7-->
                <div class="jk_cont_in_cont">
                    <h3 class="h3_07">实地考察标</h3>
                    <div class="jk_cont_in_cont_in">
	                    <h4>申请条件</h4>
	                    <ul class="no6">
	                        <li>1、21-25岁的大陆公民</li>
	                        <li>2、手机绑定</li>
	                        <li>3、有固定工作</li>
	                    </ul>
	                    <h4>申请资料</h4>
	                    <ul class="no6">
	                        <li>1、身份证</li>
	                        <li>2、各项台帐资料</li>
	                        
	                    </ul>	                    
                   </div>
                   <if condition="($session eq true)">
	
	                            <div class="jk_btn no6Btn"><a href="{:U('Borrow/circulation?type=6')}">立即申请</a></div>
	                        
	                        <else />
	                            <div class="jk_btn" style="background:#5C5D63"><a href="{:U('Home/User/login?type=6')}">立即申请</a></div>
	                        </if>
                </div>
                
                <!--模块8-->
                <div class="jk_cont_in_cont">
                    <h3 class="h3_08">债券转移贷</h3>
                    <div class="jk_cont_in_cont_in">
	                    <h4>申请条件</h4>
	                    <ul class="no6">
	                        <li>1、21-25岁的大陆公民</li>
	                        <li>2、手机绑定</li>
	                        <li>3、有固定工作</li>
	                    </ul>
	                    <h4>申请资料</h4>
	                    <ul class="no6">
	                        <li>1、身份证</li>
	                        <li>2、各项台帐资料</li>
	                        
	                    </ul>	                    
                   </div>
                   <if condition="($session eq true)">
	
	                            <div class="jk_btn no6Btn"><a href="{:U('Borrow/circulation?type=6')}">立即申请</a></div>
	                        
	                        <else />
	                            <div class="jk_btn" style="background:#5C5D63"><a href="{:U('Home/User/login?type=6')}">立即申请</a></div>
	                        </if>
                </div>
                
                <!--模块9-->
                <div class="jk_cont_in_cont">
                    <h3 class="h3_09">新手体验标</h3>
                    <div class="jk_cont_in_cont_in">
	                    <h4>申请条件</h4>
	                    <ul class="no6">
	                        <li>1、21-25岁的大陆公民</li>
	                        <li>2、手机绑定</li>
	                        <li>3、有固定工作</li>
	                    </ul>
	                    <h4>申请资料</h4>
	                    <ul class="no6">
	                        <li>1、身份证</li>
	                        <li>2、各项台帐资料</li>
	                        
	                    </ul>	                    
                   </div>
                   <if condition="($session eq true)">
	
	                            <div class="jk_btn no6Btn"><a href="{:U('Borrow/circulation?type=6')}">立即申请</a></div>
	                        
	                        <else />
	                            <div class="jk_btn" style="background:#5C5D63"><a href="{:U('Home/User/login?type=6')}">立即申请</a></div>
	                        </if>
                </div>
                
                  <h4>备注：</h4>
                  <p>申请周期为 3~5 个工作日，无论是否通过申请，我们都会以邮件形式通知您； </p>
                  <p>地域不符合或者资料不全等因素可能导致您申请不通过 ，请您尝试向其他的贷款机构申请。 </p>
            </div>
        </div>
    </div>
     
    <!--content end-->
</block>