<block name="body">
<extend name="Base/common"/>
<block name="body">
        <!--content start-->
    <div class="zh_cont_out">
        <div class="zh_cont">
            <h2><a href="{:U('Index')}">我的账户</a></h2>   
                <include file="Public/borrowleft"/>
            <!--zh_cont_r-->
            <div class="zh_cont_r"><volist name="mlist" id="vo">
                <!--基本认证-->
                <div class="tab">
                    <!--<form action="{:U('add?id='.$vb['id'])}" method="post">-->
                        <div class="til01">
    <ul id="ul"><li class="on" style="font-size:18px;"><h3>当前位置>基本认证</h3></li><span class="fred" style="color: red;font-size: 12px; padding-left: 80px;line-height: 50px;display:block;"><s:fielderror fieldName="enough"></s:fielderror></span></ul>
    </div>
                        <p style="background:#d3cbc7;width:948px;height:1px;"></p>
                        <dl class="jbrz">
                            <dt>真实姓名</dt>
                            <dd><input type="text" class="txt" name="real_name" id="realName" value="{$vo.real_name}" /></dd>
                        </dl>
                        
                        <dl class="jbrz">
                            <dt>身份证</dt>
                            <dd><input type="text" class="txt" name="idcard" id="idNo" value="{$vo.idcard}" /></dd>
                        </dl>
                        
                        <dl class="sfz" >
                            <dt>身份证正面</dt>
                            <dd>
                                <input type="button" class="btn" value="上传" id="card_img" >
                                    <if condition="$vo.card_img eq ''">
                                            <img src="__STATIC__/rzg_images/default-img.jpg" width="100" height="50">
                                    <elseif condition="$vo.card_img  neq ''"/>
                                            <img src="Uploads/User/{$vo.card_img}" width="100" height="50" />
                                    </if>
                            </dd>
                        </dl>
                        
                        <dl class="jbrz sfz">
                            <dt>身份证反面</dt>
                            <dd>
                                <input type="button"  class="btn" value="上传"id="card_back_img">
                                <if condition="$vo.card_back_img eq ''">
                                            <img src="__STATIC__/rzg_images/default-img.jpg" width="100" height="50">
                                    <elseif condition="$vo.card_back_img  neq ''"/>
                                            <img src="Uploads/User/{$vo.card_back_img}" width="100" height="50" />
                                    </if>
                            </dd>
                        </dl>
                        
                        <dl class="jbrz sex">
                            <dt>性别</dt>
                            <dd><if condition="$vo.sex eq '1'">
                                    男<input type="radio" class="radio" name="sex" value="1" checked="checked"/>
                                    女<input type="radio" class="radio" name="sex" value="0" />
                                <elseif condition="$vo.sex eq '0'"/>
                                    男<input type="radio" class="radio" name="sex" value="1" />
                                    女<input type="radio" class="radio" name="sex" value="0" checked="checked"/>
                                <elseif condition="$vo.sex eq '2'"/>
                                    男<input type="radio" class="radio" name="sex" value="1" />
                                    女<input type="radio" class="radio" name="sex" value="0"/>
                                    <a href="#">请选择</a>
                                </if>
                            </dd>
                        </dl>
                        
                        <dl class="jbrz">
                            <dt>职业</dt>
                            <dd><input type="text" class="txt" name="zy" id="idNo" value="{$vo.zy}" /></dd>
                        </dl>
                        <dl class="jbrz">
                            <dt>手机号</dt>
                            <dd><input type="text" class="txt" name="cell_phone" id="idNo" value="{$vo.cell_phone}" /></dd>
                        </dl>
                        
                        <dl class="jbrz">
                            <dt>教育</dt>
                            <dd>
                                <select name="education"  class="inp50">
                                   <option value="高中">高中</option>
                                   <option value="博士以上">博士以上</option>    
                                   <option value="博士">博士</option>   
                                   <option value="硕士">硕士</option>   
                                   <option value="研究生">研究生</option>   
                                   <option value="本科">本科</option>
                                   <option value="专科">专科</option>
                                   <option value="小学">小学</option>      
                                </select>   
                            </dd>
                        </dl>
                        
                        <dl class="jbrz">
                            <dt>现居地址</dt>
                            <dd><input type="text" class="txt" name="address" value="{$vo.address}"></dd>
                        </dl>
                        <dl class="jbrz">
                            <dt><a style="color:red">*</a>信息有误:</dt><!--href="__ROOT__/Member/Userinfo/userselfset"-->
                            <dd class="txt"style="line-height:44px;text-align:left;">点击<a href="__ROOT__/Member/Userinfo/userselfset"  style="color:red">重新认证</a><dd> 
                        </dl>
                        <div class="jbrz_sub_btn">
                            
                            <input type="button" class="btn" value="下一步"/>
                        </div>
                    <!--/form-->
                </div>
                
                </volist>
            </div>
            </div>
        </div>
    </div>
    <!--content end-->      

    <script>
    $('#card_img').on('click', function(){
        // layer.msg('正在施工，无法更换')
    $.layer({
        type: 1,
        title: [
            '图片上传', 
            'background:#2B2E37; height:40px; color:#fff; border:none;' //自定义标题样式
        ],  //不显示默认标题栏
        offset : ['250px', ''],
        shade: [1], //不显示遮罩
        area: ['260px', '100px'],
        page: {html: '<form action="__URL__/upload" enctype="multipart/form-data" method="post"><input type="file"  name="filename" value=""><input  type="submit"  value="上传"></from>'},
    });
 });
    $('#card_back_img').on('click', function(){
        // layer.msg('正在施工，无法更换')
    $.layer({
        type: 1,
        title: [
            '图片上传', 
            'background:#2B2E37; height:40px; color:#fff; border:none;' //自定义标题样式
        ],  //不显示默认标题栏
        offset : ['250px', ''],
        shade: [1], //不显示遮罩
        area: ['260px', '100px'],
        page: {html: '<form action="__URL__/upload_back" enctype="multipart/form-data" method="post"><input type="file"  name="filename" value=""><input  type="submit"  value="上传"></from>'},
    });
 });
                           
</script>
</block>